@use "../../../../styles/mixins" as *;

.draft-preview-container {
  padding: 0.5rem;
  margin: 0.5rem;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.75rem;
  background-color: var(--pdz-color-surface);
  color: var(--pdz-on-color-surface);
  border-color: var(--pdz-color-primary-border);

  .header {
    display: flex;
    align-items: center;
    padding: 0.25rem 1.5rem;

    .title {
      font-size: 1.5rem; /* 24px */
      line-height: 2rem; /* 32px */
      font-family: "Nasalization RG", sans-serif;
      font-weight: 700;
    }
  }

  .drafts-grid {
    display: grid;
    height: auto;
    grid-auto-flow: row;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 1rem;
    padding: 0.5rem;
    overflow: auto;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    @media (min-width: 1536px) {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }

  .draft-card {
    display: flex;
    flex-direction: column;
    height: 100%;
    box-shadow: var(--pdz-level-2);
    background-color: var(--pdz-color-primary);
    color: var(--pdz-color-on-primary);
    border-radius: 0.75rem;

    .draft-card-body {
      flex-grow: 1;
      padding: 0.5rem;
      box-shadow: var(--pdz-level-2);
      background-color: var(--pdz-color-primary-container);
      color: var(--pdz-color-on-primary-container);
      border-radius: 0.75rem;

      .draft-card-header {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 0.5rem;
        height: fit-content;

        .league-name {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 60%;
          height: auto;
          padding: 0.25rem;
          overflow: hidden;
          font-weight: 600;
          text-align: center;
          white-space: normal;
          border-radius: 9999px;
          box-shadow: var(--pdz-level-inset-2);
          font-size: 1rem;
          background-color: var(--pdz-color-primary);
          color: var(--pdz-color-on-primary);
          text-overflow: ellipsis;
        }

        .ruleset,
        .format {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 20%;
          padding: 0.25rem;
          overflow: hidden;
          font-size: 0.75rem;
          line-height: 1rem;
          font-weight: 600;
          text-align: center;
          white-space: normal;
          border-radius: 9999px;
          box-shadow: var(--pdz-level-inset-2);
          height: fit-content;
          background-color: var(--pdz-color-primary);
          color: var(--pdz-color-on-primary);
          text-overflow: ellipsis;
        }
      }

      .sprites {
        display: grid;
        grid-template-columns: repeat(6, minmax(0, 1fr));
        gap: 0.25rem;
        padding: 0.5rem 1rem;
      }
    }

    .actions {
      display: flex;
      padding: 0.5rem;
      gap: 0.5rem;

      .matches-link {
        flex-grow: 1;
        padding: 0.25rem;
        font-weight: 600;
        text-align: center;
        box-shadow: var(--pdz-level-2);
        height: fit-content;
        background-color: var(--pdz-color-primary-container);
        color: var(--pdz-color-on-primary-container);
        border-radius: 0.75rem;
        &:hover {
          box-shadow: var(--pdz-level-1);
        }
      }

      .action-buttons {
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 0.5rem;

        .action-button {
          @include button-base(2rem, 0, 0.25rem);
        }
      }

      .confirmation {
        display: flex;
        width: 100%;
        gap: 0.5rem;

        .confirmation-text {
          flex-grow: 1;
          margin: 0.5rem;
          text-align: center;
          box-shadow: var(--pdz-level-2);
          background-color: var(--pdz-color-primary-container);
          color: var(--pdz-color-on-primary-container);
          border-radius: 0.75rem;
        }

        .button {
          @include button-base(16.666667%);
        }
      }

      .edit-menu {
        display: flex;
        width: 100%;
        gap: 0.5rem;

        .button {
          @include button-base(auto, 0.5rem, 0.5rem);

          &--trade {
            width: 33.333333%;
            color: #747c8b; // aTeam-500
          }

          &--edit-team {
            width: 33.333333%;
          }

          &--delete {
            width: 16.666667%;
          }

          &--back {
            width: 16.666667%;
          }
        }
      }
    }
  }

  .footer {
    display: flex;
    padding: 0.75rem;
    gap: 0.5rem;

    .button {
      @include button-base(auto, 0, 0.25rem);
    }

    .add-league-icon {
      width: 2rem;
      stroke: black; // symbolColor-main
    }

    .spacer {
      flex-grow: 1;
    }

    .archives-icon {
      width: 2rem;
    }
  }
}
