.bg-aTeam-300 {
  background-color: var(--pdz-color-primary-container);
  color: var(--pdz-color-on-primary-container);
}

.bg-aTeam-100 {
  background-color: var(--pdz-color-surface);
  color: var(--pdz-on-color-surface);
}

.bg-aTeam-200 {
  background-color: var(--pdz-color-primary);
  color: var(--pdz-color-on-primary);
}

.border-aTeam-200 {
  border-color: var(--pdz-color-primary-border);
}
