<div class="draft-preview-container">
  <div class="header">
    <p class="title">My Drafts</p>
  </div>
  @if (!drafts) {
    <loading></loading>
  }
  <div id="drafts" class="drafts-grid">
    @for (draft of drafts; track draft.leagueId) {
      <div class="draft-card">
        <div class="draft-card-body">
          <div class="draft-card-header">
            <div class="league-name">{{ draft.leagueName }}</div>
            <div class="ruleset">{{ draft.ruleset }}</div>
            <div class="format">{{ draft.format }}</div>
          </div>
          <div class="sprites">
            @for (pokemon of draft.team; track pokemon.name) {
              <pdz-sprite [pokemon]="pokemon"></pdz-sprite>
            }
          </div>
        </div>
        <div class="actions">
          @if (draft.menu === 'main') {
            <a class="matches-link" [routerLink]="['/', draftPath, draft.leagueId]">Matches</a>
            <div class="action-buttons">
              <barchart-svg
                class="action-button"
                [routerLink]="draft.leagueId + '/stats'"
                title="Stats"
                alt="Stats"
              ></barchart-svg>
              <edit-svg
                class="action-button"
                (click)="draft.menu = 'edit'"
                title="Edit"
                alt="Edit"
              ></edit-svg>
              <archive-add-svg
                class="action-button"
                alt="Archive"
                title="Archive"
                (click)="draft.menu = 'archive'"
              >
              </archive-add-svg>
            </div>
          } @else if (draft.menu === 'archive') {
            <div class="confirmation">
              <div class="confirmation-text">Are you sure you want to archive? This can not be undone.</div>
              <div class="button" (click)="archive(draft.leagueId)">Yes</div>
              <div class="button" (click)="draft.menu = 'main'">No</div>
            </div>
          } @else if (draft.menu === 'edit') {
            <div class="edit-menu">
              <a class="button button--back" (click)="draft.menu = 'main'">Back</a>
              <a class="button button--trade">Trade</a>
              <a
                class="button button--edit-team"
                routerLink="edit"
                [queryParams]="{ draft: draft.leagueId | json }"
                >Edit Team
              </a>
              <a class="button button--delete" (click)="draft.menu = 'delete'">Delete</a>
            </div>
          } @else if (draft.menu === 'delete') {
            <div class="confirmation">
              <div class="confirmation-text">Are you sure you want to delete? This can not be undone.</div>
              <div class="button" (click)="delete(draft.leagueId)">Yes</div>
              <div class="button" (click)="draft.menu = 'main'">No</div>
            </div>
          }
        </div>
      </div>
    }
  </div>
  <div class="footer">
    <button [routerLink]="['/', draftPath, 'new']" class="button" title="Add League">
      <plus-svg class="add-league-icon"></plus-svg>
    </button>
    <div class="spacer"></div>
    <button [routerLink]="['/', draftPath, 'archives']" class="button" title="Archives">
      <archive-svg class="archives-icon"></archive-svg>
    </button>
  </div>
</div>
