<pdz-widget label="Speed Tiers">
  <ng-container widget-options>
    <pdz-speedchart-filters
      [modifiers]="modifiersForms"
      (reset)="resetModifiers()"
    ></pdz-speedchart-filters>
  </ng-container>

  <div class="speedchart">
    <section class="speedchart__pane speedchart__pane--base">
      <span class="speedchart__title">Base Speed</span>
      <div class="speedchart__rows" #baseList>
        @for (pokemon of pokemons(); track $index) {
          @let locked = isLocked(pokemon);
          <button
            type="button"
            class="speedchart__row"
            [class.speedchart__row--opponent]="pokemon.team === 1"
            [class.speedchart__row--locked]="locked"
            [attr.aria-pressed]="locked"
            [attr.aria-label]="
              (pokemon.nickname || pokemon.name) +
              ', ' +
              pokemon.spe +
              ' base speed'
            "
            (click)="toggleLock(pokemon)"
          >
            <span class="speedchart__sprite">
              <pdz-sprite
                [pokemon]="pokemon"
                [flipped]="pokemon.team === 0"
              ></pdz-sprite>
            </span>
            <span class="speedchart__speed">{{ pokemon.spe }}</span>
            <span class="speedchart__lock">
              @if (locked) {
                <pdz-icon name="lock" size="sm"></pdz-icon>
              }
            </span>
          </button>
        }
      </div>
    </section>

    <section class="speedchart__pane speedchart__pane--tiers">
      <header class="speedchart__pane-header">
        <span class="speedchart__title">Speed Tier Groups</span>
        <span class="speedchart__title">Lvl {{ level() }}</span>
      </header>
      <div class="speedchart__groups" #groupList>
        @for (group of groups(); track group) {
          <pdz-speedtier-group [group]="group"></pdz-speedtier-group>
        }
      </div>
    </section>
  </div>
</pdz-widget>
