@use "@angular/material" as mat;

.pokemon-option {
  display: flex;
  align-items: center;
  width: auto;
  gap: 0.5rem;

  .sprite-wrapper {
    height: 2rem;
    width: 2rem;
  }

  span {
    font-size: 1em;
    line-height: 1;
  }
}

.selected-sprite {
  object-fit: contain;
  height: 2.5em;
  width: auto;
}

.form-container {
  width: 100%;
  max-width: 16rem;
  .form-input {
    font-size: 1.2rem;
    width: 100%;
  }
}

.autocomplete {
  max-height: 350px !important;
}
