<form
  class="form-container"
  [ngClass]="{
    'full-screen-on-mobile': pokemonautocomplete.isOpen,
  }"
>
  <mat-form-field class="w-full">
    @if (selectedForm.value && typeof selectedForm.value !== "string") {
      <div matPrefix class="selected-sprite">
        <sprite [flipped]="true" [pokemon]="selectedForm.value"></sprite>
      </div>
    }
    <mat-label>Pokemon</mat-label>
    <input
      type="text"
      spellcheck="false"
      matInput
      [formControl]="selectedForm"
      [matAutocomplete]="auto"
    />
    @if (selectedForm.value) {
      <button
        type="button"
        matSuffix
        mat-icon-button
        (click)="clearSelection($event)"
      >
        <mat-icon svgIcon="xmark"></mat-icon>
      </button>
    }
    <mat-autocomplete
      autoActiveFirstOption
      #auto="matAutocomplete"
      class="autocomplete test"
      [displayWith]="displayName"
      #pokemonautocomplete
      (opened)="onAutocompleteOpened()"
      (optionSelected)="selectOption($event.option.value)"
    >
      @for (option of filteredOptions | async; track $index) {
        <mat-option [value]="option" class="autocomplete-option">
          <div class="pokemon-option">
            <sprite [flipped]="true" [pokemon]="option"></sprite>
            {{ option.name }}
          </div>
        </mat-option>
      }
    </mat-autocomplete>
    @if (selectedForm.hasError("illegal")) {
      <mat-error>Pokemon is <strong>illegal</strong></mat-error>
    }
  </mat-form-field>
</form>
