<form
  [class]="'form-container ' + class"
  cdkOverlayOrigin
  #trigger="cdkOverlayOrigin"
  #pokemonForm
>
  <mat-form-field class="w-full">
    @if (showSprite !== null && setPokemon) {
      <div matPrefix class="selected-sprite">
        <sprite [flipped]="true" [pokemon]="setPokemon"></sprite>
      </div>
    }
    <mat-label>{{ label }}</mat-label>
    <input
      type="text"
      spellcheck="false"
      matInput
      (focus)="setOpen(true)"
      (input)="setOpen(true)"
      (blur)="onBlur()"
      [formControl]="selectedForm"
    />
    @if (selectedForm.value) {
      <button
        type="button"
        matSuffix
        mat-icon-button
        (click)="clearSelection($event)"
      >
        <mat-icon svgIcon="xmark"></mat-icon>
      </button>
    }

    @if (selectedForm.hasError("illegal")) {
      <mat-error>Pokemon is <strong>illegal</strong></mat-error>
    }
  </mat-form-field>
</form>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayHasBackdrop]="true"
  [cdkConnectedOverlayOffsetY]="-24"
  [cdkConnectedOverlayWidth]="pokemonForm.clientWidth"
  cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
  (backdropClick)="setOpen(false)"
  [cdkConnectedOverlayOpen]="isOpen"
  (detach)="setOpen(false)"
>
  <cdk-virtual-scroll-viewport
    itemSize="48"
    minBufferPx="240"
    maxBufferPx="400"
    class="pokemon-viewport"
    #virtualScroll
  >
    <div
      *cdkVirtualFor="
        let option of filteredOptions;
        let i = index;
        trackBy: trackByFn
      "
      class="pokemon-item"
      [ngClass]="{
        'highlighted-option': highlightedIndex === i,
      }"
      (click)="selectOption(option)"
    >
      <div class="sprite-wrapper">
        <sprite flipped [pokemon]="option"></sprite>
      </div>
      <div class="pokemon-text">
        {{ option.name }}
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</ng-template>
