@use "@angular/material" as mat;

.mainbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mat-sys-surface);
  font-size: x-large;
  width: 12rem;
  color: var(--mat-sys-primary);
  height: 8rem;
  border-radius: 2rem;
  box-shadow: var(--mat-sys-level2);

  &:hover {
    background-color: var(--mat-sys-surface-variant);
  }
}
