<div class="sprite-container" [ngStyle]="{ width: size, height: size }">
  <!-- @if (!pokemon.loaded) {
    <div class="sprite-placeholder">
      <mat-spinner [diameter]="24"></mat-spinner>
    </div>
  } -->

  @if (pokemon.id) {
    <img
      matTooltip=""
      [matTooltip]="tooltipPosition ? this.name : null"
      [matTooltipPosition]="tooltipPosition ?? 'above'"
      [ngClass]="classes"
      loading="lazy"
      [src]="path"
      (error)="fallback()"
      (load)="onSpriteLoaded()"
      [class.hidden]="!pokemon.loaded"
    />
  }
</div>
