:host {
  display: inline-flex;
}

.sprite-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.5rem;
  min-height: 1.5rem;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    display: block;
    user-select: none;
    pointer-events: none;
    transition: opacity 0.15s ease-in-out;

    // Modifiers
    &.flip {
      transform: scaleX(-1);
    }

    &.disabled {
      opacity: 0.4;
      filter: grayscale(0.5);
      &.sprite-border {
        filter: grayscale(0.5) url(#borderFilter);
      }
    }

    &.sprite-border {
      filter: url(#borderFilter);
      padding: 2px;
    }

    &.pmd {
      border-radius: 0.75rem;
      border: 1px solid var(--pdz-color-outline, currentColor);
    }
  }
}
