.rule-wrapper {
  list-style-type: disc;
}

.rule-title {
  font-family: "Nasalization RG", sans-serif;
  font-weight: bold;
  font-size: x-large;
}

::marker {
  font-weight: 700;
}

ol {
  list-style: decimal;
  @apply space-y-2;
}

ul {
  list-style-type: disc;
  margin-left: 16px;
}

.rule-description {
  padding: 0px 12px;
}
