<div class="flex w-full md:flex-row flex-col">
  <div class="xl:w-1/3 lg:w-1/4">
    <div
      class="px-4 py-2 w-fit md:my-4 mx-4 my-1 rounded-lg bg-menu-200 hover:bg-menu-300 hover:cursor-pointer border border-menu-300 hover:border-menu-400"
      routerLink="/battle-zone/pdbl"
    >
      Back
    </div>
  </div>
  <div class="flex justify-center lg:w-1/2 2xl:w-1/3 px-4">
    <div class="">
      <h1 class="text-3xl font-bold text-center font-nasa md:mt-6 mb-6">
        League Rules
      </h1>

      <div class="my-4 mx-2 bg-yellow-500 text-sm rounded-full px-3 py-1">
        The Rules are not finalized, once finalized an announcement will be made
        in the DraftZone discord server.
      </div>

      <section class="mb-10">
        <h2 class="text-2xl font-semibold font-nasa mb-4">Draft</h2>
        <ul class="list-disc list-inside space-y-2">
          <li>
            The draft order is randomized and follows a snake format (1-16,
            16-1, etc.).
          </li>
          <li>
            Each coach must draft between 10 and 12 Pokémon with a
            {{ points }}-point budget.
          </li>
          <li>
            A coach can end the draft after 10 picks without spending the full
            budget.
          </li>
          <li>
            Tera Captains are chosen after a 24-hour grace period following the
            draft.
          </li>
          <li>
            Drafting will start on TBD with a 8-hour timer per pick. The timer
            will be lowered as necessary as the draft progresses with notice.
          </li>
          <li>
            Coaches can leave picks with a tournament organizer or another
            participant behind them in the order.
          </li>
          <li>
            If a pick is skipped, the coach can make it later, but the timer for
            future picks will be halved each time a skip occurs.
          </li>
        </ul>
      </section>

      <section class="mb-10">
        <h2 class="text-2xl font-semibold font-nasa mb-4">Terastalisation</h2>
        <ul class="list-disc list-inside space-y-2">
          <li>
            Each team has {{ teraPoints }} Tera Points to allocate to Tera
            Captains.
          </li>
          <li>
            Tera Captaincy costs the same number of Tera Shards as the drafted
            point value of the Pokémon.
          </li>
          <li>
            A Tera Captain can have three Tera Types: one matching their
            original type and two additional types, including Stellar.
          </li>
          <li>
            Teams may have up to 3 Tera Captains within the
            {{ teraPoints }}-point limit.
          </li>
          <li>
            Only Pokémon with a value of 12 points or less can be Tera Captains.
          </li>
          <li>The following Pokémon cannot be Tera Captains:</li>
        </ul>
      </section>

      <section class="mb-10">
        <h2 class="text-2xl font-semibold font-nasa mb-4">Megas</h2>
        <ul class="list-disc list-inside space-y-2">
          <li>
            Megas and regular forms are drafted separately with corresponding
            point values.
          </li>
          <li>
            If a Mega form is drafted, its held item must be its Mega Stone,
            although usage in battle is optional. Opponents will always know the
            item.
          </li>
          <li>
            If a regular form is drafted, it cannot Mega Evolve in battle.
          </li>
        </ul>
      </section>

      <section class="mb-10">
        <h2 class="text-2xl font-semibold font-nasa mb-4">
          Free Agency and Trades
        </h2>
        <ul class="list-disc list-inside space-y-2">
          <li>
            Teams have up to {{ transactions }} Free Agency transactions through
            the end of Week 7.
          </li>
          <li>
            A trade transaction is used for every pokemon you recieve from the
            draft pool.
          </li>
          <li>
            Teams have up to {{ transactions }} inter-team trades through the
            end of Week 7.
          </li>
          <li>
            A 24-hour grace period allows for unlimited Free Agency and trades
            before selecting Tera Captains.
          </li>
          <li>
            Reassigning a Tera Captain within the team will consume a
            transaction.
          </li>
          <li>
            Tera types may only be changed once per season, using one of the
            {{ transactions }}
            transactions.
          </li>
          <li>Transactions take effect the following week.</li>
        </ul>
      </section>

      <section class="mb-10">
        <h2 class="text-2xl font-semibold font-nasa mb-4">
          Discord and Scheduling
        </h2>
        <ul class="list-disc list-inside space-y-2">
          <li>
            All coaches must be in the DraftZone server for the duration of the
            tournament.
          </li>
          <li>
            All match scheduling must be made in the
            <span class="bg-indigo-500 text-sm text-gray-200 font-bold px-0.5"
              ># scheduling</span
            >
            channel in the DraftZone server.
          </li>
          <li>
            If a game isn't played in the regular week, it must be scheduled for
            the 2-day extension period.
          </li>
          <li>
            Extensions or rescheduling may be allowed in cases of serious,
            sudden issues and can be requested in
            <span class="bg-indigo-500 text-sm text-gray-200 font-bold px-0.5"
              ># extension-request</span
            >.
          </li>
          <li>
            Coaches with better communication may be awarded wins in case of
            unplayed games.
          </li>
        </ul>
      </section>

      <section class="mb-10">
        <h2 class="text-2xl font-semibold font-nasa mb-4">Battles</h2>
        <ul class="list-disc list-inside space-y-2">
          <li>
            Each week, teams have a best-of-1 match in National Dex Draft
            Singles format. Extensions allow up to two additional days.
          </li>
          <li>
            Forfeits prior to the match count as a 2-0 outcome. Mid-match
            forfeits are prohibited.
          </li>
          <li>All Pokémon will be Level 100.</li>
          <li>No ghosting or coaching during battles.</li>
          <li>
            Sharing a player’s team or build with their opponent is prohibited
            and will result in penalties, including voided games and bans.
          </li>
          <li>Each team must bring 6 Pokémon to every battle.</li>
          <li>
            All battles will be on Showdown, following Gen9 NatDex Draft rules.
          </li>
        </ul>
      </section>

      <section class="mb-10">
        <h2 class="text-2xl font-semibold font-nasa mb-4">
          League Table and Playoffs
        </h2>
        <ul class="list-disc list-inside space-y-2">
          <li>
            Each team will play 8 matches. The schedule determines opponents.
          </li>
          <li>
            Standings are determined in the following order: game wins, game
            differential, head-to-head, strength of schedule, coin flip.
          </li>
          <li>
            Playoffs involve the top 8 teams, following a standard seeding
            bracket.
          </li>
          <li>Playoff scheduling follows a 7+2-day cycle for 3 weeks total.</li>
        </ul>
      </section>

      <section class="mb-10">
        <h2 class="text-2xl font-semibold font-nasa mb-4">
          Battle Clauses & Bans
        </h2>
        <ul class="list-disc list-inside space-y-2">
          <li>
            Smogon Clauses: Sleep Clause, Evasion Clause, OHKO Clause, and
            Endless Battle Clause are in effect.
          </li>
          <li>Banned abilities: Moody, Sand Veil, Snow Cloak.</li>
          <li>
            Banned items: Bright Powder, Lax Incense, King's Rock, Focus Band,
            Razor Fang, Quick Claw.
          </li>
          <li class="">
            Banned moves: Hidden Power, Shed Tail, Last Respects, Revival
            Blessing, Z Moves<z-svg class="w-6 inline-block" />.
          </li>
          <li>
            Games ending on a timer will be counted as a loss for the team that
            went to time.
          </li>
          <li>
            Baton Pass cannot be used to pass stats or Substitute unless granted
            by the opponent.
          </li>
          <li>
            Species Clause: Teams cannot draft multiple Pokémon with the same
            Pokédex number.
          </li>
        </ul>
      </section>
    </div>
  </div>
</div>
