<div class="tier-list">
  <div class="tier-list__content-wrapper">
    <div class="tier-list__header">
      <div class="tier-list__title-section">
        <div class="tier-list__title">Tier List</div>
        @if (sortedTiers()) {
          <div class="tier-list__controls">
            <div class="menu-button">
              <button
                mat-icon-button
                (click)="menu = menu === 'sort' ? null : 'sort'"
              >
                <mat-icon>sort</mat-icon>
              </button>
              @if (menu === "sort") {
                <div class="menu-button__dropdown">
                  <mat-radio-group
                    [(ngModel)]="sortBy"
                    class="menu-button__radio-group"
                  >
                    @for (option of SortOptions; track $index) {
                      <mat-radio-button [value]="option">
                        {{ option }}
                      </mat-radio-button>
                    }
                  </mat-radio-group>
                </div>
              }
            </div>
            <div class="menu-button">
              <button
                mat-icon-button
                (click)="menu = menu === 'filter' ? null : 'filter'"
              >
                <mat-icon>filter_list</mat-icon>
              </button>
              @if (menu === "filter") {
                <div class="menu-button__dropdown">
                  <div class="filter-apply">
                    <button
                      class="filter-apply__button"
                      (click)="applyFilter()"
                    >
                      Apply
                    </button>
                  </div>
                  <div class="menu-button__filter-content">
                    <mat-checkbox
                      [checked]="selectedTypes().length === types.length"
                      [indeterminate]="
                        selectedTypes().length > 0 &&
                        selectedTypes().length < types.length
                      "
                      (change)="updateFilter($event.checked)"
                    >
                      All
                    </mat-checkbox>
                    <ul class="menu-button__filter-list">
                      @for (type of types; track $index; let i = $index) {
                        <li>
                          <mat-checkbox
                            [checked]="selectedTypes().includes(type)"
                            (change)="updateFilter($event.checked, i)"
                          >
                            {{ type }}
                          </mat-checkbox>
                        </li>
                      }
                    </ul>
                  </div>
                </div>
              }
            </div>
            @if (divisionNames.length > 2) {
              <div class="menu-button">
                <button
                  mat-stroked-button
                  (click)="menu = menu === 'division' ? null : 'division'"
                >
                  Division
                </button>
                @if (menu === "division") {
                  <div class="menu-button__dropdown">
                    <mat-radio-group
                      [(ngModel)]="selectedDivision"
                      class="menu-button__radio-group"
                    >
                      @for (option of divisionNames; track $index) {
                        <mat-radio-button [value]="option">
                          {{ option }}
                        </mat-radio-button>
                      }
                    </mat-radio-group>
                  </div>
                }
              </div>
            }
            <div class="checkbox-control">
              <mat-checkbox [(ngModel)]="showDrafted"
                >Show Drafted</mat-checkbox
              >
            </div>
            <div class="search-input">
              <mat-icon class="search-input__icon">search</mat-icon>
              <input
                class="search-input__field"
                [(ngModel)]="searchText"
                (ngModelChange)="searchText.set($event)"
              />
              <mat-icon class="search-input__icon" (click)="searchText.set('')"
                >close_small</mat-icon
              >
            </div>
          </div>
        }
      </div>
    </div>
    <div class="tier-list__content">
      @if (sortedTiers()) {
        @if (compact) {
          @for (tier of sortedTiers(); track $index) {
            <div class="tier--compact flex">
              <div class="tier__label">
                {{ tier.name }}
              </div>
              @for (pokemon of tier.pokemon; track $index) {
                <div>
                  <pdz-sprite
                    [pokemon]="pokemon"
                    [tooltipPosition]="null"
                  ></pdz-sprite>
                </div>
              }
            </div>
          }
        } @else {
          <div class="tier-container">
            <div class="tier-container__wrapper">
              @for (tier of sortedTiers(); track $index) {
                <div class="tier">
                  <div class="tier__label">
                    {{ tier.name }}
                  </div>
                  <div class="tier__pokemon-list">
                    @for (pokemon of tier.pokemon; track $index) {
                      @if (
                        typeInFilter(pokemon) &&
                        (showDrafted || !isPokemonDrafted(pokemon))
                      ) {
                        @if (
                          selectedPokemon && selectedPokemon.id === pokemon.id
                        ) {
                          <div class="tier-entry--selected">
                            <button
                              class="tier-entry--selected__close"
                              (click)="clearSelection()"
                              aria-label="Close"
                            >
                              <pdz-icon size="sm" name="close"></pdz-icon>
                            </button>
                            <div class="tier-entry--selected__header">
                              <div class="tier-entry--selected__pokemon-name">
                                {{ selectedPokemon.name }}
                              </div>
                              <div class="tier-entry--selected__sprite-wrapper">
                                <pdz-sprite
                                  [pokemon]="selectedPokemon"
                                  [tooltipPosition]="null"
                                ></pdz-sprite>
                                <div
                                  class="tier-entry--selected__sprite-badges"
                                >
                                  @if (selectedPokemon.addons?.length) {
                                    <div
                                      class="tier-entry--selected__tera-cost"
                                    >
                                      <span>{{
                                        selectedPokemon.addons![0].cost
                                      }}</span>
                                      <pdz-icon
                                        name="tera"
                                        [height]="20"
                                      ></pdz-icon>
                                    </div>
                                  }
                                  @if (selectedPokemon.banned) {
                                    <pdz-icon
                                      [matTooltip]="
                                        makeBanString(pokemon.banned)
                                      "
                                      #tooltip="matTooltip"
                                      class="tier-entry--selected__restricted-icon"
                                      name="warning"
                                    ></pdz-icon>
                                  }
                                </div>
                              </div>
                            </div>

                            <div class="tier-entry--selected__info">
                              <div class="type-container">
                                @for (
                                  type of selectedPokemon.types;
                                  track $index
                                ) {
                                  <div
                                    class="type-label"
                                    [style.background-color]="typeColor(type)"
                                  >
                                    <div class="type-text">
                                      {{ type }}
                                    </div>
                                  </div>
                                }
                              </div>
                              <div class="ability-container">
                                @for (
                                  ability of selectedPokemon.abilities;
                                  track $index
                                ) {
                                  <div class="ability">
                                    {{ ability }}
                                  </div>
                                }
                              </div>
                              <div class="stats-container">
                                @for (stat of pokemonStats; track $index) {
                                  <div class="stat">
                                    <div class="stat__name">
                                      {{ stat[0] | uppercase }}
                                    </div>
                                    <div class="stat__value">
                                      {{ stat[1] }}
                                    </div>
                                  </div>
                                }
                              </div>
                            </div>

                            @if (buttonText && selectedPokemon.tier.cost) {
                              <button
                                class="tier-entry--selected__button"
                                [disabled]="isPokemonDrafted(selectedPokemon)"
                                (click)="emitDraftPokemon()"
                              >
                                {{ buttonText }}
                              </button>
                            }
                            @if (
                              altButtonText &&
                              selectedPokemon.tier.cost &&
                              selectedPokemon.addons?.length
                            ) {
                              <button
                                class="tier-entry--selected__button--alt"
                                [disabled]="isPokemonDrafted(selectedPokemon)"
                                (click)="emitDraftPokemon(true)"
                              >
                                {{ altButtonText }}
                              </button>
                            }
                          </div>
                        } @else {
                          <div
                            class="tier-entry"
                            [class.is-drafted]="
                              isPokemonDrafted(pokemon) || tier.name === 'Ban'
                            "
                            [class.is-selected]="selectedPokemon === pokemon"
                            (click)="selectPokemon(pokemon, tier)"
                          >
                            <div class="tier-entry__sprite">
                              <pdz-sprite
                                [pokemon]="pokemon"
                                [tooltipPosition]="null"
                              ></pdz-sprite>
                            </div>
                            <div class="tier-entry__content">
                              <div class="tier-entry__name">
                                {{ pokemon.name }}
                              </div>
                            </div>
                            @if (pokemon.addons?.length) {
                              <div class="tier-entry__tera-cost">
                                <span>{{ pokemon.addons![0].cost }}</span>
                                <pdz-icon name="tera" [height]="20"></pdz-icon>
                              </div>
                            }
                            @if (pokemon.banned) {
                              <pdz-icon
                                [matTooltip]="makeBanString(pokemon.banned)"
                                #tooltip="matTooltip"
                                class="tier-entry__restricted-icon"
                                name="warning"
                              ></pdz-icon>
                            }
                          </div>
                        }
                      }
                    }
                  </div>
                </div>
              }
            </div>
          </div>
        }
      } @else {
        <pdz-loading></pdz-loading>
      }
    </div>
  </div>
</div>
