$container-padding: 0.75rem;

:host {
  --card-border-radius: 1rem;
  --logo-size: 3.5rem;
  --logo-border-width: 2px;
}

.comparison-card {
  display: flex;
  flex-direction: column;
  box-shadow: var(--mat-sys-level2);
  border-radius: var(--card-border-radius);
  padding: $container-padding;
  position: relative;
  transition: all 0.3s ease-in-out;
  &.expandable {
    cursor: pointer;
  }
}

.comparison-header {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.entity-info-container {
  display: flex;
  width: 45%;
  align-items: center;
  gap: 0.5rem;
  &.right {
    justify-content: flex-end;
    .entity-info {
      text-align: end;
    }
  }
}

.entity-logo {
  width: var(--logo-size);
  height: var(--logo-size);
  border-radius: 50%;
  border: var(--logo-border-width) solid var(--mat-sys-outline-variant);
  flex-shrink: 0;
  overflow: hidden;
  box-shadow: var(--mat-sys-level1);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--mat-sys-surface-container-low);
  img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

  &.positive {
    border-color: lightgreen;
  }
  &.negative {
    border-color: lightcoral;
  }
}

.entity-info {
  flex-grow: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.entity-primary-name {
  font-size: 0.9em;
  overflow: hidden;
  line-height: 1em;
  max-height: 2em;
  font-family: var(--pdz-fancy);
  text-overflow: ellipsis;
}

.entity-secondary-name {
  font-size: 0.7em;
  color: var(--mat-sys-on-surface-variant);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  padding: 0 0.25rem;
  flex-shrink: 0;
}

.center-action-area {
  z-index: 1;
}

.center-text,
.center-icon {
  user-select: none;
  font-weight: 700;
  font-size: 0.6em;
  max-width: 1rem;
  color: var(--mat-sys-on-surface-variant);
  text-align: center;
  line-height: 0.8em;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.center-icon mat-icon {
  font-size: 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
}

.toggle-icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--mat-sys-outline);
  transition: transform 0.3s ease-in-out;
}

.status {
  border-radius: 2rem;
  padding: 0.25rem;
  font-size: 0.7em;
  user-select: none;
  line-height: 0.7em;
  transition: transform 0.3s ease-in-out;
  border: 1px solid var(--mat-sys-outline-variant);
  color: gray;
  &.active {
    z-index: 100;
    background-color: var(--mat-sys-primary);
    color: var(--mat-sys-on-primary);
  }

  &.link {
    box-shadow: var(--mat-sys-level2);

    cursor: pointer;
    &.active:active {
      margin-top: 1px;
      margin-bottom: -1px;
      box-shadow: var(--mat-sys-level0);
    }
  }
}

.comparison-content {
  padding-top: $container-padding;
  margin-top: 0.5rem;
  border-top: 1px solid var(--mat-sys-outline);
  animation: fadeIn 0.3s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
