<div (click)="test()">TEST</div>

<div class="p-4">
  <form
    [formGroup]="leagueForm"
    (ngSubmit)="onSubmit()"
    class="space-y-6 max-w-3xl mx-auto p-6 bg-menu-100 border border-menu-200 rounded-lg shadow-lg"
  >
    <div class="text-xl font-nasa">New League Form</div>

    <!-- League Name -->
    <div>
      <label for="leagueName" class="text-sm font-medium text-menu-700"
        >League Name<span class="text-required">*</span></label
      >
      <input
        id="leagueName"
        maxlength="100"
        formControlName="leagueName"
        class="w-full p-2 bg-page border rounded-md sm:text-sm"
        placeholder="Enter League Name"
      />
    </div>

    <!-- Description -->
    <div>
      <label for="description" class="text-sm font-medium text-menu-700"
        >Description<span class="text-required">*</span></label
      >
      <textarea
        id="description"
        formControlName="description"
        maxlength="500"
        class="w-full p-2 bg-page border rounded-md sm:text-sm"
        placeholder="Enter League Description"
      ></textarea>
    </div>

    <!-- Host Link -->
    <div>
      <label for="hostLink" class="text-sm font-medium text-menu-700"
        >Host Link (Discord, Battlefy, etc.)</label
      >
      <input
        id="hostLink"
        formControlName="hostLink"
        maxlength="100"
        class="w-full p-2 bg-page border rounded-md sm:text-sm"
        placeholder="Enter Host Link"
      />
    </div>

    <!-- Divisions -->
    <div formArrayName="divisions" class="space-y-6">
      <div
        *ngFor="let division of divisions.controls; let i = index"
        [formGroupName]="i"
        class="space-y-4 p-4 rounded-md border bg-page"
      >
        <h3 class="text-lg font-semibold text-menu-800">
          Division {{ i + 1 }}
        </h3>

        <div>
          <label
            for="divisionName-{{ i }}"
            class="text-sm font-medium text-menu-700"
            >Division Name<span class="text-required">*</span></label
          >
          <input
            id="divisionName-{{ i }}"
            maxlength="50"
            formControlName="divisionName"
            class="w-full bg-page p-2 border rounded-md sm:text-sm"
            placeholder="Enter Division Name"
          />
        </div>

        <!-- Skill Level Range -->
        <div formGroupName="skillLevelRange">
          <label class="text-sm font-medium text-menu-700"
            >Skill Level Range</label
          >
          <div class="flex space-x-2">
            <div class="w-1/2">
              <label for="from-{{ i }}" class="text-sm"
                >From<span class="text-required">*</span></label
              >
              <select
                formControlName="from"
                class="w-full p-2 bg-page border rounded-md sm:text-sm"
                id="from-{{ i }}"
              >
                <option value="0">Amateur</option>
                <option value="1">Intermediate</option>
                <option value="2">Advanced</option>
                <option value="3">Expert</option>
              </select>
            </div>

            <div class="w-1/2">
              <label for="to-{{ i }}" class="text-sm"
                >To<span class="text-required">*</span></label
              >
              <select
                formControlName="to"
                class="w-full p-2 bg-page border rounded-md sm:text-sm"
                id="to-{{ i }}"
              >
                <option value="0">Amateur</option>
                <option value="1">Intermediate</option>
                <option value="2">Advanced</option>
                <option value="3">Expert</option>
              </select>
            </div>
          </div>
        </div>

        <!-- Prize Value, Platform, Format, and Ruleset Section -->
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
          <!-- Platform -->
          <div>
            <label
              for="platform-{{ i }}"
              class="text-sm font-medium text-menu-700"
            >
              Platform<span class="text-required">*</span>
            </label>
            <select
              id="platform-{{ i }}"
              formControlName="platform"
              class="w-full bg-page p-2 border rounded-md sm:text-sm"
            >
              <option value="Pokémon Showdown">Pokémon Showdown</option>
              <option value="Scarlet/Violet">Scarlet/Violet</option>
              <option value="Other">Other</option>
            </select>
          </div>

          <!-- Prize Value -->
          <div>
            <label
              for="prizeValue-{{ i }}"
              class="text-sm font-medium text-menu-700"
            >
              Prize Value<span class="text-required">*</span>
            </label>
            <select
              id="prizeValue-{{ i }}"
              formControlName="prizeValue"
              class="w-full p-2 bg-page border rounded-md sm:text-sm"
            >
              <option value="0">None</option>
              <option value="1">$1 - $25</option>
              <option value="2">$25 - $75</option>
              <option value="3">$75 - $150</option>
              <option value="4">$150+</option>
            </select>
          </div>

          <!-- Format -->
          <div>
            <label
              for="format-{{ i }}"
              class="text-sm font-medium text-menu-700"
            >
              Format<span class="text-required">*</span>
            </label>
            <select
              id="format-{{ i }}"
              formControlName="format"
              class="w-full p-2 bg-page border rounded-md sm:text-sm"
            >
              <option *ngFor="let format of formats" [value]="format">
                {{ format }}
              </option>
              <option value="Other">Other</option>
            </select>
          </div>

          <!-- Ruleset -->
          <div>
            <label
              for="ruleset-{{ i }}"
              class="text-sm font-medium text-menu-700"
            >
              Ruleset<span class="text-required">*</span>
            </label>
            <select
              id="ruleset-{{ i }}"
              formControlName="ruleset"
              class="w-full p-2 bg-page border rounded-md sm:text-sm"
            >
              <option *ngFor="let ruleset of rulesets" [value]="ruleset">
                {{ ruleset }}
              </option>
              <option value="Other">Other</option>
            </select>
          </div>
        </div>

        <!-- Description -->
        <div>
          <label
            for="description-{{ i }}"
            class="text-sm font-medium text-menu-700"
            >Division Description</label
          >
          <textarea
            id="description-{{ i }}"
            formControlName="description"
            maxlength="300"
            class="w-full p-2 bg-page border rounded-md sm:text-sm"
            placeholder="Enter Division Description"
          ></textarea>
        </div>

        <button
          type="button"
          *ngIf="divisions.controls.length > 1"
          (click)="removeDivision(i)"
          class="text-red-600 hover:text-red-800 font-semibold"
        >
          Remove Division
        </button>
      </div>
    </div>

    <button
      type="button"
      (click)="addDivision()"
      class="mt-4 bg-bTeam-400 text-symbolColor-inverted p-2 rounded-md hover:bg-bTeam-500"
    >
      Add Division
    </button>

    <!-- Signup Link -->
    <div>
      <label for="signupLink" class="text-sm font-medium text-menu-700">
        Signup Link<span class="text-required">*</span>
      </label>
      <input
        id="signupLink"
        formControlName="signupLink"
        maxlength="100"
        class="w-full p-2 bg-page border rounded-md sm:text-sm"
        placeholder="Enter Signup Link"
      />
    </div>

    <!-- Closes At -->
    <div>
      <label for="closesAt" class="text-sm font-medium text-menu-700">
        Closes At<span class="text-required">*</span>
      </label>
      <input
        id="closesAt"
        formControlName="closesAt"
        type="date"
        class="w-full bg-page p-2 border rounded-md sm:text-sm"
      />
    </div>

    <!-- Season Section -->
    <div>
      <h2 class="text-lg font-semibold text-menu-700">Season</h2>

      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <!-- Season Start -->
        <div>
          <label for="seasonStart" class="text-sm font-medium text-menu-700"
            >Start</label
          >
          <input
            id="seasonStart"
            formControlName="seasonStart"
            type="date"
            class="w-full bg-page p-2 border rounded-md sm:text-sm"
          />
        </div>

        <!-- Season End -->
        <div>
          <label for="seasonEnd" class="text-sm font-medium text-menu-700"
            >End</label
          >
          <input
            id="seasonEnd"
            formControlName="seasonEnd"
            type="date"
            class="w-full bg-page p-2 border rounded-md sm:text-sm"
          />
        </div>
      </div>
    </div>

    <!-- Submit Button -->
    <div class="pt-4">
      <button
        type="submit"
        class="bg-aTeam-400 text-symbolColor-inverted p-2 rounded-md hover:bg-aTeam-500 w-full"
      >
        Submit
      </button>
    </div>
  </form>
</div>
