@use "sass:map";

@mixin apply-theme($theme) {
  --pdz-primary: #{map.get($theme, primary)};
  --pdz-on-primary: #{map.get($theme, on-primary)};
  --pdz-secondary: #{map.get($theme, secondary)};
  --pdz-on-secondary: #{map.get($theme, on-secondary)};

  --pdz-background: #{map.get($theme, background)};
  --pdz-surface: #{map.get($theme, surface)};
  --pdz-surface-container: #{map.get($theme, surface-container)};

  --pdz-on-surface: #{map.get($theme, on-surface)};
  --pdz-on-surface-variant: #{map.get($theme, on-surface-variant)};

  --pdz-outline: #{map.get($theme, outline)};
}
