@use "@angular/material" as mat;

.pdz-slide-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
  gap: 8px;

  &.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  .toggle-track {
    width: 3.5em;
    border: 0.125em solid var(--mat-sys-primary);
    height: 1em;
    background-color: var(--mat-sys-surface-variant);
    border-radius: 1em;
    position: relative;
    transition: background-color 0.3s ease;
  }

  .toggle-thumb {
    width: 1.5em;
    height: 1.5em;
    background-color: var(--mat-sys-outline);
    color: var(--mat-sys-surface-variant);
    border-radius: 50%;
    position: absolute;
    padding: 0.125em;
    top: 50%;
    left: -2px;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 100ms ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: var(--mat-sys-on-surface-variant);
    }
  }

  &.checked {
    .toggle-track {
      background-color: var(--mat-sys-primary);
    }

    .toggle-thumb {
      transform: translate(2em, -50%);
      background-color: var(--mat-sys-on-primary);
      color: var(--mat-sys-outline);
    }
  }
}
