<div class="w-full h-full grid grid-cols-3 items-center justify-items-center">
  <div class="grid h-full grid-rows-2 justify-items-center items-center w-full">
    <div
      class="w-full hover:cursor-pointer hover:border-aTeam-400 hover:bg-aTeam-300 h-full flex items-center justify-center max-h-48 border-aTeam-300 bg-aTeam-200 border text-center max-w-56 m-4 text-2xl font-nasa rounded-xl"
      routerLink="tier-list"
    >
      Tier List
    </div>
    <!-- <div
      class="w-full hover:cursor-pointer hover:border-bTeam-400 hover:bg-bTeam-300 h-full flex items-center justify-center max-h-48 border-bTeam-300 bg-bTeam-200 border text-center max-w-56 m-4 text-2xl font-nasa rounded-xl"
    >
      COACHES
    </div> -->
  </div>
  <div class="w-full aspect-square flex flex-col justify-between items-center">
    <img
      class="object-contain"
      src="../../assets/images/battle-zone/pdbl.png"
    />
    <div
      class="hover:cursor-pointer hover:border-fuchsia-400 hover:bg-fuchsia-300 flex items-center justify-center border-fuchsia-300 bg-fuchsia-200 border text-center py-4 px-8 m-4 text-2xl font-nasa rounded-xl"
      routerLink="sign-up"
    >
      Sign Up
    </div>
  </div>
  <div class="grid h-full grid-rows-2 justify-items-center items-center w-full">
    <div
      class="w-full hover:cursor-pointer hover:border-bTeam-400 hover:bg-bTeam-300 h-full flex items-center justify-center max-h-48 border-bTeam-300 bg-bTeam-200 border text-center max-w-56 m-4 text-2xl font-nasa rounded-xl"
      routerLink="rules"
    >
      Rules
    </div>
    <!-- <div
      class="w-full hover:cursor-pointer hover:border-aTeam-400 hover:bg-aTeam-300 h-full flex items-center justify-center max-h-48 border-aTeam-300 bg-aTeam-200 border text-center max-w-56 m-4 text-2xl font-nasa rounded-xl"
    >
      TIER LIST
    </div> -->
  </div>
</div>
