@use "pdz-theming" as pdz;

:host {
  display: block;
  max-width: 100%;

  --pdz-cmp-movechart-color: #{pdz.color(primary)};
  --pdz-cmp-movechart-on-container: #{pdz.color(on-primary-container)};
  --pdz-cmp-movechart-container: #{pdz.color(primary-container)};
  --pdz-cmp-movechart-hover: #{pdz.color(primary-container-low)};
  --pdz-cmp-movechart-border: #{pdz.color(primary-border)};
}

.movechart-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 34rem;
  max-height: 48rem;
  min-height: 0;
  padding: pdz.space(xs);
  overflow: hidden;
}
