@if (summary) {
  <div class="summary">
    <div class="summary__head">
      <div class="summary__row">
        <div class="summary__header summary__header--sprite"></div>
        <div
          class="summary__header summary__header--name summary__header--sortable"
          [class.summary__header--sorted]="currentSort.active === 'name'"
          [class.summary__header--reversed]="
            currentSort.active === 'name' && currentSort.direction === 'asc'
          "
          (click)="toggleSort('name')"
        >
          Name
        </div>
        <div class="summary__header summary__header--abilities">Abilities</div>
        @for (col of statColumns; track col.key) {
          <div
            class="summary__header summary__header--stat summary__header--sortable"
            [class.summary__header--sorted]="currentSort.active === col.key"
            [class.summary__header--reversed]="
              currentSort.active === col.key && currentSort.direction === 'asc'
            "
            (click)="toggleSort(col.key)"
          >
            {{ col.label }}
          </div>
        }
      </div>
    </div>

    <div class="summary__body">
      @for (pokemon of (sortedTeam$ | async) || []; track pokemon.index) {
        @let forme = activeForme(pokemon);
        <div class="summary__row">
          <div class="summary__cell summary__cell--sprite">
            <pdz-sprite
              size="3rem"
              flipped
              interactive
              [pokemon]="pokemon"
              [formeIndex]="pokemon.formeIndex ?? 0"
              (formeIndexChange)="setFormeIndex(pokemon, $event)"
            ></pdz-sprite>
          </div>
          <div class="summary__cell summary__cell--name">
            <div class="summary__pokemon-name">{{ forme.name }}</div>
            <div class="pdz-types">
              @for (type of forme.types; track $index) {
                <div class="pdz-type" [style.background-color]="typeColor(type)">
                  <div class="pdz-type__text">{{ type }}</div>
                </div>
              }
            </div>
          </div>
          <div class="summary__cell summary__cell--abilities">
            @for (ability of forme.abilities; track $index) {
              <div class="summary__ability">{{ ability }}</div>
            }
          </div>
          @for (col of statColumns; track col.key) {
            <div
              class="summary__cell summary__cell--stat"
              [class.summary__cell--stat-start]="$first"
              [class.summary__cell--stat-end]="$last"
              [style.background-color]="statCellColor(forme, col.key)"
            >
              {{ statValue(forme, col.key) }}
            </div>
          }
        </div>
      }
    </div>

    <div class="summary__foot">
      <div class="summary__row">
        <div class="summary__cell summary__cell--slider">
          <div class="summary__slider-control">
            <pdz-slider [min]="20" [max]="140" [(ngModel)]="baseValue" />
          </div>
          <div class="summary__slider-label">
            <span>Neutral Value:</span>
            <span class="summary__slider-value">{{ baseValue }}</span>
          </div>
        </div>
        <div class="summary__cell summary__cell--aggregate-labels">
          @for (row of aggregateRows; track row.key) {
            <div class="summary__aggregate-label">{{ row.label }}</div>
          }
        </div>
        @for (col of statColumns; track col.key) {
          <div
            class="summary__cell summary__cell--stat"
            [class.summary__cell--stat-start]="$first"
            [class.summary__cell--stat-end]="$last"
          >
            @for (row of aggregateRows; track row.key) {
              <div
                class="summary__aggregate"
                [style.background-color]="aggregateColor(row.key, col.key)"
              >
                {{ aggregateValue(row.key, col.key) }}
              </div>
            }
          </div>
        }
      </div>
    </div>
  </div>
}
