<!-- <div
  class="px-4 py-2 w-fit md:my-4 mx-4 my-2 rounded-lg bg-menu-200 hover:bg-menu-300 hover:cursor-pointer border border-menu-300 hover:border-menu-400"
  routerLink="/battle-zone/pdbl"
>
  Back
</div> -->
<div class="p-4">
  <form
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
    class="sign-up space-y-2"
  >
    <div class="flex justify-between h-16">
      <div class="text-xl font-nasa flex items-center">
        Pokemon DraftZone Battle League (PDBL)
      </div>
      <img src="../../../assets/images/battle-zone/pdbl.png" />
    </div>

    <!-- Discord Name -->
    <mat-form-field class="w-full">
      <mat-label>Discord Name</mat-label>
      <input
        matInput
        placeholder="Enter Discord Name"
        formControlName="discordName"
      />
      @if (signupForm.get("discordName")?.hasError("required")) {
        <mat-error>Required</mat-error>
      }
    </mat-form-field>

    <!-- Timezone -->
    <mat-form-field class="w-full">
      <mat-label>Time Zone</mat-label>
      <mat-select formControlName="timezone">
        @for (tz of timezones; track $index) {
          <mat-option [value]="tz">{{ tz }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <!-- Experience -->
    <mat-form-field class="w-full">
      <mat-label>Experience</mat-label>
      <textarea
        matInput
        formControlName="experience"
        maxlength="500"
        placeholder="How much experience do you have in draft?"
      >
      </textarea>
    </mat-form-field>

    <!-- Have Dropped -->
    <div>
      <div>Have you dropped from a league before?</div>
      <mat-radio-group formControlName="droppedBefore">
        <mat-radio-button [value]="true"> Yes </mat-radio-button>
        <mat-radio-button [value]="false"> No </mat-radio-button>
      </mat-radio-group>
    </div>
    @if (signupForm.get("droppedBefore")?.value) {
      <!-- Why -->
      <mat-form-field class="w-full">
        <mat-label>Why?</mat-label>
        <textarea matInput formControlName="droppedWhy" maxlength="500">
        </textarea>
        @if (signupForm.get("droppedWhy")?.hasError("required")) {
          <mat-error>Required</mat-error>
        }
      </mat-form-field>
    }

    <!-- Confirm -->
    <div class="text-sm font-medium">
      <div>
        Do you accept the
        <a
          target="_blank"
          href="https://pokemondraftzone.com/battle-zone/pdbl/rules"
          class="text-blue-600 hover:text-blue-700 hover:cursor-pointer"
          >league rules</a
        >
        and agree to commit to playing for the next 8-11 weeks?
      </div>
      <mat-checkbox formControlName="confirm"> Accept </mat-checkbox>
    </div>

    <div class="flex justify-between">
      <button mat-raised-button type="submit" [disabled]="!signupForm.valid">
        Submit
      </button>

      <div class="text-sm font-medium max-w-96">
        Consider
        <a
          target="_blank"
          href="https://pokemondraftzone.com/donate"
          class="text-blue-600 hover:text-blue-700 hover:cursor-pointer"
          >donating</a
        >
        to the winnings pot. <br />
        (Leave a note that it's for the draft league.)
      </div>
    </div>
  </form>
</div>
<!-- {{ signupForm.value | json }} -->
