<div class="division-header">
  <div class="division-header__meta">
    <button
      type="button"
      class="division-header__back"
      [routerLink]="['../../']"
    >
      <pdz-icon name="arrow_back" size="sm"></pdz-icon> Back
    </button>
    <div class="division-header__info">
      <h1 class="division-header__league-name">{{ leagueName }}</h1>
      <h2 class="division-header__division-name">{{ divisionName }}</h2>
    </div>
  </div>

  <img
    class="division-header__image"
    [src]="getLogoUrl(logo)"
    alt="League logo"
  />
</div>

<nav class="navigation-tabs">
  <button class="navigation-tabs__tab" routerLink="./schedule" type="button">
    Schedule
  </button>
  <button class="navigation-tabs__tab" routerLink="./teams" type="button">
    Teams
  </button>
  <button class="navigation-tabs__tab" routerLink="./standings" type="button">
    Standings
  </button>
  <button class="navigation-tabs__tab" routerLink="./tier-list" type="button">
    Tier List
  </button>
  <button class="navigation-tabs__tab" routerLink="./draft" type="button">
    Draft
  </button>
</nav>
<div class="division-body">
  <div class="section section--matchups">
    <div class="section-header">
      <h3>Matchups</h3>
    </div>
    <div class="section-body">
      @if (stage) {
        <div class="matchup-stage">
          <h4 class="matchup-stage__title">{{ stage.name }}</h4>
          <div class="matchup-stage__cards">
            @if (stage.matchups.length === 0) {
              <p class="section-message">No matchups in this stage.</p>
            } @else {
              @for (matchup of stage.matchups; track matchup.id) {
                <pdz-matchup-card [matchup]="matchup"></pdz-matchup-card>
              }
            }
          </div>
        </div>
      }
    </div>
  </div>
  <!-- @if(team){
  <div class="widget row-span-2">
    <div class="widget-title">Deimos Deoxys</div>
    <div class="widget-body">
      <pdz-league-team-card [teamDetails]="team"></pdz-league-team-card>
    </div>
  </div>
}
  <div class="widget">
    <div class="widget-title">Upcoming Matches</div>
    <div class="widget-body"></div>
  </div>
  <div class="widget row-span-3">
    <div class="widget-title">Standings</div>
    <div class="widget-body">
      <pdz-coach-standings></pdz-coach-standings>
    </div>
  </div>
  <div class="widget">
    <div class="widget-title">Recent Activity</div>
    <div class="widget-body"></div>
  </div>
  <div class="widget">
    <div class="widget-title">Matches</div>
    <div class="widget-body">
      @for (matchup of matchups; track matchup) {
        <pdz-matchup-card [matchup]="matchup"></pdz-matchup-card>
      }
    </div>
  </div>
  <div class="widget">
    <div class="widget-title">League Chat</div>
    <div class="widget-body">
      @if (tournamentId) {
        <pdz-chat [roomId]="tournamentId"></pdz-chat>
      }
    </div>
  </div> -->
</div>
