@use "@angular/material" as mat;

.team-container {
  min-height: 12.25rem;

  cdk-accordion {
    display: block;
    border: 1px solid var(--mat-sys-outline);
    border-radius: 0.5rem;
    overflow: hidden;

    cdk-accordion-item {
      display: block;
      overflow: hidden;

      &:not(:last-child) {
        border-bottom: 1px solid var(--mat-sys-outline-variant);
      }

      &:last-child {
        border-radius: 0 0 0.5rem 0.5rem;
      }

      .item-header {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: fit-content;
        align-items: center;
        height: 4rem;
        pdz-sprite {
          flex-shrink: 0;
          margin: 2px 0;
          max-width: 4rem;
          max-height: 4rem;
          @media (max-width: 768px) {
            max-width: 3rem;
            max-height: 3rem;
          }
        }

        .drag-icon {
          flex-shrink: 0;
          cursor: move;
        }

        mat-icon {
          color: var(--mat-sys-on-surface-variant);
          &.preview-warning {
            color: var(--mat-sys-error);
            width: 4rem;
            height: 3rem;
            font-size: 3rem;
          }
        }

        .pokemon-header {
          min-width: 0;
          flex-grow: 1;
          flex-shrink: 1;
          display: flex;
          align-items: center;

          .name-container {
            height: 100%;
            display: flex;
            flex-shrink: 1;
            min-width: 0;
            column-gap: 0.25rem;

            .name-title {
              flex-shrink: 1;
              min-width: 0;

              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            @media (max-width: 768px) {
              flex-direction: column;
            }

            .icon-container {
              max-height: 2rem;
              display: flex;
              align-items: center;
              fill: var(--mat-sys-on-surface-variant);
            }
          }
        }

        .setting-icon-container {
          display: flex;
          width: fit-content;
          flex-shrink: 0;
          .mat-mdc-icon-button {
            @include mat.button-density(-1);
          }
        }
      }
    }
  }

  .cosmetic-container {
    display: flex;
    align-items: center;
    > :not(:first-child) {
      margin-left: 0.5rem;
    }
    padding: 0.5rem;
  }

  .icon-grid {
    display: grid;
    gap: 0.125rem;
    align-items: center;
    justify-items: start;
    margin: 0.25rem 0.5rem;

    &.tera-container {
      // .type-wrapper:nth-child(13n + 6) {
      //   grid-column: span 2 / span 2;
      // }

      // .type-wrapper:nth-child(13n + 1),
      // .type-wrapper:nth-child(13n + 2),
      // .type-wrapper:nth-child(13n + 3),
      // .type-wrapper:nth-child(13n + 4),
      // .type-wrapper:nth-child(13n + 5),
      // .type-wrapper:nth-child(13n + 6) {
      //   transform: translateX(50%);
      // }

      padding: 0.1875rem 0;

      grid-template-columns: repeat(10, minmax(0, 1fr));
      .type-wrapper:nth-child(19n + 9) {
        grid-column: span 2 / span 2;
      }
      .type-wrapper:nth-child(19n + 1),
      .type-wrapper:nth-child(19n + 2),
      .type-wrapper:nth-child(19n + 3),
      .type-wrapper:nth-child(19n + 4),
      .type-wrapper:nth-child(19n + 5),
      .type-wrapper:nth-child(19n + 6),
      .type-wrapper:nth-child(19n + 7),
      .type-wrapper:nth-child(19n + 8),
      .type-wrapper:nth-child(19n + 9) {
        transform: translateX(calc(50% + 1px));
      }

      .type-wrapper {
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    &.z-container {
      // .type-wrapper:nth-child(7n + 7) {
      //   grid-column: span 2 / span 2;
      // }

      // .type-wrapper:nth-child(7n + 5),
      // .type-wrapper:nth-child(7n + 6),
      // .type-wrapper:nth-child(7n + 7) {
      //   transform: translateX(50%);
      // }

      padding: 0.5rem 0;

      grid-template-columns: repeat(7, minmax(0, 1fr));

      .type-wrapper:nth-child(1) {
        grid-column: span 2 / span 2;
        justify-self: end;
      }
      .type-wrapper:nth-child(5) {
        grid-column: span 2 / span 2;
        justify-self: start;
      }
      .type-wrapper:nth-child(11) {
        grid-column: span 2 / span 2;
        justify-self: start;
      }

      .type-wrapper:nth-child(6),
      .type-wrapper:nth-child(7),
      .type-wrapper:nth-child(8),
      .type-wrapper:nth-child(9),
      .type-wrapper:nth-child(10),
      .type-wrapper:nth-child(11) {
        transform: translateX(calc(50% + 1px));
      }

      .type-wrapper {
        width: 2.5rem;
        height: 0.75rem;
      }
    }
  }
}

.captain-container {
  display: flex;
  padding: 0.5rem;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;

  .type-wrapper {
    align-items: center;
    display: flex;
    cursor: pointer;

    &.selected-type {
      filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.5))
        drop-shadow(0px 1px 10px rgba(0, 0, 0, 0.2));
      padding: 0.0875rem;
      &:hover {
        padding: 0;
      }
    }

    &:not(.selected-type) {
      opacity: 0.6;
      padding: 0.25rem;
      &:hover {
        padding: 0.125rem;
      }
    }
  }

  .captain-subcontainer {
    padding: 2px;
    &:not(:first-child) {
      border-left: 1px solid var(--mat-sys-outline-variant);
    }
    .allnone-bar {
      display: flex;
      justify-content: center;
      .allnone-container {
        color: var(--mat-sys-on-primary);
        font-weight: 600;
        border: 2px solid var(--mat-sys-primary);
        background-color: var(--mat-sys-primary);
        height: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 4rem;
        overflow: hidden;
        font-size: 0.8em;
        line-height: 0.8em;

        mat-icon {
          margin: 0 0.125rem;
          height: 1.25rem;
          width: 1.25rem;
        }

        .allnone {
          width: 3rem;
          height: 100%;
          background-color: var(--mat-sys-primary);
          color: var(--mat-sys-on-primary);
          border-radius: 4rem;
          &:hover,
          &:disabled {
            background-color: var(--mat-sys-surface);
            color: var(--mat-sys-on-surface-variant);
          }
        }
      }
    }

    &.box-container {
      display: flex;
      flex-direction: column;
    }
  }
}

.advanced-container {
  padding: 1rem 0.5rem;
  mat-form-field {
    width: 100%;
    padding: 0 0.25rem;
  }
  > :not(:first-child) {
    margin-top: 0.5rem;
  }
}

.add-bar {
  padding: 0.25rem 0;
  align-items: center;
  display: flex;
  @media (max-width: 768px) {
    flex-direction: column-reverse;
    > :not(:first-child) {
      margin-bottom: 0.5rem;
    }
  }
  @include mat.button-density(1);
  .add-spacer {
    flex-grow: 1;
  }
  > :not(:first-child) {
    margin-left: 0.5rem;
  }
  .capt-button {
    color: var(--mat-sys-on-surface-variant);
  }
  div {
    display: flex;
    align-items: center;
    > :not(:first-child) {
      margin-left: 0.5rem;
    }
  }
}

.cdk-drag-preview {
  height: 4rem;
}

.settings-icon {
  transition: transform 1s ease-in-out;

  .cdk-accordion-item[aria-expanded="true"] & {
    transform: rotate(180deg);
  }

  .cdk-accordion-item[aria-expanded="false"] & {
    transform: rotate(0deg);
  }
}

mat-tab-group {
  background-color: var(--mat-sys-surface-variant);

  .tab-icon-wrapper {
    margin-left: 0.25rem;
    height: 1em;
    width: 1em;
    mat-icon {
      height: 100%;
      width: 100%;
      font-size: 1em;
    }
  }
}

.main-container {
  @include mat.tabs-overrides(
    (
      divider-color: var(--mat-sys-outline-variant),
    )
  );
  @include mat.divider-overrides(
    (
      color: var(--mat-sys-outline-variant),
    )
  );
}

pdz-slide-toggle {
  padding: 0.125rem;
}

pokemon-select,
mat-form-field {
  margin-bottom: -1.5rem;
}

.import-container {
  width: 100%;
  min-height: 16.25rem;
  mat-form-field {
    width: 100%;
  }

  textarea {
    resize: none;
  }
}
