@if (teamArray) {
  <div class="main-container">
    @if (importing) {
      <div class="import-container">
        <div class="add-bar">
          <mat-chip-set #importChipGrid>
            @for (monGroup of teamArray.controls; track $index) {
              <mat-chip>
                <pdz-sprite
                  matChipAvatar
                  flipped
                  [pokemon]="monGroup.controls.pokemon.value"
                ></pdz-sprite>
                {{ monGroup.controls.pokemon.value.name }}
                <button matChipRemove (click)="deletePokemon($index)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </mat-chip>
            }
          </mat-chip-set>
          <div class="add-spacer"></div>
          <button mat-flat-button (click)="importing = false; importPokemon()">
            Details
          </button>
        </div>
        <mat-form-field floatLabel="always">
          <mat-label>Pokemon</mat-label>
          <textarea
            placeholder="Add pokemon..."
            spellcheck="false"
            matInput
            [(ngModel)]="importInput"
            (keydown.enter)="handlePokemonInput($event)"
            cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="18"
          ></textarea>
        </mat-form-field>
      </div>
    } @else {
      <div class="add-bar">
        <div>
          <pokemon-select
            #pokemonInput
            [ruleset]="ruleset"
            (pokemonSelected)="
              addPokemon($event); pokemonInput.clearSelection()
            "
            appearance="outline"
            label="Add Pokemon"
          ></pokemon-select>

          <button
            mat-icon-button
            class="capt-button"
            cdkOverlayOrigin
            (click)="teamOption = true"
            #trigger="cdkOverlayOrigin"
          >
            <mat-icon svgIcon="capt"></mat-icon>
          </button>

          <ng-template
            cdkConnectedOverlay
            [cdkConnectedOverlayOrigin]="trigger"
            [cdkConnectedOverlayHasBackdrop]="true"
            cdkConnectedOverlayGrowAfterOpen
            [cdkConnectedOverlayOffsetY]="4"
            cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
            (backdropClick)="teamOption = false"
            [cdkConnectedOverlayOpen]="teamOption"
            (detach)="teamOption = false"
          >
            <div class="flex-overlay">
              <mat-checkbox
                [checked]="isAllSelected('tera')"
                [indeterminate]="partialSelected('tera')"
                (change)="toggleTeamControl('tera', $event.checked)"
              >
                <span> Team Tera</span>
                <mat-icon svgIcon="tera"></mat-icon>
              </mat-checkbox>
              <mat-checkbox
                [checked]="isAllSelected('z')"
                [indeterminate]="partialSelected('z')"
                (change)="toggleTeamControl('z', $event.checked)"
              >
                <span> Team Z</span>
                <mat-icon svgIcon="z"></mat-icon>
              </mat-checkbox>
              <mat-checkbox
                [checked]="isAllSelected('dmax')"
                [indeterminate]="partialSelected('dmax')"
                (change)="toggleTeamControl('dmax', $event.checked)"
              >
                <span>Team Dynamax</span>
                <mat-icon svgIcon="dmax"></mat-icon>
              </mat-checkbox>
            </div>
          </ng-template>
        </div>

        <div class="add-spacer"></div>
        <button mat-flat-button (click)="importing = true">Import</button>
      </div>
      <div class="team-container">
        @if (teamArray.value.length > 0) {
          <cdk-accordion
            #movechartAccordion
            cdkDropList
            (cdkDropListDropped)="drop($event)"
          >
            @for (
              monGroup of teamArray.controls;
              track monGroup;
              let index = $index
            ) {
              <cdk-accordion-item
                #accordionItem="cdkAccordionItem"
                [ngClass]="{ invalid: !monGroup.valid }"
                cdkDrag
              >
                <div *cdkDragPreview>
                  @if (monGroup.valid) {
                    <pdz-sprite
                      flipped
                      [pokemon]="monGroup.controls.pokemon.value"
                    >
                    </pdz-sprite>
                  } @else {
                    <mat-icon class="preview-warning">warning</mat-icon>
                  }
                </div>
                <button (click)="accordionItem.toggle()" class="item-header">
                  <div class="pokemon-header">
                    <mat-icon class="drag-icon" cdkDragHandle
                      >drag_indicator</mat-icon
                    >
                    @if (monGroup.valid) {
                      <pdz-sprite
                        class="preview-sprite"
                        flipped
                        [pokemon]="{
                          id: monGroup.controls.pokemon.value.id,
                          name: monGroup.controls.pokemon.value.name,
                          shiny: !!monGroup.controls.shiny.value,
                        }"
                      ></pdz-sprite>
                    } @else {
                      <mat-icon class="preview-warning">warning</mat-icon>
                    }
                    <div class="name-container">
                      <div class="name-title font-nasa">
                        {{
                          monGroup.controls.nickname.value ||
                            monGroup.controls.pokemon.value.name
                        }}
                      </div>

                      <div class="icon-container">
                        @if (
                          monGroup.controls.tera.value &&
                          monGroup.controls.tera.value.length > 0
                        ) {
                          <mat-icon svgIcon="tera"></mat-icon>
                        }
                        @if (
                          monGroup.controls.z.value &&
                          monGroup.controls.z.value.length > 0
                        ) {
                          <mat-icon svgIcon="z"></mat-icon>
                        }
                        @if (monGroup.controls.dmax.value) {
                          <mat-icon svgIcon="dmax"></mat-icon>
                        }
                      </div>
                    </div>
                  </div>
                  <div class="setting-icon-container">
                    <button mat-icon-button>
                      <mat-icon
                        class="settings-icon"
                        [@rotateIcon]="
                          accordionItem.expanded ? 'expanded' : 'collapsed'
                        "
                      >
                        settings
                      </mat-icon>
                    </button>
                    <button
                      mat-icon-button
                      (click)="deletePokemon(index); $event.stopPropagation()"
                    >
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </button>
                <div
                  [@expandCollapse]="
                    accordionItem.expanded ? 'expanded' : 'collapsed'
                  "
                  class="accordion-content"
                >
                  <mat-tab-group
                    dynamicHeight
                    mat-stretch-tabs="false"
                    (selectedTabChange)="onTabChange(monGroup, $event)"
                  >
                    <mat-tab>
                      <ng-template mat-tab-label>
                        <span>Captain</span>
                        <span class="tab-icon-wrapper">
                          <mat-icon svgIcon="capt"></mat-icon>
                        </span>
                      </ng-template>
                      <div class="captain-container">
                        <div class="captain-subcontainer box-container">
                          <pdz-slide-toggle
                            [ngModel]="monGroup.controls.tera.value"
                            (checkedChange)="
                              setArrayControl(
                                monGroup.controls.tera,
                                $event ? teraTypes : null
                              )
                            "
                            onSVG="tera"
                            offSVG="tera"
                          >
                            Tera Captain
                          </pdz-slide-toggle>
                          <pdz-slide-toggle
                            [ngModel]="monGroup.controls.z.value"
                            (checkedChange)="
                              setArrayControl(
                                monGroup.controls.z,
                                $event ? zTypes : null
                              )
                            "
                            onSVG="z"
                            offSVG="z"
                          >
                            Z Captain
                          </pdz-slide-toggle>
                          <pdz-slide-toggle
                            [formControl]="monGroup.controls.dmax"
                            onSVG="dmax"
                            offSVG="dmax"
                          >
                            Dynamax Captain
                          </pdz-slide-toggle>
                        </div>
                        @if (monGroup.controls.tera.value) {
                          <div class="captain-subcontainer">
                            <div class="allnone-bar">
                              <div class="allnone-container">
                                <button
                                  (click)="monGroup.controls.tera.setValue([])"
                                  matRipple
                                  [disabled]="
                                    !monGroup.controls.tera.value.length
                                  "
                                  class="allnone"
                                >
                                  None
                                </button>
                                <mat-icon svgIcon="tera"></mat-icon>
                                <button
                                  (click)="
                                    addAllTypes(
                                      monGroup.controls.tera,
                                      teraTypes
                                    )
                                  "
                                  matRipple
                                  [disabled]="
                                    (monGroup.controls.tera.value.length || 0) >
                                    18
                                  "
                                  class="allnone"
                                >
                                  All
                                </button>
                              </div>
                            </div>
                            <div class="icon-grid tera-container">
                              @for (type of teraTypes; track type) {
                                <div
                                  class="type-wrapper"
                                  [ngClass]="{
                                    'selected-type':
                                      monGroup.controls.tera.value.includes(
                                        type
                                      ),
                                  }"
                                  (click)="
                                    toggleType(
                                      monGroup.controls.tera,
                                      type,
                                      monGroup.controls.tera.value.includes(
                                        type
                                      )
                                    )
                                  "
                                >
                                  <img
                                    [src]="
                                      '../../../../assets/icons/tera_types/Tera' +
                                      type +
                                      '.png'
                                    "
                                  />
                                </div>
                              }
                            </div>
                          </div>
                        }
                        @if (monGroup.controls.z.value) {
                          <div class="captain-subcontainer">
                            <div class="allnone-bar">
                              <div class="allnone-container">
                                <button
                                  (click)="monGroup.controls.z.setValue([])"
                                  matRipple
                                  [disabled]="!monGroup.controls.z.value.length"
                                  class="allnone"
                                >
                                  None
                                </button>
                                <mat-icon svgIcon="z"></mat-icon>
                                <button
                                  (click)="
                                    addAllTypes(monGroup.controls.z, zTypes)
                                  "
                                  matRipple
                                  [disabled]="
                                    (monGroup.controls.z.value.length || 0) > 17
                                  "
                                  class="allnone"
                                >
                                  All
                                </button>
                              </div>
                            </div>
                            <div class="icon-grid z-container">
                              @for (type of zTypes; track type) {
                                <div
                                  class="type-wrapper"
                                  [ngClass]="{
                                    'selected-type':
                                      monGroup.controls.z.value.includes(type),
                                  }"
                                  (click)="
                                    toggleType(
                                      monGroup.controls.z,
                                      type,
                                      monGroup.controls.z.value.includes(type)
                                    )
                                  "
                                >
                                  <img
                                    [src]="
                                      '../../../../assets/icons/z_types/' +
                                      type +
                                      '_Z_Crystal.png'
                                    "
                                  />
                                </div>
                              }
                            </div>
                          </div>
                        }
                      </div>
                    </mat-tab>
                    <mat-tab>
                      <ng-template mat-tab-label>
                        <span>Cosmetics</span>
                        <div class="tab-icon-wrapper">
                          <mat-icon svgIcon="shiny"></mat-icon>
                        </div>
                      </ng-template>
                      <div class="cosmetic-container">
                        <dz-slide-toggle
                          [formControl]="monGroup.controls.shiny"
                          onSVG="shiny"
                          offSVG="shiny"
                        >
                          Shiny
                        </dz-slide-toggle>
                        <mat-form-field class="small-form">
                          <mat-label>Nickname</mat-label>
                          <input
                            maxlength="18"
                            matInput
                            [formControl]="monGroup.controls.nickname"
                          />
                          @if (
                            monGroup.controls.nickname.value &&
                            monGroup.controls.nickname.value.length > 13
                          ) {
                            <mat-hint align="end"
                              >{{ monGroup.controls.nickname.value.length }} /
                              18</mat-hint
                            >
                          }
                        </mat-form-field>
                      </div>
                    </mat-tab>
                    <mat-tab>
                      <ng-template mat-tab-label>
                        <span>Advanced</span>
                        <span class="tab-icon-wrapper">
                          <mat-icon>construction</mat-icon>
                        </span>
                      </ng-template>
                      <div class="advanced-container">
                        @if (monGroup.formeList && monGroup.formeList.length) {
                          <div>
                            <mat-form-field>
                              <mat-label>Formes</mat-label>
                              <mat-chip-grid #formeChipGrid>
                                @for (
                                  forme of monGroup.controls.formes.value;
                                  track $index
                                ) {
                                  <mat-chip-row
                                    (removed)="
                                      removeChip(
                                        monGroup.controls.formes,
                                        $index
                                      )
                                    "
                                  >
                                    <pdz-sprite
                                      matChipAvatar
                                      flipped
                                      [pokemon]="forme"
                                    ></pdz-sprite>
                                    {{ forme.name }}
                                    <button matChipRemove>
                                      <mat-icon>cancel</mat-icon>
                                    </button>
                                  </mat-chip-row>
                                }
                              </mat-chip-grid>

                              <input
                                placeholder="Search formes..."
                                [matChipInputFor]="formeChipGrid"
                                #formeInput
                                [matAutocomplete]="formeAuto"
                              />

                              <mat-autocomplete
                                #formeAuto="matAutocomplete"
                                (optionSelected)="
                                  selectedChip(monGroup.controls.formes, $event)
                                "
                                [displayWith]="displayFn"
                              >
                                @for (
                                  formeOption of monGroup.formeList;
                                  track formeOption
                                ) {
                                  <mat-option
                                    [value]="formeOption"
                                    [disabled]="
                                      isSelected(
                                        monGroup.controls.formes,
                                        formeOption
                                      )
                                    "
                                  >
                                    <div class="flex space-x-2 items-center">
                                      <pdz-sprite
                                        size="2rem"
                                        flipped
                                        [pokemon]="formeOption"
                                      ></pdz-sprite>
                                      <span> {{ formeOption.name }} </span>
                                    </div>
                                  </mat-option>
                                }
                              </mat-autocomplete>
                            </mat-form-field>
                          </div>
                        }
                        <div class="modifier-container">
                          <mat-form-field>
                            <mat-label>Additional Moves</mat-label>
                            <mat-chip-grid #moveChipGrid>
                              @for (
                                move of monGroup.controls.moves.value;
                                track $index
                              ) {
                                <mat-chip-row
                                  (removed)="
                                    removeChip(monGroup.controls.moves, $index)
                                  "
                                >
                                  {{ move }}
                                  <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                  </button>
                                </mat-chip-row>
                              }
                            </mat-chip-grid>
                            <input
                              placeholder="New move..."
                              [matChipInputFor]="moveChipGrid"
                              (matChipInputTokenEnd)="
                                addChip(monGroup.controls.moves, $event)
                              "
                            />
                          </mat-form-field>
                          <mat-form-field>
                            <mat-label>New Abilities</mat-label>
                            <mat-chip-grid #abilityChipGrid>
                              @for (
                                move of monGroup.controls.abilities.value;
                                track $index
                              ) {
                                <mat-chip-row
                                  (removed)="
                                    removeChip(
                                      monGroup.controls.abilities,
                                      $index
                                    )
                                  "
                                >
                                  {{ move }}
                                  <button matChipRemove>
                                    <mat-icon>cancel</mat-icon>
                                  </button>
                                </mat-chip-row>
                              }
                            </mat-chip-grid>
                            <input
                              placeholder="New ability..."
                              [matChipInputFor]="abilityChipGrid"
                              (matChipInputTokenEnd)="
                                addChip(monGroup.controls.abilities, $event)
                              "
                            />
                          </mat-form-field>
                        </div>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                </div>
              </cdk-accordion-item>
            }
          </cdk-accordion>
        }
      </div>
    }
  </div>
}
<!-- @for (control of teamArray.controls; track $index) {
  {{ control.value | json }}
} -->
