<div class="main-container">
  @if (importing) {
  } @else {
    <div class="add-bar">
      <button mat-flat-button>Add pokemon</button>
      <button mat-flat-button>Import</button>
    </div>
    <div class="team-container">
      <cdk-accordion #movechartAccordion>
        @for (pokemon of teamArray.controls; track pokemon) {
          <cdk-accordion-item #accordionItem="cdkAccordionItem">
            <button (click)="accordionItem.toggle()" class="item-header">
              <div class="flex items-center">
                <span>
                  <mat-icon>drag_indicator</mat-icon>
                </span>
                <sprite
                  size="2.5rem"
                  flipped
                  [pokemon]="{
                    id: pokemon.controls.pokemon.value.id,
                    name: pokemon.controls.pokemon.value.name,
                    shiny: !!pokemon.controls.shiny.value,
                  }"
                ></sprite>
                {{
                  pokemon.controls.nickname.value ||
                    pokemon.controls.pokemon.value.name
                }}
                <div class="tera-wrapper">
                  <tera-svg></tera-svg>
                </div>
              </div>
              <div>
                <button mat-icon-button>
                  <mat-icon>settings</mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </button>
            @if (accordionItem.expanded) {
              <mat-tab-group mat-stretch-tabs="false">
                <mat-tab>
                  <ng-template mat-tab-label>
                    <span>Cosmetics</span>
                    <mat-icon>health_and_beauty</mat-icon>
                  </ng-template>
                  <div class="tab-container">
                    <mat-checkbox [formControl]="pokemon.controls.shiny"
                      >Shiny</mat-checkbox
                    >
                    <mat-form-field>
                      <mat-label>Nickname</mat-label>
                      <input
                        matInput
                        [formControl]="pokemon.controls.nickname"
                      />
                    </mat-form-field>
                  </div>
                </mat-tab>

                <mat-tab>
                  <ng-template mat-tab-label>
                    <span>Captain</span>
                    <mat-icon>sports</mat-icon>
                  </ng-template>
                  <div class="tab-container">
                    <mat-checkbox [formControl]="pokemon.controls.dmax"
                      >Dynamax Captain</mat-checkbox
                    >
                    <mat-checkbox [formControl]="pokemon.controls.z"
                      >Z Captain</mat-checkbox
                    >
                    <mat-checkbox [formControl]="pokemon.controls.tera"
                      >Tera Captain</mat-checkbox
                    >
                  </div>
                </mat-tab>

                <mat-tab>
                  <ng-template mat-tab-label>
                    <span>Advanced</span>
                    <mat-icon>construction</mat-icon>
                  </ng-template>
                  <div class="tab-container">
                    <mat-form-field>
                      <mat-label>Formes</mat-label>
                      <mat-chip-grid #formeChipGrid>
                        @for (keyword of keywords(); track keyword) {
                          <mat-chip-row (removed)="removeKeyword(keyword)">
                            <sprite matChipAvatar [name]="keyword"></sprite>
                            {{ keyword }}
                            <button matChipRemove>
                              <mat-icon>cancel</mat-icon>
                            </button>
                          </mat-chip-row>
                        }
                      </mat-chip-grid>
                      <input
                        placeholder="New formes..."
                        [matChipInputFor]="formeChipGrid"
                        (matChipInputTokenEnd)="add($event)"
                        #formeInput
                        [matAutocomplete]="formeAuto"
                        [matChipInputSeparatorKeyCodes]="separatorKeyCodes"
                      />
                      <mat-autocomplete
                        #formeAuto="matAutocomplete"
                        (optionSelected)="
                          selected($event); formeInput.value = ''
                        "
                      >
                        @for (formeOption of formeOptions; track formeOption) {
                          <mat-option [value]="formeOption.id">
                            {{ formeOption.name }}</mat-option
                          >
                        }
                      </mat-autocomplete>
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Additional Moves</mat-label>
                      <mat-chip-grid #moveChipGrid></mat-chip-grid>
                      <input
                        placeholder="New move..."
                        [matChipInputFor]="moveChipGrid"
                      />
                    </mat-form-field>
                    <mat-form-field>
                      <mat-label>New Abilities</mat-label>
                      <mat-chip-grid #abilityChipGrid> </mat-chip-grid>
                      <input
                        placeholder="New ability..."
                        [matChipInputFor]="abilityChipGrid"
                      />
                    </mat-form-field>
                  </div>
                </mat-tab>
              </mat-tab-group>
            }
          </cdk-accordion-item>
        }
      </cdk-accordion>
    </div>
  }
</div>
<!-- @for (control of teamArray.controls; track $index) {
  {{ control.value | json }}
} -->
