.draft-option {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  font-family: var(--pdz-font-fancy);
  justify-content: center;
  padding: var(--pdz-space-lg);
  width: fit-content;
  max-width: 30%;
  min-height: fit-content;
  max-height: fit-content;
  max-height: 16rem;
  user-select: none;
  .sprite-wrapper {
    width: 100%;
    height: 100%;
  }
}

.option-info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;

  .type-label {
    align-items: center;
    display: flex;
    width: 3.5rem;
    height: 1.5rem;

    .type-text {
      font-size: 0.8rem;
      line-height: 1.5rem;
    }
  }
}

.qd-reroll {
  color: var(--pdz-color-primary);
  font-size: 1.5rem;
  align-items: center;
  display: flex;
  column-gap: 0;
  border-radius: 10rem;
  padding: 0 0.5rem 0 0.25rem;

  mat-icon {
    font-size: 1rem;
    width: fit-content;
    height: fit-content;
    &.small-icon {
      font-size: 0.8rem;
    }
  }
  &:hover {
    border: 1px solid var(--pdz-color-primary);
  }
}

.pick-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  height: 100%;
  width: 100%;

  .pick-body {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
}

.draft-section {
  display: flex;
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  justify-content: space-around;
  align-items: center;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.box-wrapper {
  width: 100%;
  padding: var(--pdz-space-lg);
  flex-grow: 1;
  height: 100%;
  flex-shrink: 0;

  @media (min-width: 768px) {
    max-width: 16rem;
  }
}

.info-box {
  box-shadow: var(--pdz-level-2);
  border-radius: var(--pdz-shape-corner-lg);
  overflow: auto;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 768px) {
    height: 100%;
    width: 100%;
  }

  .box-title {
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    font-family: var(--pdz-font-fancy);
    border-bottom: 2px solid var(--pdz-color-primary-border);
  }
}

.drafted-pokemon {
  display: flex;
  align-items: center;
  min-width: 6rem;
  column-gap: 1rem;

  @media (max-width: 768px) {
    flex-direction: column;
    width: 10rem;
  }

  .sprite-wrapper {
    height: 3rem;
    width: 3rem;
    flex-shrink: 0;
  }

  .drafted-pokemon-info {
    flex-grow: 1;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;

    .drafted-pokemon-name {
      flex-grow: 1;
      display: flex;
      align-items: center;
      font-weight: var(--pdz-font-weight-bold);
    }
  }
}

.box-body {
  font-family: var(--pdz-font-fancy);
  display: flex;
  height: 100%;
  width: 100%;
  row-gap: 0.25rem;

  @media (min-width: 768px) {
    flex-direction: column;
  }

  .setting {
    .setting-name {
      font-weight: 600;
    }
  }
}

.setting-tier {
  padding-left: 0.5rem;
}
.tier-count {
  color: lightcoral;
}

.active-pick {
  color: var(--pdz-color-primary);
}

.no-selected {
  display: flex;
  height: 100%;
  align-items: center;
  text-align: center;
  opacity: 0.4;
  font-size: 1.2rem;
}

.option-breakdown {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  .sprite-wrapper {
    max-width: 100%;
    max-height: 100%;
    padding: 0 1rem;
  }
}

.option-abilities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  column-gap: 1rem;
  font-size: 0.8rem;
  color: var(--pdz-color-primary);
}

.option-stats {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(2rem, 1fr));
  width: 100%;
  max-width: 8rem;
  column-gap: 1rem;
  row-gap: 0.5rem;
  justify-content: space-around;

  .option-stat {
    display: flex;
    flex-direction: column;
    align-items: center;

    .option-stat-name {
      font-size: 0.7rem;
    }

    .option-stat-value {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      background-color: var(--pdz-color-surface);
      font-family: var(--pdz-font-regular);
      border-radius: var(--pdz-shape-corner-xs);
      box-shadow: var(--pdz-level-2);
    }
  }
}

.drafted-pokemon-container {
  overflow-y: auto;
  scrollbar-gutter: stable;
  margin-right: -1.5rem;
  align-items: stretch;
  padding: var(--pdz-space-sm);
}

:host {
  padding: 1rem 0rem;
}
