<div class="flex justify-center w-full p-4">
  <div class="form-content">
    <div class="page-title">
      <button
        [routerLink]="['/', draftPath]"
        class="p-2 m-3 rounded-lg shadow-md bg-aTeam-300 hover:shadow shadow-aTeam-600"
      >
        Cancel
      </button>
      <p class="text-3xl font-nasa">New League</p>
    </div>
    @if (draftForm) {
      <draft-form-core
        [draftForm]="draftForm"
        (formSubmitted)="newDraft($event)"
      ></draft-form-core>
    } @else {
      <loading></loading>
    }
  </div>
</div>
