@use "../../../styles/mixins/buttons" as *;
@use "../../../styles/global.scss" as *;

.widget-container {
  width: fit-content;
  max-width: 100%;
  .widget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 0 1rem 0.5rem;
    font-weight: var(--pdz-font-weight-bold);
    .widget-label {
      font-size: 1.2rem;
      font-family: var(--pdz-font-fancy);
    }

    .widget-options {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
    }
  }

  .widget-body {
    max-width: 100%;
    width: 100%;
    overflow-x: auto;
  }
}

.matchup-main {
  background: linear-gradient(
    to right,
    pdz-color(primary-subtle),
    pdz-color(background),
    pdz-color(secondary-subtle)
  );
  height: 100%;
  overflow-y: auto;

  .matchup-header {
    display: flex;
    align-items: center;
    padding: var(--pdz-space-sm);
    column-gap: 1rem;
    z-index: 5001;
    pointer-events: none;

    button {
      pointer-events: auto;
      @include flat-button-menu(
        (
          max-width: 4rem,
        )
      );
    }

    .details-spacer {
      flex-grow: 1;
      display: flex;
      justify-content: center;

      .details-container {
        pointer-events: auto;
        display: flex;
        flex-wrap: wrap;
        z-index: 5001;
        margin-top: -0.75rem;
        padding: 0.25rem 1rem;
        border-radius: 0 0 var(--pdz-shape-corner-sm) var(--pdz-shape-corner-sm);
        width: fit-content;
        justify-content: space-evenly;
        column-gap: 2rem;
        row-gap: var(--pdz-space-xs);
        background-color: pdz-color(surface);
        box-shadow: var(--pdz-level-2);
      }
    }

    @media (min-width: 768px) {
      top: 0;
      position: sticky;

      button {
        pointer-events: auto;
        @include flat-button-menu(
          (
            max-width: 5rem,
          )
        );
      }
    }
  }

  .matchup-body {
    padding: var(--pdz-space-lg);
    @media (max-width: 768px) {
      padding: var(--pdz-space-sm);
    }
  }
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--pdz-space-2xs);
  text-align: center;
  .detail-title {
    font-weight: var(--pdz-font-weight-bold);
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: pdz-color(primary);
  }
  .detail-text {
    font-weight: var(--pdz-font-weight-bold);
    font-size: 1rem;
    line-height: 1rem;
    color: pdz-color(on-surface);
  }
}

@mixin widget-container() {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-height: fit-content;
  height: fit-content;
  align-items: start;
  width: 100%;
  gap: 1rem;

  > * {
    padding: var(--pdz-space-md);
    max-width: 100%;
    width: fit-content;
    border-radius: var(--pdz-shape-corner-lg);
    background-color: var(--pdz-color-surface);
    box-shadow: var(--pdz-level-3);
  }
}
