.widget-container {
  width: fit-content;
  max-width: 100%;
  .widget-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    padding: 0 1rem 0.5rem;
    // color: var(--pdz-color-primary);
    font-weight: 700;
    .widget-label {
      font-size: 1.2em;
      font-family: var(--pdz-font-fancy);
    }

    .widget-options {
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
    }
  }

  .widget-body {
    max-width: 100%;
    width: fit-content;
    overflow-x: auto;
  }
}

.matchup-main {
  background: linear-gradient(
    to right,
    var(--pdz-color-primary-subtle),
    var(--pdz-color-background),
    var(--pdz-color-secondary-subtle)
  );
  height: 100%;
  overflow-y: auto;

  .matchup-header {
    display: flex;
    padding: var(--pdz-space-sm);
    column-gap: 1rem;
    z-index: 5001;

    .details-spacer {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      .details-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-top: -0.5rem;
        padding: 0.25rem 1rem;
        border-radius: 0 0 1rem 1rem;
        width: fit-content;
        justify-content: space-evenly;
        column-gap: 2rem;
        row-gap: 0.125rem;
        // border-top: px solid var(--pdz-color-menu-divider);
        background-color: var(--pdz-color-surface);
        box-shadow: var(--pdz-level-2);
      }
    }

    @media (min-width: 768px) {
      top: 0;
      position: sticky;
    }
  }
}

.detail-container {
  text-align: center;
  .detail-title {
    font-weight: 700;
    font-size: 0.8em;
    height: 1rem;
    color: var(--pdz-color-primary);
  }
  .detail-text {
    font-weight: 700;
    font-size: 1em;
    color: var(--pdz-color-on-surface);
  }
}

.shared-backdrop {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--pdz-space-xl);
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);

  .shared-container {
    max-width: 50rem;
    width: 100%;
    background-color: var(--pdz-color-surface);
    box-shadow: var(--pdz-level-4);
    border-radius: var(--pdz-shape-corner-lg);
    padding: var(--pdz-space-lg);
    position: relative;

    .share-header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      .share-title {
        font-size: 1.5em;
        font-weight: bold;
        font-family: var(--pdz-font-fancy);
      }
      button {
        position: absolute;
        right: 0;
        top: 0;
      }
    }

    .share-body {
      display: flex;
      flex-direction: column;
      row-gap: 1rem;
      .url-container {
        border: 1px solid var(--pdz-color-primary-border);
        border-radius: var(--pdz-shape-corner-lg);
        padding: 0 0.5rem;

        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .url-text {
          text-overflow: ellipsis;
          width: fit-content;
          overflow: hidden;

          max-width: 100%;
          display: block;
        }
      }
      .matchup-preview-container {
        border: 1px solid var(--pdz-color-primary-border);
        border-radius: var(--pdz-shape-corner-lg);
        padding: 0 1rem;
        .details-container {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-evenly;
          border-bottom: 1px solid var(--pdz-color-primary-border);
        }
        .teams-container {
          display: flex;
          padding: 0.25rem 0;
          > :not(:last-child) {
            border-right: 1px solid var(--pdz-color-primary-border);
          }
          .team-container {
            width: 50%;
            padding: 0 0.25rem;

            .name-container {
              padding: var(--pdz-space-xs);
              .name-text {
                height: 1.2rem;
                text-align: center;
                font-weight: 600;
              }
              .coach-text {
                height: 1.2rem;
                font-size: 0.8em;
                text-align: center;
                font-weight: 600;
              }
            }

            .sprite-container {
              display: grid;
              gap: 0.5rem;
              grid-template-columns: repeat(4, minmax(0, 1fr));
              .sprite-wrapper {
                position: relative;
                .capt-label {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  position: absolute;
                  top: 0;
                  right: 0;
                  background-color: var(--pdz-color-primary);
                  color: var(--pdz-color-on-primary);
                  box-shadow: var(--pdz-level-2);

                  border-radius: var(--pdz-shape-corner-lg);
                  mat-icon {
                    height: 1.5rem;
                    width: 1.5rem;
                  }
                  @media (max-width: 768px) {
                    mat-icon {
                      height: 1rem;
                      width: 1rem;
                    }
                  }
                }
                .speed-label {
                  position: absolute;
                  bottom: 0;
                  font-weight: 600;
                  background-color: var(--pdz-color-surface);
                  box-shadow: var(--pdz-level-2);
                  padding: 0 0.125rem;
                  border-radius: var(--pdz-shape-corner-lg);
                  color: var(--pdz-color-primary);
                  @media (max-width: 768px) {
                    font-size: 0.7em;
                    line-height: 0.7em;
                    padding: var(--pdz-space-xxs);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
