<div class="matchup-main">
  <div class="matchup-header">
    <div class="details-spacer">
      <div class="details-container">
        @if (matchupData) {
          <div class="detail-container">
            <p class="detail-title">League Name</p>
            <p class="detail-text">
              {{ matchupData.details.leagueName }}
            </p>
          </div>
          <div class="detail-container">
            <p class="detail-title">Stage</p>
            <p class="detail-text">{{ matchupData.details.stage }}</p>
          </div>
          <div class="detail-container">
            <p class="detail-title">Ruleset</p>
            <p class="detail-text">{{ matchupData.details.ruleset }}</p>
          </div>
          <div class="detail-container">
            <p class="detail-title">Format</p>
            <p class="detail-text">{{ matchupData.details.format }}</p>
          </div>
          @if (timeString) {
            <div class="detail-container">
              <p class="detail-title">Game Time</p>
              <p class="detail-text">{{ timeString }}</p>
            </div>
          }
        }
      </div>
    </div>
  </div>
  @if (matchupData) {
    <matchup [matchupData]="matchupData"></matchup>
  } @else {
    <loading></loading>
  }
</div>
