<div class="flex justify-center w-full p-4">
  <div
    class="w-full m-2 border-2 max-w-400 bg-aTeam-100 rounded-xl border-aTeam-200"
  >
    <div class="flex items-center space-x-4">
      <button
        [routerLink]="['/', cancelPath]"
        class="p-2 m-3 rounded-lg shadow-md bg-aTeam-300 hover:shadow shadow-aTeam-600"
      >
        Cancel
      </button>
      <div>
        <p class="text-3xl font-nasa">Edit League</p>
      </div>
    </div>
    @if (draftForm) {
      <draft-form-core
        [draftForm]="draftForm"
        (formSubmitted)="editDraft($event)"
      ></draft-form-core>
    } @else {
      <loading></loading>
    }
  </div>
</div>
