@use "pdz-theming" as pdz;

:host {
  display: block;
  max-width: 100%;

  --pdz-cmp-summary-border: #{pdz.color(primary-border)};
}

:host(.alternate) {
  --pdz-cmp-summary-border: #{pdz.color(secondary-border)};
}
