<div class="flex flex-wrap justify-center gap-4 p-4 text-xs">
  <overview class="z-10" [teams]="overview"></overview>
  <summary class="z-10" [teams]="summary" style="list-style: none"></summary>
  <speedchart class="z-10" [speedchart]="speedChart"></speedchart>
  <typechart class="z-10" [typecharts]="typeChart"></typechart>
  <movechart class="z-10 h-128" [teams]="moveChart"></movechart>
  <coveragechart
    class="z-10 w-128"
    [coverage]="coverageChart"
    [typecharts]="typeChart"
  ></coveragechart>
</div>
