<div
  class="type__container"
  [class.type__container--small]="size === 'small'"
  [class.type__container--large]="size === 'large'"
  [class.type__container--column]="direction === 'column'"
  [class.type__container--disabled]="disabled"
  [style.background]="disabled ? null : color"
  [style.border]="'1px solid ' + color"
  [style.color]="color"
>
  @if ((display === "icon" || display === "both") && typeIconName) {
    <pdz-icon
      class="type__icon"
      [name]="typeIconName"
      [size]="iconSize"
      [style.color]="disabled ? color : 'white'"
      [attr.aria-label]="type"
    />
  }
  @if (display === "text" || display === "both") {
    <span class="type__text">{{ type }}</span>
  }
</div>
