@use "../base/tokens" as *;

$theme: (
  light: (
    background: "cyan-50",
    surface: "cyan-100",
    surface-variant: "cyan-300",
    surface-container-lowest: "white",
    surface-container-low: "gray-50",
    surface-container: "gray-100",
    surface-container-high: "gray-200",
    surface-container-highest: "gray-300",
    on-surface: "gray-950",
    on-surface-variant: "gray-900",
    outline: "gray-700",
    outline-variant: "gray-400",

    primary: "cyan-800",
    primary-lighter: "cyan-700",
    primary-darker: "cyan-900",
    on-primary: "white",
    primary-container: "cyan-300",
    primary-container-lighter: "cyan-200",
    primary-container-darker: "cyan-400",
    primary-container-hover: "cyan-400",
    on-primary-container: "cyan-950",
    primary-hover: "cyan-900",
    primary-border: "cyan-500",
    primary-subtle: "cyan-200",
    primary-gradient: "primary-gradient-light",

    secondary: "orange-500",
    secondary-lighter: "orange-400",
    secondary-darker: "orange-600",
    on-secondary: "white",
    secondary-container: "orange-200",
    secondary-container-lighter: "orange-100",
    secondary-container-darker: "orange-300",
    secondary-container-hover: "orange-300",
    on-secondary-container: "orange-900",
    secondary-hover: "orange-700",
    secondary-border: "orange-300",
    secondary-subtle: "orange-100",

    menu-background: "white",
    menu-item-text: "gray-950",
    menu-item-hover-background: "gray-50",
    menu-item-selected-background: "gray-100",
    menu-divider: "gray-300",

    error: "red-800",
    on-error: "white",
    error-container: "red-100",
    on-error-container: "red-950",
    warning: "amber-500",
    on-warning: "amber-950",
    warning-container: "amber-200",
    on-warning-container: "amber-900",
    success: "green-700",
    on-success: "white",
    success-container: "green-200",
    on-success-container: "green-950",
    info: "blue-700",
    on-info: "white",
    info-container: "blue-200",
    on-info-container: "blue-950",

    disabled-surface: "gray-200",
    on-disabled: "gray-500",

    surface-inverse: "gray-900",
    on-surface-inverse: "gray-100",

    shadow: "black",
    scrim: "black",

    logo-ring-1: "orange-200",
    logo-ring-2: "orange-300",
    logo-ring-3: "orange-400",
    logo-ring-4: "orange-500",
    logo-ring-5: "orange-600",
    logo-ring-6: "orange-700",
    logo-ring-7: "orange-800",
    logo-core-1: "white",
    logo-core-2: "logo-core-color",
    logo-top: "cyan-500",
    logo-bottom: "orange-500",
    logo-background: "white",
  ),
  dark: (
    background: "gray-950",
    surface: "dark-900",
    surface-variant: "dark-750",
    surface-container-lowest: "black",
    surface-container-low: "dark-850",
    surface-container: "dark-surface",
    surface-container-high: "dark-750",
    surface-container-highest: "dark-650",
    on-surface: "gray-100",
    on-surface-variant: "gray-400",
    outline: "gray-600",
    outline-variant: "gray-800",

    primary: "cyan-500",
    primary-lighter: "cyan-400",
    primary-darker: "cyan-600",
    on-primary: "cyan-950",
    primary-container: "cyan-950",
    primary-container-lighter: "cyan-900",
    primary-container-darker: "black",
    primary-container-hover: "cyan-900",
    on-primary-container: "cyan-300",
    primary-hover: "cyan-450",
    primary-border: "cyan-700",
    primary-subtle: "cyan-900",
    primary-gradient: "primary-gradient-dark",

    secondary: "orange-400",
    secondary-lighter: "orange-300",
    secondary-darker: "orange-500",
    on-secondary: "orange-950",
    secondary-container: "orange-850",
    secondary-container-lighter: "orange-800",
    secondary-container-darker: "orange-900",
    secondary-container-hover: "orange-800",
    on-secondary-container: "orange-200",
    secondary-hover: "orange-450",
    secondary-border: "orange-600",
    secondary-subtle: "orange-900",

    menu-background: "dark-surface-low",
    menu-item-text: "gray-100",
    menu-item-hover-background: "dark-surface-high",
    menu-item-selected-background: "dark-surface-highest",
    menu-divider: "gray-800",

    error: "red-200",
    on-error: "red-950",
    error-container: "red-900",
    on-error-container: "red-100",
    warning: "amber-200",
    on-warning: "amber-900",
    warning-container: "amber-900",
    on-warning-container: "amber-200",
    success: "green-400",
    on-success: "green-950",
    success-container: "green-950",
    on-success-container: "green-200",
    info: "blue-400",
    on-info: "blue-950",
    info-container: "blue-950",
    on-info-container: "blue-200",

    disabled-surface: "gray-800",
    on-disabled: "gray-600",

    surface-inverse: "gray-100",
    on-surface-inverse: "gray-900",

    shadow: "black",
    scrim: "black",

    logo-ring-1: "orange-200",
    logo-ring-2: "orange-300",
    logo-ring-3: "orange-400",
    logo-ring-4: "orange-500",
    logo-ring-5: "orange-600",
    logo-ring-6: "orange-700",
    logo-ring-7: "orange-800",
    logo-core-1: "white",
    logo-core-2: "logo-core-color",
    logo-top: "cyan-800",
    logo-bottom: "orange-500",
    logo-background: "white",
  ),
);
