@use "../base/tokens" as *;

$theme: (
  light: (
    background: "purple-50",
    surface: "purple-100",
    surface-variant: "purple-300",
    surface-container-lowest: "white",
    surface-container-low: "purple-100",
    surface-container: "purple-150",
    surface-container-high: "purple-250",
    surface-container-highest: "purple-350",
    on-surface: "gray-950",
    on-surface-variant: "gray-900",
    outline: "gray-700",
    outline-variant: "gray-400",

    primary: "purple-600",
    primary-lighter: "purple-500",
    primary-darker: "purple-700",
    on-primary: "white",
    primary-container: "purple-200",
    primary-container-lighter: "purple-100",
    primary-container-darker: "purple-300",
    primary-container-hover: "purple-300",
    on-primary-container: "purple-950",
    primary-hover: "purple-700",
    primary-border: "purple-400",
    primary-subtle: "purple-100",
    primary-gradient: "primary-gradient-purple",

    secondary: "pink-600",
    secondary-lighter: "pink-500",
    secondary-darker: "pink-700",
    on-secondary: "white",
    secondary-container: "pink-100",
    secondary-container-lighter: "pink-50",
    secondary-container-darker: "pink-200",
    secondary-container-hover: "pink-200",
    on-secondary-container: "pink-950",
    secondary-hover: "pink-800",
    secondary-border: "pink-400",
    secondary-subtle: "pink-50",

    menu-background: "white",
    menu-item-text: "gray-950",
    menu-item-hover-background: "purple-100",
    menu-item-selected-background: "purple-150",
    menu-divider: "purple-350",

    error: "red-800",
    on-error: "white",
    error-container: "red-100",
    on-error-container: "red-950",
    warning: "amber-500",
    on-warning: "amber-950",
    warning-container: "amber-200",
    on-warning-container: "amber-900",
    success: "green-700",
    on-success: "white",
    success-container: "green-200",
    on-success-container: "green-950",
    info: "blue-700",
    on-info: "white",
    info-container: "blue-200",
    on-info-container: "blue-950",

    disabled-surface: "gray-200",
    on-disabled: "gray-500",

    surface-inverse: "gray-900",
    on-surface-inverse: "gray-100",

    shadow: "black",
    scrim: "black",

    logo-ring-1: "pink-300",
    logo-ring-2: "pink-350",
    logo-ring-3: "pink-400",
    logo-ring-4: "pink-450",
    logo-ring-5: "pink-500",
    logo-ring-6: "pink-550",
    logo-ring-7: "pink-600",
    logo-core-1: "white",
    logo-core-2: "logo-core-color",
    logo-top: "purple-500",
    logo-bottom: "pink-500",
    logo-background: "white",
  ),
  dark: (
    // Surface Colors
    background: "gray-950",
    surface: "gray-900",
    surface-variant: "gray-800",
    surface-container-lowest: "black",
    surface-container-low: "gray-850",
    surface-container: "gray-850",
    surface-container-high: "gray-800",
    surface-container-highest: "gray-750",
    on-surface: "gray-100",
    on-surface-variant: "gray-400",
    outline: "gray-600",
    outline-variant: "gray-800",

    primary: "purple-400",
    primary-lighter: "purple-300",
    primary-darker: "purple-500",
    on-primary: "purple-950",
    primary-container: "purple-950",
    primary-container-lighter: "purple-900",
    primary-container-darker: "black",
    primary-container-hover: "purple-800",
    on-primary-container: "purple-300",
    primary-hover: "purple-300",
    primary-border: "purple-700",
    primary-subtle: "purple-900",
    primary-gradient: "primary-gradient-purple",

    // Secondary Colors
    secondary: "pink-400",
    secondary-lighter: "pink-300",
    secondary-darker: "pink-500",
    on-secondary: "pink-950",
    secondary-container: "pink-950",
    secondary-container-lighter: "pink-800",
    secondary-container-darker: "pink-900",
    secondary-container-hover: "pink-800",
    on-secondary-container: "pink-200",
    secondary-hover: "debug",
    secondary-border: "pink-600",
    secondary-subtle: "debug",

    // Menu Colors
    menu-background: "gray-850",
    menu-item-text: "gray-100",
    menu-item-hover-background: "gray-800",
    menu-item-selected-background: "gray-750",
    menu-divider: "gray-800",

    error: "red-200",
    on-error: "red-950",
    error-container: "red-900",
    on-error-container: "red-100",
    warning: "amber-200",
    on-warning: "amber-900",
    warning-container: "amber-900",
    on-warning-container: "amber-200",
    success: "green-400",
    on-success: "green-950",
    success-container: "green-950",
    on-success-container: "green-200",
    info: "blue-400",
    on-info: "blue-950",
    info-container: "blue-950",
    on-info-container: "blue-200",

    disabled-surface: "gray-800",
    on-disabled: "gray-600",

    surface-inverse: "gray-100",
    on-surface-inverse: "gray-900",

    shadow: "black",
    scrim: "black",

    logo-ring-1: "pink-300",
    logo-ring-2: "pink-350",
    logo-ring-3: "pink-400",
    logo-ring-4: "pink-450",
    logo-ring-5: "pink-500",
    logo-ring-6: "pink-550",
    logo-ring-7: "pink-600",
    logo-core-1: "white",
    logo-core-2: "logo-core-color",
    logo-top: "purple-500",
    logo-bottom: "pink-500",
    logo-background: "white",
  ),
);
