<div class="flex w-full px-1 bg-slate-400 rounded-t-xl">
  <div class="flex w-full pb-1 border-b border-slate-300">
    <h1 class="w-full text-xl font-bold text-center">Speed Table</h1>
    <img
      class="px-1 mx-1 mt-2 ml-auto text-sm rounded-md w-7 bg-slate-300"
      src="../../../assets/icons/filter.svg"
      title="Filter"
    />
  </div>
</div>
<div class="border-4 border-slate-400 bg-slate-400">
  <div class="bg-slate-200">
    <div class="flex border-b-2 border-slate-400">
      <div class="py-2 text-medium">Name</div>
      <div class="py-2 text-medium">Desc</div>
      <div class="py-2 text-medium">Spe</div>
    </div>
  </div>
  <div
    *ngIf="speedchart"
    class="w-full overflow-y-auto max-h-128 md:w-128 snap-y snap-mandatory"
  >
    <div *ngFor="let tier of speedchart.tiers">
      <div
        *ngIf="filtered(tier)"
        class="flex space-x-2 border-b snap-start border-slate-400"
        [ngClass]="speedClasses(tier)"
      >
        <div>{{ tier.name }}</div>
        <div>{{ tier.speed }}</div>
        <div>
          {{ tier.modifiers }}
          <div *ngIf="tier.modifiers.includes('max+')" class="w-4">
            <img src="../../../../assets/icons/circle-plus.svg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="w-full h-3 rounded-b-full bg-slate-400"></div>
