.team-info {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  .movechart-wrapper {
    max-width: 30%;
  }

  .coverage-wrapper {
    max-width: 60%;
  }
}

.team-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  .team-name {
    font-family: var(--pdz-font-fancy);
    font-size: 3rem;
  }
  .team-index {
    box-shadow: var(--pdz-level1);
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1rem;
    width: 6rem;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.label {
  font-weight: bold;
}

input {
  width: 5rem;
  text-align: center;
}
