.tooltip-container {
  position: fixed;
  background-color: var(--pdz-color-surface-inverse);
  opacity: 0.9;
  color: var(--pdz-color-on-surface-inverse);
  padding: var(--pdz-space-xs) var(--pdz-space-sm);
  border-radius: var(--pdz-shape-corner-xs);
  font-size: var(--pdz-font-sm);
  z-index: 1000;
  pointer-events: none;
  transform: translate(-50%, -100%);
}
