@use "pdz-theming" as pdz;

.tooltip-container {
  position: fixed;
  background-color: pdz.color(surface-inverse);
  opacity: 0.9;
  color: pdz.color(on-surface-inverse);
  padding: pdz.space(xs) pdz.space(sm);
  border-radius: pdz.shape(corner-xs);
  font-size: var(--pdz-font-sm);
  z-index: 1000;
  pointer-events: none;
  transform: translate(-50%, -100%);
}
