<div class="flex space-x-2 items-center border border-menu-300 p-2 rounded">
  <select
    [(ngModel)]="selectedOption"
    class="border-menu-100 rounded border bg-page"
  >
    @for (option of options; track $index) {
      <option [ngValue]="option">
        {{ option.name }}
      </option>
    }
  </select>

  @if (
    selectedOption.operations.length > 0 && selectedOption.query !== "boolean"
  ) {
    <select
      [(ngModel)]="condition.operation"
      (ngModelChange)="onOperationChange()"
      class="border-menu-100 rounded border bg-page"
    >
      @for (operation of selectedOption.operations; track $index) {
        <option [ngValue]="operation">
          {{ operation }}
        </option>
      }
    </select>
  }
  @if (selectedOption.query !== "") {
    <div class="flex items-center space-x-2">
      @switch (selectedOption.query) {
        @case ("string") {
          <input
            class="border-menu-100 rounded border bg-page"
            [(ngModel)]="queryValue"
            type="text"
            placeholder="Enter text"
          />
        }
        @case ("number") {
          <input
            class="border-menu-100 rounded border bg-page"
            [(ngModel)]="queryValue"
            type="number"
            placeholder="Enter number"
          />
        }
        @case ("type") {
          <select
            class="border-menu-100 rounded border bg-page"
            [(ngModel)]="queryValue"
          >
            @for (type of typeOptions; track $index) {
              <option [ngValue]="type">
                {{ type }}
              </option>
            }
          </select>
        }
        @case ("eggs") {
          <select
            class="border-menu-100 rounded border bg-page"
            [(ngModel)]="queryValue"
          >
            @for (group of eggGroups; track $index) {
              <option [ngValue]="group">
                {{ group }}
              </option>
            }
          </select>
        }
        @case ("tier") {
          <select
            class="border-menu-100 rounded border bg-page"
            [(ngModel)]="queryValue"
          >
            @for (tier of tiers; track $index) {
              <option [ngValue]="tier">
                {{ tier }}
              </option>
            }
          </select>
        }
        @case ("evolves") {
          <select
            class="border-menu-100 rounded border bg-page"
            [(ngModel)]="queryValue"
          >
            <option *ngFor="let option of evolveOptions" [ngValue]="option">
              {{ option }}
            </option>
          </select>
        }
        @case ("boolean") {
          <input
            class="border-menu-100 rounded border bg-page"
            [(ngModel)]="queryValue"
            type="checkbox"
          />
        }
      }
    </div>
  }
</div>
