<div class="flex space-x-1">
  <select [(ngModel)]="selectedOption" class="border">
    <option *ngFor="let option of options" [ngValue]="option">
      {{ option.name }}
    </option>
  </select>

  <select
    *ngIf="
      selectedOption.operations.length > 0 && selectedOption.query !== 'boolean'
    "
    [(ngModel)]="condition.operation"
    (ngModelChange)="onOperationChange()"
    class="border"
  >
    <option
      *ngFor="let operation of selectedOption.operations"
      [ngValue]="operation"
    >
      {{ operation }}
    </option>
  </select>

  <div class="border w-fit" *ngIf="selectedOption.query !== ''">
    <ng-container [ngSwitch]="selectedOption.query">
      <input
        *ngSwitchCase="'string'"
        class="w-36"
        [(ngModel)]="queryValue"
        type="text"
        placeholder="Enter text"
      />
      <input
        *ngSwitchCase="'number'"
        class="w-20"
        [(ngModel)]="queryValue"
        type="number"
        placeholder="Enter number"
      />

      <select *ngSwitchCase="'type'" [(ngModel)]="queryValue">
        <option *ngFor="let type of typeOptions" [ngValue]="type">
          {{ type }}
        </option>
      </select>

      <select *ngSwitchCase="'eggs'" [(ngModel)]="queryValue">
        <option *ngFor="let egg of eggGroups" [ngValue]="egg">
          {{ egg }}
        </option>
      </select>

      <select *ngSwitchCase="'tier'" [(ngModel)]="queryValue">
        <option *ngFor="let tier of tiers" [ngValue]="tier">
          {{ tier }}
        </option>
      </select>

      <input
        *ngSwitchCase="'boolean'"
        [(ngModel)]="queryValue"
        type="checkbox"
      />
    </ng-container>
  </div>
</div>

<!-- Debugging -->
<!-- option
{{ selectedOption | json }}
operation
{{ selectedOperation | json }}
value
{{ queryValue | json }} -->
