<div class="flex space-x-2 items-center border border-gray-300 p-2 rounded">
  <select
    [(ngModel)]="selectedOption"
    class="form-select border-gray-300 rounded"
  >
    <option *ngFor="let option of options" [ngValue]="option">
      {{ option.name }}
    </option>
  </select>

  <select
    *ngIf="
      selectedOption.operations.length > 0 && selectedOption.query !== 'boolean'
    "
    [(ngModel)]="condition.operation"
    (ngModelChange)="onOperationChange()"
    class="form-select border-gray-300 rounded"
  >
    <option
      *ngFor="let operation of selectedOption.operations"
      [ngValue]="operation"
    >
      {{ operation }}
    </option>
  </select>

  <div *ngIf="selectedOption.query !== ''" class="flex items-center space-x-2">
    <ng-container [ngSwitch]="selectedOption.query">
      <input
        *ngSwitchCase="'string'"
        class="form-input border-gray-300 rounded w-36"
        [(ngModel)]="queryValue"
        type="text"
        placeholder="Enter text"
      />
      <input
        *ngSwitchCase="'number'"
        class="form-input border-gray-300 rounded w-20"
        [(ngModel)]="queryValue"
        type="number"
        placeholder="Enter number"
      />
      <select
        *ngSwitchCase="'type'"
        class="form-select border-gray-300 rounded"
        [(ngModel)]="queryValue"
      >
        <option *ngFor="let type of typeOptions" [ngValue]="type">
          {{ type }}
        </option>
      </select>
      <select
        *ngSwitchCase="'eggs'"
        class="form-select border-gray-300 rounded"
        [(ngModel)]="queryValue"
      >
        <option *ngFor="let egg of eggGroups" [ngValue]="egg">
          {{ egg }}
        </option>
      </select>
      <select
        *ngSwitchCase="'tier'"
        class="form-select border-gray-300 rounded"
        [(ngModel)]="queryValue"
      >
        <option *ngFor="let tier of tiers" [ngValue]="tier">
          {{ tier }}
        </option>
      </select>
      <input
        *ngSwitchCase="'boolean'"
        class="form-checkbox rounded"
        [(ngModel)]="queryValue"
        type="checkbox"
      />
    </ng-container>
  </div>
</div>
