<form [formGroup]="form" (ngSubmit)="onSave()">
  <div class="details-container">
    <label pdz-field label="Tier Name" required class="form-field-full-width">
      <input pdz-input formControlName="name" placeholder="e.g. S, A, B" />
      @if (
        form.controls.name.touched && form.controls.name.hasError("required")
      ) {
        <span pdz-error>Tier name is required</span>
      }
      @if (form.controls.name.hasError("maxlength")) {
        <span pdz-error>Tier name cannot exceed 30 characters</span>
      }
    </label>

    <label
      pdz-field
      label="Cost (Points)"
      required
      class="form-field-full-width"
    >
      <input type="number" pdz-input formControlName="cost" />
      @if (
        form.controls.cost.touched && form.controls.cost.hasError("required")
      ) {
        <span pdz-error>Required</span>
      }
    </label>
  </div>

  <div class="pdz-dialog-actions">
    <button
      pdz-button
      variant="outlined"
      color="neutral"
      type="button"
      (click)="ref.close()"
    >
      Cancel
    </button>
    <button pdz-button type="submit" [disabled]="form.invalid">
      {{ isAddMode ? "Add Tier" : "Save Changes" }}
    </button>
  </div>
</form>
