<div class="flex items-center px-6 py-1">
  <p class="text-3xl font-bold">Drafts</p>
</div>
<loading *ngIf="!teams"></loading>
<div
  *ngIf="teams"
  id="teams"
  class="grid h-auto grid-flow-row grid-cols-1 overflow-auto md:grid-cols-2 lg:grid-cols-3 gap-4 p-2"
>
  <div *ngFor="let team of teams">
    <div
      class="shadow-md bg-cyan-200 shadow-cyan-600 rounded-xl h-full flex flex-col"
    >
      <div class="p-2 shadow-md bg-cyan-300 rounded-xl flex-grow">
        <div class="flex w-full">
          <div
            class="w-3/5 p-1 mx-1 flex font-semibold text-center rounded-full shadow-inner justify-center items-center text-medium bg-cyan-200 shadow-cyan-600"
          >
            {{ team.leagueName }}
          </div>
          <div
            class="w-1/5 p-1 text-xs font-semibold text-center rounded-full shadow-inner h-fit bg-cyan-200 shadow-cyan-600"
          >
            {{ team.ruleset }}
          </div>
          <div
            class="w-1/5 p-1 mx-1 text-xs font-semibold text-center rounded-full shadow-inner h-fit bg-cyan-200 shadow-cyan-600"
          >
            {{ team.format }}
          </div>
        </div>
        <div class="grid grid-cols-6 px-4 pt-2 sprites">
          <sprite
            *ngFor="let pokemon of team.team"
            [pokemon]="pokemon"
          ></sprite>
        </div>
      </div>
      <div class="flex" *ngIf="!archiveConfirm">
        <a
          class="w-1/6 m-2 text-center shadow bg-cyan-300 hover:shadow shadow-cyan-600 rounded-xl text-cyan-500"
          >Stats</a
        >
        <a
          class="w-1/2 m-2 text-center shadow bg-cyan-300 hover:shadow shadow-cyan-600 rounded-xl"
          [routerLink]="'/draft/' + team.leagueId"
          >Matches</a
        >
        <a
          class="w-1/6 m-2 text-center shadow bg-cyan-300 hover:shadow shadow-cyan-600 rounded-xl"
          [routerLink]="'edit'"
          [queryParams]="{ draft: team.leagueId | json }"
          >Edit
        </a>
        <a
          class="w-1/6 m-2 text-center shadow bg-cyan-300 hover:shadow shadow-cyan-600 rounded-xl text-cyan-500"
          >Archive
        </a>
      </div>
      <div class="flex" *ngIf="archiveConfirm">
        <div
          class="w-1/2 m-2 text-center shadow bg-cyan-300 hover:shadow shadow-cyan-600 rounded-xl"
        >
          Are you sure you want to archive?
        </div>
        <div
          class="w-1/4 m-2 text-center shadow bg-cyan-300 hover:shadow shadow-cyan-600 rounded-xl"
        >
          Yes
        </div>
        <div
          class="w-1/4 m-2 text-center shadow bg-cyan-300 hover:shadow shadow-cyan-600 rounded-xl"
          (click)="archiveConfirm = false"
        >
          No
        </div>
      </div>
    </div>
  </div>
</div>
<button
  [routerLink]="'/draft/new'"
  class="p-2 m-3 rounded-lg shadow-md bg-cyan-300 hover:shadow shadow-cyan-600"
>
  Add League
</button>
