<div
  class="relative w-full max-w-xs filter-container"
  (click)="$event.stopPropagation()"
>
  <!-- Value Box -->
  <div
    class="p-2 bg-white flex justify-between border rounded cursor-pointer transition-colors"
    [ngClass]="{
      'border-gray-300': !isOpen,
      'border-blue-500': isOpen
    }"
    (click)="toggleDropdown()"
  >
    <span *ngIf="selectedItem">{{ selectedItem.name }}</span>
    <span *ngIf="!selectedItem" class="text-gray-500">
      {{ placeholder }}
    </span>
    <div class="h-6 aspect-square">
      <compact-svg [up]="isOpen"></compact-svg>
    </div>
  </div>

  <!-- Dropdown list for larger screens -->
  <div
    *ngIf="isOpen"
    class="absolute z-[100] w-full mt-0.5 bg-white border border-gray-300 rounded shadow-lg space-y-1 sm:block hidden"
  >
    <div *ngIf="showSearch" class="border-b mx-2 border-gray-300">
      <input
        type="text"
        placeholder="Search"
        [(ngModel)]="query"
        (keyup)="filter()"
        class="w-full p-2 outline-none"
      />
    </div>

    <!-- Scrollable list -->
    <div class="p-0.5">
      <cdk-virtual-scroll-viewport
        class=""
        itemSize="{{ itemSize }}"
        [style.height]="calculateDynamicHeight(filteredItems.length, itemSize)"
      >
        <div
          *cdkVirtualFor="let item of filteredItems"
          class="mx-2 rounded py-0.5 px-1 cursor-pointer hover:bg-gray-200"
          (click)="selectItem(item)"
        >
          {{ item.name }}
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>

  <!-- Mobile full-screen dropdown -->
  <div
    *ngIf="isOpen"
    class="fixed inset-0 z-50 bg-white sm:hidden flex flex-col"
  >
    <!-- Close button for mobile -->
    <div class="flex justify-between items-center p-4 border-b border-gray-300">
      <span class="text-lg font-medium">{{ placeholder }}</span>
      <button class="text-blue-500" (click)="closeDropdown()">Close</button>
    </div>

    <!-- Search input (fixed at the top) -->
    <div class="p-4 border-b border-gray-300">
      <input
        type="text"
        placeholder="Search"
        [(ngModel)]="query"
        (keyup)="filter()"
        class="w-full p-2 outline-none"
      />
    </div>

    <!-- Scrollable list (taking the remaining space) -->
    <div class="flex-1 overflow-y-auto p-1">
      <cdk-virtual-scroll-viewport
        itemSize="{{ itemSize }}"
        class="h-full overflow-y-auto"
      >
        <div
          *cdkVirtualFor="let item of filteredItems"
          class="mx-2 py-0.5 px-1 cursor-pointer hover:bg-gray-200"
          (click)="selectItem(item)"
        >
          {{ item.name }}
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
</div>
