@use "@angular/material" as mat;

button {
  mat-icon {
    transition: transform 0.3s ease-in-out;
  }

  &.opponent mat-icon {
    transform: rotate(180deg);
  }
  @include mat.icon-button-overrides(
    (
      icon-color: var(--mat-sys-primary),
    )
  );
}
