@use "pdz-theming" as pdz;

:host {
  display: grid;
  gap: pdz.space(2xs);
  min-width: 9rem;
}

.timezone-select__label {
  @include pdz.text(field-label, $family: false);
  color: pdz.color(on-surface-variant);
}
