<div class="manage-header">
  <div class="logo">Logo</div>
  <div class="league-info-container">League Info</div>
  <div class="publish">Publish</div>
</div>
<div class="section-grid">
  <div class="rules league-section">
    <div class="league-section-title">Rules</div>
    <div class="league-section-body"></div>
  </div>
  <div class="groups league-section">
    <div class="league-section-title">Groups</div>
    <div class="league-section-body groups">
      @for (group of groups; track group) {
        <div class="group">
          <div class="group-name">{{ group.name }}</div>
        </div>
      }
    </div>
  </div>
  <div class="tiers league-section">
    <div class="league-section-title">Tiers</div>
    <div class="league-section-body"></div>
  </div>
  <div class="brackets league-section">
    <div class="league-section-title">Brackets</div>
    <div class="league-section-body"></div>
  </div>
</div>
