@let user = auth.user$ | async;
@if (authenticated && user) {
  <button class="login-btn" [matMenuTriggerFor]="userMenu">
    <div class="user-info-container">
      <img class="user-icon" src="{{ user.picture }}" />
      @if (user.username && user.username !== "") {
        <span class="username-text">{{ user.username }}</span>
      }
    </div>
  </button>
  <mat-menu #userMenu="matMenu">
    <button
      mat-menu-item
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
      (click)="settingsOpen = !settingsOpen"
    >
      <mat-icon>settings</mat-icon>
      <span>Settings</span>
    </button>
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="settingsOpen"
      (overlayOutsideClick)="settingsOpen = false"
      (detach)="settingsOpen = false"
      [cdkConnectedOverlayFlexibleDimensions]="true"
      [cdkConnectedOverlayPush]="true"
      [cdkConnectedOverlayHasBackdrop]="true"
    >
      <settings (closeSettings)="settingsOpen = false"></settings>
    </ng-template>
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Log Out</span>
    </button>
  </mat-menu>
} @else {
  <button class="login-btn" (click)="login()">
    <span>Log in</span> <mat-icon>login</mat-icon>
  </button>
}
