<div class="teambuilder-panel__header">
  <span class="teambuilder-panel__title">Teambuilder</span>
  <button class="close-button" (click)="closePanel.emit()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="teambuilder-panel__content">
  <div class="teambuilder__tabs">
    @for (pokemon of team; track $index) {
      <div
        class="teambuilder__tab teambuilder__tab--pokemon"
        role="button"
        tabindex="0"
        aria-selected="{{ tab === $index }}"
        [class.is-active]="tab === $index"
        (click)="selectTab($index, $event)"
        (keydown.enter)="selectTab($index, $event)"
        (keydown.space)="selectTab($index, $event)"
      >
        <div class="teambuilder__sprite-wrapper">
          <pdz-sprite size="3rem" [pokemon]="pokemon" />
        </div>
      </div>
    }
    <div
      class="teambuilder__tab teambuilder__tab--add"
      role="button"
      tabindex="0"
      aria-selected="{{ tab === null }}"
      [class.is-active]="tab === null"
      (click)="selectTab(null, $event)"
      (keydown.enter)="selectTab(null, $event)"
      (keydown.space)="selectTab(null, $event)"
    >
      +
    </div>
  </div>
  <div class="teambuilder__main">
    @if (tab == null || !team[tab]) {
      <div class="teambuilder__add-header">
        <h2>Add new Pokemon</h2>
      </div>
      <div class="teambuilder__options">
        @for (pokemon of matchupData.summary[0].team; track $index) {
          <button
            class="teambuilder__pokemon-option"
            [disabled]="isPokemonInTeam(pokemon)"
            (click)="addPokemonToTeamAndSelect(pokemon)"
            [attr.aria-label]="'Add ' + pokemon.name + ' to team'"
          >
            <div class="teambuilder__sprite-wrapper">
              <pdz-sprite [pokemon]="pokemon" />
            </div>
            <span class="teambuilder__pokemon-name">{{ pokemon.name }}</span>
          </button>
        }
      </div>
    } @else {
      <pdz-matchup-pokemon-builder
        [pokemon]="team[tab]"
        [matchupData]="matchupData"
        [team]="team"
        [(view)]="view"
      />
    }
  </div>
</div>
