<div class="teambuilder-panel__header">
  <span class="teambuilder-panel__title">Teambuilder</span>
  <button class="close-button" (click)="closePanel.emit()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="teambuilder-panel__content">
  <div class="teambuilder__tabs-container">
    <div class="teambuilder__tabs">
      @for (pokemon of team; track $index) {
        <div
          class="teambuilder__tab teambuilder__tab--pokemon"
          role="button"
          tabindex="0"
          aria-selected="{{ tab === $index }}"
          [class.is-active]="tab === $index"
          (click)="selectTab($index, $event)"
          (keydown.enter)="selectTab($index, $event)"
          (keydown.space)="selectTab($index, $event)"
        >
          <button
            class="teambuilder__delete-btn"
            (click)="deletePokemon($index, $event)"
            [attr.aria-label]="'Delete ' + pokemon.name"
            title="Delete Pokemon"
          >
            <pdz-icon name="close" [size]="16" />
          </button>
          <div class="teambuilder__sprite-wrapper">
            <pdz-sprite size="3rem" [pokemon]="pokemon" />
          </div>
        </div>
      }
    </div>
    <div class="teambuilder__action-buttons">
      <div
        class="teambuilder__tab teambuilder__tab--add"
        role="button"
        tabindex="0"
        aria-selected="{{ tab === 'add' }}"
        [class.is-active]="tab === 'add'"
        (click)="selectTab('add', $event)"
        (keydown.enter)="selectTab('add', $event)"
        (keydown.space)="selectTab('add', $event)"
      >
        <pdz-icon name="add" />
      </div>
      <div
        class="teambuilder__tab teambuilder__tab--add"
        role="button"
        tabindex="0"
        aria-selected="{{ tab === 'export' }}"
        [class.is-active]="tab === 'export'"
        (click)="selectTab('export', $event)"
        (keydown.enter)="selectTab('export', $event)"
        (keydown.space)="selectTab('export', $event)"
      >
        <pdz-icon name="upload" />
      </div>
    </div>
  </div>
  <div class="teambuilder__main">
    @if (tab === "add") {
      <div class="teambuilder__add-header">
        <h2>Add new Pokemon</h2>
      </div>
      <div class="teambuilder__options">
        @for (pokemon of matchupData.summary[0].team; track $index) {
          <button
            class="teambuilder__pokemon-option"
            [disabled]="isPokemonInTeam(pokemon)"
            (click)="addPokemonToTeamAndSelect(pokemon)"
            [attr.aria-label]="'Add ' + pokemon.name + ' to team'"
          >
            <div class="teambuilder__sprite-wrapper">
              <pdz-sprite [pokemon]="pokemon" />
            </div>
            <span class="teambuilder__pokemon-name">{{ pokemon.name }}</span>
          </button>
        }
      </div>
    } @else if (tab === "export") {
      <textarea
        class="export-area"
        id="export"
        spellcheck="false"
        [value]="exportTeam()"
      ></textarea>
    } @else if (team[tab]) {
      <pdz-matchup-pokemon-builder
        [pokemon]="team[tab]"
        [matchupData]="matchupData"
        [team]="team"
        [(view)]="view"
      />
    }
  </div>
</div>
