@use "pdz-theming" as pdz;
@use "mixins" as *;

:host {
  display: block;
}

.settings-dialog {
  &__content {
    display: flex;
    flex-direction: column;
    gap: pdz.space(sm);
  }

  &__error {
    @include text(label);
    color: pdz.color(danger);
    margin: 0;
  }
}

.field {
  &--full {
    width: 100%;
  }
}
