<div class="archives-container">
  <div class="header">
    <button class="back-btn" [routerLink]="['/', backPath]">Back</button>
    <h1 class="title">Archived Drafts</h1>
  </div>
  @if (!archives) {
    <pdz-loading></pdz-loading>
  } @else {
    <div class="archives-grid">
      @for (archive of archives; track $index) {
        <div class="archive-card">
          <div class="card-header">
            <h2 class="league-name">{{ archive.leagueName }}</h2>
            <div class="card-menu">
              <button class="more-btn" (click)="toggleMenu(archive._id)">
                <mat-icon>more_vert</mat-icon>
              </button>

              @if (menuState[archive._id] === "main") {
                <div class="menu-dropdown">
                  <button
                    class="menu-item"
                    (click)="setMenuState(archive._id, 'confirm-delete')"
                  >
                    <mat-icon>delete_forever</mat-icon>
                    Delete
                  </button>
                </div>
              }
            </div>
          </div>
          <div class="card-body">
            <div class="ruleset-format">
              {{ archive.ruleset }} - {{ archive.format }}
            </div>
            <div class="sprites">
              @for (pokemon of archive.team; track pokemon.name) {
                <pdz-sprite [pokemon]="pokemon"></pdz-sprite>
              }
            </div>
          </div>
          <div class="card-footer">
            @if (menuState[archive._id] === "confirm-delete") {
              <div class="confirmation">
                <p>Delete draft?</p>
                <div class="confirmation-buttons">
                  <button class="btn btn-confirm" (click)="delete(archive._id)">
                    Yes
                  </button>
                  <button
                    class="btn btn-cancel"
                    (click)="setMenuState(archive._id, '')"
                  >
                    No
                  </button>
                </div>
              </div>
            } @else {
              <a class="footer-link" [routerLink]="[archive._id, 'stats']"
                >Stats</a
              >
            }
          </div>
        </div>
      }
    </div>
  }
</div>
