@use "../../../styles/global.scss" as *;
@use "../../../styles/mixins" as *;

:host {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.not-found {
  &__picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  &__image {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;

    @media (orientation: portrait) {
      min-width: unset;
    }
  }
}
