<div class="matchup-container">
  <div
    class="matchup-card"
    (click)="cardOpen = !cardOpen"
    [ngClass]="{ open: cardOpen }"
  >
    <div class="matchup-header">
      <div class="team-info-container">
        <div
          class="team-logo"
          [ngClass]="{
            positive: cardOpen && matchup.team1.score > matchup.team2.score,
            negative: cardOpen && matchup.team2.score > matchup.team1.score,
          }"
        >
          <img
            src="https://pokemondraftzone-public.s3.us-east-2.amazonaws.com/user-uploads/1744422916695-DeimosDeoxys.png"
          />
        </div>
        <div class="team-info">
          <div class="coach-name">{{ matchup.team1.coachName }}</div>
          <div class="team-name">{{ matchup.team1.teamName }}</div>
        </div>
      </div>
      <div class="versus-container">
        @if (matchup.matches[0].link) {
          <button
            (click)="$event.stopPropagation()"
            class="replay-button enabled"
          >
            Replay
          </button>
        }

        <div class="versus">VS</div>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </div>
      <div class="team-info-container">
        <div class="team-info left">
          <div class="coach-name">{{ matchup.team2.coachName }}</div>
          <div class="team-name">{{ matchup.team2.teamName }}</div>
        </div>
        <div
          class="team-logo"
          [ngClass]="{
            positive: cardOpen && matchup.team1.score < matchup.team2.score,
            negative: cardOpen && matchup.team2.score < matchup.team1.score,
          }"
        >
          <img
            src="https://pokemondraftzone-public.s3.us-east-2.amazonaws.com/user-uploads/1745097094680-Mighty Murkrow.png"
          />
        </div>
      </div>
    </div>
    @if (cardOpen) {
      <div class="matchup-content">
        <div class="score-container">
          <div class="score">
            <div
              class="score-box"
              [ngClass]="{
                positive: matchup.team1.score > matchup.team2.score,
                negative: matchup.team2.score > matchup.team1.score,
              }"
            >
              {{ matchup.team1.score }}
            </div>
            <div class="score-box"><mat-icon>remove</mat-icon></div>
            <div
              class="score-box"
              [ngClass]="{
                positive: matchup.team1.score < matchup.team2.score,
                negative: matchup.team2.score < matchup.team1.score,
              }"
            >
              {{ matchup.team2.score }}
            </div>
          </div>
        </div>
        <div class="matches-container">
          <div class="team-container">
            @for (
              pokemon of matchup.matches[selectedMatch].team1.team;
              track pokemon
            ) {
              <div
                class="pokemon-box"
                [ngClass]="{
                  brought: pokemon.status === 'brought',
                  fainted: pokemon.status === 'fainted',
                }"
              >
                <pdz-sprite [pokemon]="pokemon" flipped> </pdz-sprite>
              </div>
            }
          </div>
          <div class="match-option-container">
            @for (match of matchup.matches; track $index) {
              <div class="match-option">
                <span
                  class="match-score"
                  [ngClass]="{
                    positive: match.team1.score > match.team2.score,
                    negative: match.team1.score < match.team2.score,
                  }"
                  >{{ match.team1.score }}
                </span>
                <button
                  class="match-button"
                  (click)="selectedMatch = $index; $event.stopPropagation()"
                  [ngClass]="{ selected: selectedMatch === $index }"
                >
                  Game {{ $index + 1 }}
                </button>
                <span
                  class="match-score"
                  [ngClass]="{
                    positive: match.team1.score < match.team2.score,
                    negative: match.team1.score > match.team2.score,
                  }"
                  >{{ match.team2.score }}
                </span>
              </div>
            }
          </div>
          <div class="team-container">
            @for (
              pokemon of matchup.matches[selectedMatch].team2.team;
              track pokemon
            ) {
              <div
                class="pokemon-box"
                [ngClass]="{
                  brought: pokemon.status === 'brought',
                  fainted: pokemon.status === 'fainted',
                }"
              >
                <pdz-sprite [pokemon]="pokemon"> </pdz-sprite>
              </div>
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>
