@use "../../../../styles/global" as *;

.move-entry {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
}

.move-details {
  display: flex;
  flex-direction: column;
  width: 8rem;
}

.move-tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: var(--pdz-space-xs);
  width: 8rem;
  .move-tag {
    background-color: lightgray;
    border-radius: var(--pdz-shape-corner-xs);
    padding: var(--pdz-space-xs);
    display: flex;
    text-align: center;
  }
}

.pokemon-container {
  display: flex;
  width: 100%;
}
