@for (move of movechart; track $index) {
  <div class="move-entry">
    <div class="move-details">
      <div class="move-name">{{ move.name }}</div>

      <div>
        <pdz-pokemon-type [type]="move.type"></pdz-pokemon-type>
      </div>
    </div>
    <div class="move-tags">
      @for (tag of move.tags; track $index) {
        <div class="move-tag">
          {{ tag }}
        </div>
      }
    </div>

    <div class="pokemon-container">
      @for (pokemon of move.pokemon; track $index) {
        <pdz-sprite [pokemon]="pokemon" size="3rem"></pdz-sprite>
      }
    </div>
  </div>
}
