@if (settingsForm) {
  <div class="setting-container" [formGroup]="settingsForm">
    <h2 class="setting-title">Settings</h2>
    <div class="options-container">
      <div class="option">
        <mat-form-field appearance="outline">
          <mat-label>Light/Dark Mode</mat-label>
          <mat-select formControlName="ldMode">
            <mat-option value="device">Device</mat-option>
            <mat-option value="light">Light</mat-option>
            <mat-option value="dark">Dark</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="option">
        <mat-form-field appearance="outline">
          <mat-label>Theme</mat-label>
          <mat-select formControlName="theme">
            @for (theme of themes; track $index) {
              <mat-option [value]="theme.id">{{ theme.name }}</mat-option>
            }
            @if (isShinyUnlocked()) {
              <mat-option value="shiny"> Shiny </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="option">
        <div>
          <mat-form-field appearance="outline">
            <mat-label>Sprite Set</mat-label>
            <mat-select formControlName="spriteSet">
              @for (spriteSet of spriteSets; track $index) {
                <mat-option [value]="spriteSet.id">{{
                  spriteSet.name
                }}</mat-option>
              }
            </mat-select>
            <mat-hint>
              <span
                class="text-sm credit-link text-blue-500 hover:text-blue-400"
              >
                <a [href]="getCreditLink()" target="_blank">Credits</a>
              </span></mat-hint
            >
          </mat-form-field>
        </div>
        <div class="sprite-wrapper">
          <pdz-sprite [pokemon]="example"></pdz-sprite>
        </div>
      </div>
    </div>

    <div class="button-container">
      <button mat-stroked-button (click)="close()">Cancel</button
      ><button mat-flat-button (click)="save(); close()">Save</button>
    </div>
  </div>
}
