<div class="flex w-full justify-center h-full p-8">
  <div
    class="border-2 border-menu-300 bg-menu-100 overflow-y-auto rounded-lg w-full h-full max-w-128 flex flex-col items-center"
    [formGroup]="settingsForm"
  >
    <h1 class="font-bold text-3xl py-6">Settings</h1>
    <div class="space-y-2">
      <div class="p-1">
        <label class="block mb-1 font-bold">Light/Dark Mode</label>
        <select
          class="bg-menu-200 border border-menu-200 rounded p-1"
          formControlName="ldMode"
        >
          <option value="device">Device</option>
          <option value="light">Light</option>
          <option value="dark">Dark</option>
        </select>
      </div>
      <div class="p-1">
        <label class="block mb-1 font-bold">Theme</label>
        <select
          class="bg-gradient-to-r from-aTeam-100 to-bTeam-100 border border-menu-200 rounded p-1"
          formControlName="theme"
        >
          <option
            class="bg-menu-200"
            *ngFor="let theme of themes"
            value="{{ theme.id }}"
          >
            {{ theme.name }}
          </option>
        </select>
      </div>
      <div class="p-1">
        <label class="block mb-1 font-bold">Sprite Set</label>
        <select
          class="bg-menu-200 border border-menu-200 rounded p-1"
          formControlName="spriteSet"
        >
          <option value="home">Pokemon Home</option>
          <option value="bw">Pokemon Showdown - BW</option>
          <option value="serebii">Serebii</option>
        </select>
      </div>
    </div>
    <!-- {{ settingsForm.value | json }} -->
  </div>
</div>
