<div
  class="pokemon-search__field"
  [class.pokemon-search__field--disabled]="disabled"
  [class.pokemon-search__field--compact]="density() === 'compact'"
  #fieldEl
>
  @if (showsSelection) {
    <button
      type="button"
      class="pokemon-search__selection"
      [disabled]="disabled"
      (click)="beginEdit()"
    >
      <pdz-sprite
        class="pokemon-search__selection-sprite"
        flipped
        [pokemon]="value!"
      ></pdz-sprite>
      <span class="pokemon-search__selection-name">{{ value!.name }}</span>
    </button>
    @if (!locked()) {
      <button
        type="button"
        class="pokemon-search__clear"
        aria-label="Clear selection"
        [disabled]="disabled"
        (click)="clearSelection($event)"
      >
        <pdz-icon name="close" [size]="18"></pdz-icon>
      </button>
    }
  } @else {
    <pdz-icon class="pokemon-search__icon" name="search" [size]="20"></pdz-icon>
    <input
      #inputEl
      class="pokemon-search__input"
      type="text"
      spellcheck="false"
      autocomplete="off"
      role="combobox"
      aria-autocomplete="list"
      aria-haspopup="listbox"
      [attr.aria-expanded]="isOpen"
      [attr.aria-controls]="listboxId"
      [attr.aria-activedescendant]="activeOptionId"
      [readonly]="locked()"
      [formControl]="query"
      [placeholder]="placeholder()"
      (focus)="setOpen(true)"
      (input)="setOpen(true)"
      (blur)="onBlur()"
      (keydown)="handleKeydown($event)"
    />
    @if (query.value) {
      <button
        type="button"
        class="pokemon-search__clear"
        aria-label="Clear search"
        (mousedown)="$event.preventDefault()"
        (click)="clear()"
      >
        <pdz-icon name="close" [size]="18"></pdz-icon>
      </button>
    }
  }
</div>

<div
  #panelEl
  popover="manual"
  class="pokemon-search__panel"
  [id]="listboxId"
  role="listbox"
  [attr.aria-label]="placeholder()"
>
  @if (filteredOptions.value.length) {
    <cdk-virtual-scroll-viewport
      [itemSize]="itemSize"
      minBufferPx="220"
      maxBufferPx="440"
      class="pokemon-search__viewport"
      [style.height]="listHeight"
      #virtualScroll
    >
      <div
        *cdkVirtualFor="
          let option of filteredOptions;
          let i = index;
          trackBy: trackByFn
        "
        class="pokemon-search__option"
        role="option"
        [id]="optionId(i)"
        [attr.aria-selected]="highlightedIndex === i"
        [attr.aria-disabled]="isTaken(option) ? true : null"
        [class.pokemon-search__option--highlighted]="highlightedIndex === i"
        [class.pokemon-search__option--taken]="isTaken(option)"
        (mousedown)="$event.preventDefault()"
        (click)="selectOption(option)"
      >
        @if (costOf(option) !== undefined) {
          <span class="pokemon-search__option-cost">{{ costOf(option) }}</span>
        }
        <pdz-sprite flipped [pokemon]="option"></pdz-sprite>
        <span class="pokemon-search__option-name">{{ option.name }}</span>
        @if (tierOf(option)) {
          <span class="pokemon-search__option-tier">{{ tierOf(option) }}</span>
        }
      </div>
    </cdk-virtual-scroll-viewport>
  } @else {
    <div class="pokemon-search__empty">No Pokémon found</div>
  }
</div>
