@use "pdz-theming" as pdz;
@use "mixins" as *;

.stage {
  &-header {
    @include apply-typography(title-sm);
  }

  &-body {
    border-left: 2px solid pdz.color(primary);
    padding: pdz.space(md) 0 pdz.space(md) pdz.space(md);
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: pdz.space(sm);
  }

  &__empty {
    color: pdz.color(on-surface);
    font-style: italic;
    padding: 0 var(pdz-space-md);
  }
}
