<div class="rules-container">
  <button class="back-button" routerLink="/leagues/pdbls2" mat-flat-button>
    Back
  </button>
  <div class="rules-header">
    <h1 class="rules-title">League Rules</h1>
  </div>
</div>

<div class="rule-wrapper">
  <div class="rule-content">
    <div>
      <mat-accordion class="level3">
        @for (ruleCategory of leagueRules; track $index) {
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <span class="rule-title">{{ ruleCategory.header }}</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ol class="rule-description">
              @for (rule of ruleCategory.details; track $index) {
                <li>
                  <markdown>{{ rule }}</markdown>
                </li>
              }
            </ol>
          </mat-expansion-panel>
        }
      </mat-accordion>
    </div>
  </div>
</div>