@use "../../../../../styles/global.scss" as *;
.widget-container {
  --pdz-cmp-typechart-stat-hover: var(--pdz-color-primary-container);
  --pdz-cmp-typechart-border-hover: var(--pdz-color-primary-border);

  &.alternate {
    --pdz-cmp-typechart-stat-hover: var(--pdz-color-secondary-container);
    --pdz-cmp-typechart-border-hover: var(--pdz-color-secondary-border);
  }
}
