<div class="widget-container" [class.alternate]="opponent">
  <div class="widget-header">
    <div class="widget-label">Defensive Type Chart</div>
    <div class="widget-options">
      <mat-slide-toggle [(ngModel)]="abilities" labelPosition="before"
        >Abilities</mat-slide-toggle
      >
      <swap-opponent [(ngModel)]="opponent"></swap-opponent>
    </div>
  </div>
  <div class="widget-body">
    <pdz-typechart-core
      [typechart]="opponent ? typecharts[1] : typecharts[0]"
      [abilities]="abilities"
      (summarize)="typestats.summarize()"
    ></pdz-typechart-core>

    <pdz-typestats-core
      #typestats
      [typechart]="opponent ? typecharts[1] : typecharts[0]"
      [abilities]="abilities"
    ></pdz-typestats-core>
  </div>
</div>
