<div class="widget-container" [class.alternate]="shownTeam === 1">
  <div class="widget-header">
    <div class="widget-label">Defensive Type Chart</div>
    <div class="widget-options">
      <mat-slide-toggle [(ngModel)]="abilities" labelPosition="before"
        >Abilities</mat-slide-toggle
      >
      @if (typecharts.length > 1) {
        <swap-opponent [(ngModel)]="shownTeam"></swap-opponent>
      }
    </div>
  </div>
  <div class="widget-body">
    <pdz-typechart-core
      [typechart]="typecharts[shownTeam]"
      [abilities]="abilities"
      (togglePokemon)="typestats.summarize(); togglePokemon.emit($event)"
    ></pdz-typechart-core>
    <pdz-typestats-core
      #typestats
      [typechart]="typecharts[shownTeam]"
      [abilities]="abilities"
    ></pdz-typestats-core>
  </div>
</div>
