.tera-option {
  display: flex;
  width: auto;
  align-items: center;
  gap: 0.5em;
  img {
    height: 1em;
  }
}

.teambuilder-wrapper {
  height: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
}

.level-2 {
  box-shadow: var(--pdz-level-2);
}
