<div
  class="min-h-full bg-gradient-to-r from-aTeam-100 via-menu-100 to-bTeam-100"
>
  <div class="flex px-2 pt-2">
    <div class="w-fit">
      <button
        routerLink="['/', draftPath]/{{ leagueId }}"
        class="px-3 py-2 text-sm text-symbolColor-inverted rounded-md bg-menu-500 hover:bg-menu-600 focus:outline-none focus:bg-menu-600"
      >
        Back
      </button>
    </div>

    <div class="flex justify-center flex-grow">
      <div *ngIf="matchupData" class="flex flex-wrap justify-between gap-x-8">
        <div class="w-full text-center sm:w-auto">
          <p class="text-sm font-semibold text-symbolColor-sub">League Name</p>
          <p class="text-xl font-bold">{{ matchupData.details.leagueName }}</p>
        </div>
        <div class="w-full text-center sm:w-auto">
          <p class="text-sm font-semibold text-symbolColor-sub">Stage</p>
          <p class="text-xl font-bold">{{ matchupData.details.stage }}</p>
        </div>
        <div class="w-full text-center sm:w-auto">
          <p class="text-sm font-semibold text-symbolColor-sub">Ruleset</p>
          <p class="text-xl font-bold">{{ matchupData.details.ruleset }}</p>
        </div>
        <div class="w-full text-center sm:w-auto">
          <p class="text-sm font-semibold text-symbolColor-sub">Format</p>
          <p class="text-xl font-bold">{{ matchupData.details.format }}</p>
        </div>
        <div *ngIf="timeString" class="w-full text-center sm:w-auto">
          <p class="text-sm font-semibold text-symbolColor-sub">Game Time</p>
          <p class="text-xl font-bold">{{ timeString }}</p>
        </div>
      </div>
    </div>
    <div class="flex items-start justify-end w-fit">
      <button
        class="px-3 py-2 text-sm text-symbolColor-inverted rounded-md bg-menu-500 hover:bg-menu-600 focus:outline-none focus:bg-menu-600"
        (click)="shared = true"
      >
        Share
      </button>
    </div>
  </div>
  <div
    *ngIf="shared"
    class="fixed inset-0 z-30 flex flex-col items-center justify-center bg-opacity-50 bg-menu-800"
  >
    <div
      class="w-5/6 bg-menu-100 rounded-lg shadow-lg md:w-2/3 lg:w-1/2 xl:w-1/3"
    >
      <div class="flex justify-end w-full">
        <close-svg
          class="w-8 h-8 p-1 m-1 hover:p-0 hover:cursor-pointer"
          (click)="shared = false"
          alt="Close"
        ></close-svg>
      </div>
      <div class="px-8">
        <h2 class="text-3xl font-bold text-center">Share your matchup</h2>
        <div class="flex items-center max-w-full mt-4">
          <div
            class="flex items-center w-full p-1 overflow-x-auto border rounded-xl border-menu-200"
          >
            <div class="w-auto overflow-x-auto">
              {{ shareUrl }}
            </div>
            <copy-svg
              *ngIf="!copied"
              class="w-8 h-8 p-1 m-1 hover:p-0 hover:cursor-pointer"
              (click)="copyToClipboard()"
              alt="Copy"
            ></copy-svg>
            <check-svg
              *ngIf="copied"
              class="w-8 h-8 p-1 m-1 hover:cursor-pointer"
              alt="Copied"
            ></check-svg>
          </div>
        </div>
        <div class="flex-grow"></div>
        <div
          *ngIf="matchupData"
          class="p-2 my-4 border border-menu-200 rounded-xl"
        >
          <div class="flex w-full mb-2">
            <div class="w-1/4 text-center">
              <p class="text-sm font-semibold text-menu-500">League Name</p>
              <p class="font-bold">{{ matchupData.details.leagueName }}</p>
            </div>
            <div class="w-1/4 text-center">
              <p class="text-sm font-semibold text-menu-500">Stage</p>
              <p class="font-bold">{{ matchupData.details.stage }}</p>
            </div>
            <div class="w-1/4 text-center">
              <p class="text-sm font-semibold text-menu-500">Ruleset</p>
              <p class="font-bold">{{ matchupData.details.ruleset }}</p>
            </div>
            <div class="w-1/4 text-center">
              <p class="text-sm font-semibold text-menu-500">Format</p>
              <p class="font-bold">{{ matchupData.details.format }}</p>
            </div>
          </div>
          <div class="flex w-full">
            <div class="w-1/2 font-semibold text-center">
              {{ matchupData.overview[0].teamName }}
            </div>
            <div class="w-1/2 font-semibold text-center">
              {{ matchupData.overview[1].teamName }}
            </div>
          </div>
          <div class="flex divide-x-2">
            <div class="flex flex-row flex-wrap justify-end w-1/2 pr-2 h-fit">
              <div
                class="relative w-1/3 sm:w-1/4"
                *ngFor="let pokemon of matchupData.overview[0].team"
              >
                <sprite [pokemon]="pokemon" [flipped]="true"></sprite>
                <tera-svg
                  *ngIf="pokemon.capt?.tera"
                  class="absolute top-0 left-0 w-1/3"
                ></tera-svg>
                <div class="absolute flex justify-center w-full -bottom-1">
                  <div
                    class="w-1/2 font-semibold text-center border rounded-full text-2xs sm:text-xs bg-menu-100 border-menu-200"
                  >
                    {{ pokemon.baseStats.spe }}
                  </div>
                </div>
              </div>
            </div>
            <div class="flex flex-wrap w-1/2 pl-2 h-fit">
              <div
                class="relative w-1/3 sm:w-1/4"
                *ngFor="let pokemon of matchupData.overview[1].team"
              >
                <sprite [pokemon]="pokemon"></sprite>
                <tera-svg
                  *ngIf="pokemon.capt?.tera"
                  class="absolute top-0 right-0 w-1/3"
                ></tera-svg>
                <div class="absolute flex justify-center w-full -bottom-1">
                  <div
                    class="w-1/2 font-semibold text-center border rounded-full text-2xs sm:text-xs bg-menu-100 border-menu-200"
                  >
                    {{ pokemon.baseStats.spe }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <loading *ngIf="!matchupData"></loading>
  <matchup *ngIf="matchupData" [matchupData]="matchupData"></matchup>
</div>
