@if (typechart) {
  <table>
    <thead>
      <tr>
        <th></th>
        @for (type of types; track $index) {
          <th
            (mouseenter)="columnHovered.next(type)"
            (mouseleave)="columnHovered.next(null)"
            [ngClass]="{ 'column-hovered': type === columnHovered.value }"
          >
            <div class="flex-wrapper">
              <div
                class="type-container-small"
                [style.backgroundColor]="typeColor(type)"
              >
                <span class="type-text">{{ type }}</span>
              </div>
            </div>
          </th>
        }
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>
          <div class="stat-label count" matTooltip="Pokémon having this type">
            Count
          </div>
        </th>
        @for (type of types; track $index) {
          <td
            class="stat-cell"
            (mouseenter)="columnHovered.next(type)"
            (mouseleave)="columnHovered.next(null)"
            [ngClass]="{ 'column-hovered': type === columnHovered.value }"
          >
            <div class="flex-wrapper">
              <div class="stat-wrapper" [ngClass]="countColor(counts[$index])">
                {{ counts[$index] | number: "1.0-0" }}
              </div>
            </div>
          </td>
        }
      </tr>
      <tr>
        <th>
          <div class="stat-label weaks" matTooltip="Pokémon weak to this type">
            Weaks
          </div>
        </th>
        @for (type of types; track $index) {
          <td
            class="stat-cell"
            (mouseenter)="columnHovered.next(type)"
            (mouseleave)="columnHovered.next(null)"
            [ngClass]="{ 'column-hovered': type === columnHovered.value }"
          >
            <div class="flex-wrapper">
              <div
                class="stat-wrapper"
                [ngClass]="weakColor(weaknesses[$index])"
              >
                {{ weaknesses[$index] | number: "1.0-0" }}
              </div>
            </div>
          </td>
        }
      </tr>
      <tr>
        <th>
          <div
            class="stat-label resists"
            matTooltip="Pokémon resistant or immune to this type"
          >
            Resists
          </div>
        </th>
        @for (type of types; track $index) {
          <td
            class="stat-cell"
            (mouseenter)="columnHovered.next(type)"
            (mouseleave)="columnHovered.next(null)"
            [ngClass]="{ 'column-hovered': type === columnHovered.value }"
          >
            <div class="flex-wrapper">
              <div
                class="stat-wrapper"
                [ngClass]="resistColor(resistances[$index])"
              >
                {{ resistances[$index] | number: "1.0-0" }}
              </div>
            </div>
          </td>
        }
      </tr>
      <tr>
        <th>
          <div
            class="stat-label delta"
            matTooltip="A simple score for how weak the draft is to the type"
          >
            Delta
          </div>
        </th>
        @for (type of types; track $index) {
          <td
            class="stat-cell"
            (mouseenter)="columnHovered.next(type)"
            (mouseleave)="columnHovered.next(null)"
            [ngClass]="{ 'column-hovered': type === columnHovered.value }"
          >
            <div class="flex-wrapper">
              <div class="stat-wrapper" [ngClass]="diffColor(delta[$index])">
                {{ delta[$index] | number: "1.0-0" }}
              </div>
            </div>
          </td>
        }
      </tr>
      <tr>
        <th>
          <div
            class="stat-label log-delta"
            matTooltip="A weighted score for how weak the draft is to the type"
          >
            Log Delta
          </div>
        </th>
        @for (type of types; track $index) {
          <td
            class="stat-cell"
            (mouseenter)="columnHovered.next(type)"
            (mouseleave)="columnHovered.next(null)"
            [ngClass]="{ 'column-hovered': type === columnHovered.value }"
          >
            <div class="flex-wrapper">
              <div class="stat-wrapper" [ngClass]="diffColor(logDelta[$index])">
                {{ logDelta[$index] | number: "1.0-0" }}
              </div>
            </div>
          </td>
        }
      </tr>
    </tbody>
  </table>
}
