.pokemon-form-container {
  background-color: var(--pdz-color-surface);
  color: var(--pdz-color-on-surface);
  border-radius: var(--pdz-shape-corner-lg);
  box-shadow: var(--pdz-level-2);

  .details-title {
    padding: 0 0.5rem 0.5rem;
    color: var(--pdz-color-on-surface-variant);
    font-weight: 600;
  }
  .details-container {
    padding: 0.5rem 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
  }

  .team-container {
    padding: 0.25rem 0;
    height: 100%;
    .team-title {
      color: var(--pdz-color-primary);
      font-weight: 600;
      font-size: large;
    }
  }
}

.button-bar {
  display: flex;
  .button-spacer {
    flex-grow: 1;
  }
}

ruleset-select,
format-select,
mat-form-field {
  margin-bottom: -1.5rem;
}

@media (max-width: 768px) {
  ::ng-deep .mat-vertical-content-container {
    margin-left: 0.5rem !important;
    .mat-vertical-content {
      padding: 0 0.75rem 0.75rem !important;
    }
  }
}
