@if (matchupData) {
  <div class="teambuilder-container">
    <div class="widget-wrapper">
      <pdz-teambuilder-widget
        [matchupData]="matchupData"
        [matchupId]="matchupId"
        [team]="team"
      />
    </div>
    <div class="widget-wrapper">
      <pdz-typechart
        [shownTeam]="0"
        [typecharts]="getTypechart()"
        (togglePokemon)="onToggle($event)"
      >
      </pdz-typechart>
    </div>

    <div class="widget-wrapper">
      <pdz-coveragechart [typechart]="matchupData.typechart[1]" [team]="team">
      </pdz-coveragechart>
    </div>
  </div>
} @else {
  <pdz-loading></pdz-loading>
}
