<div class="widget-container overview-wrapper">
  <div class="team-container">
    <div class="team-header">
      <div class="team-name-title">
        {{ teams[0].teamName }}
      </div>
      @if (teams[0].coach || teams[1].coach) {
        <div class="team-coach-title">{{ teams[0].coach }}</div>
      }
    </div>
    <div class="team-body">
      <div class="overview-row header">
        <div class="sprite-cell"></div>
        <div class="name-cell" (click)="sortData('name')">
          @if (sortedBy === "name") {
            @if (sortDirection === "desc") {
              <mat-icon>arrow_downward</mat-icon>
            }
            @if (sortDirection === "asc") {
              <mat-icon>arrow_upward</mat-icon>
            }
          }
          Name
        </div>
        <div class="speed-cell" (click)="sortData('spe')">
          @if (sortedBy === "spe") {
            @if (sortDirection === "desc") {
              <mat-icon>arrow_downward</mat-icon>
            }
            @if (sortDirection === "asc") {
              <mat-icon>arrow_upward</mat-icon>
            }
          }
          SPE
        </div>
      </div>
      @for (pokemon of ($teams | async)![0]; track pokemon) {
        <div class="overview-row">
          <div class="sprite-cell">
            <sprite [pokemon]="pokemon" flipped></sprite>
          </div>
          <div class="name-cell">
            <div class="name-label">{{ pokemon.name }}</div>
            <div class="capt-row">
              @if (pokemon.capt?.tera) {
                <mat-icon
                  [matTooltip]="
                    pokemon.capt!.tera!.length
                      ? pokemon.capt!.tera!.join(', ')
                      : 'All Types'
                  "
                  matTooltipPosition="below"
                  svgIcon="tera"
                ></mat-icon>
              }
              @if (pokemon.capt?.z) {
                <mat-icon
                  [matTooltip]="
                    pokemon.capt!.z!.length && pokemon.capt!.z!.length < 18
                      ? pokemon.capt!.z!.join(', ')
                      : 'All Types'
                  "
                  matTooltipPosition="below"
                  svgIcon="z"
                ></mat-icon>
              }
              @if (pokemon.capt?.dmax) {
                <mat-icon svgIcon="dmax"></mat-icon>
              }
            </div>
          </div>
          <div class="speed-cell">{{ pokemon.baseStats.spe }}</div>
        </div>
      }
    </div>
  </div>
  <div class="team-container alternate">
    <div class="team-header">
      <div class="team-name-title">
        {{ teams[1].teamName }}
      </div>
      @if (teams[0].coach || teams[1].coach) {
        <div class="team-coach-title">{{ teams[1].coach }}</div>
      }
    </div>
    <div class="team-body">
      <div class="overview-row header">
        <div class="speed-cell" (click)="sortData('spe')">
          SPE
          @if (sortedBy === "spe") {
            @if (sortDirection === "desc") {
              <mat-icon>arrow_downward</mat-icon>
            }
            @if (sortDirection === "asc") {
              <mat-icon>arrow_upward</mat-icon>
            }
          }
        </div>
        <div class="name-cell" (click)="sortData('name')">
          Name
          @if (sortedBy === "name") {
            @if (sortDirection === "desc") {
              <mat-icon>arrow_downward</mat-icon>
            }
            @if (sortDirection === "asc") {
              <mat-icon>arrow_upward</mat-icon>
            }
          }
        </div>
        <div class="sprite-cell"></div>
      </div>
      @for (pokemon of ($teams | async)![1]; track pokemon) {
        <div class="overview-row">
          <div class="speed-cell">{{ pokemon.baseStats.spe }}</div>
          <div class="name-cell">
            <div class="name-label">{{ pokemon.name }}</div>
            <div class="capt-row">
              @if (pokemon.capt?.tera) {
                <mat-icon
                  [matTooltip]="
                    pokemon.capt!.tera!.length &&
                    pokemon.capt!.tera!.length < 19
                      ? pokemon.capt!.tera!.join(', ')
                      : 'All Types'
                  "
                  matTooltipPosition="below"
                  svgIcon="tera"
                ></mat-icon>
              }
              @if (pokemon.capt?.z) {
                <mat-icon
                  [matTooltip]="
                    pokemon.capt!.z!.length && pokemon.capt!.z!.length < 18
                      ? pokemon.capt!.z!.join(', ')
                      : 'All Types'
                  "
                  matTooltipPosition="below"
                  svgIcon="z"
                ></mat-icon>
              }
              @if (pokemon.capt?.dmax) {
                <mat-icon svgIcon="dmax"></mat-icon>
              }
            </div>
          </div>
          <div class="sprite-cell">
            <sprite [pokemon]="pokemon"></sprite>
          </div>
        </div>
      }
    </div>
  </div>
</div>
