<div class="widget-wrapper">
  <div class="overview-wrapper">
    <div class="team-container">
      <div class="team-header">
        <div class="team-name-title">
          {{ teams[0].teamName }}
        </div>
        @if (teams[0].coach || teams[1].coach) {
          <div class="team-coach-title">{{ teams[0].coach }}</div>
        }
      </div>
      <div class="team-body">
        <table matSort (matSortChange)="sortData($event)">
          <tr>
            <th></th>
            <th mat-sort-header="name">Name</th>
            <th mat-sort-header="spe" start="desc">SPE</th>
          </tr>
          @for (pokemon of teams[0].team; track pokemon) {
            <tr>
              <td>
                <div class="sprite-wrapper">
                  <sprite [pokemon]="pokemon" flipped></sprite>
                </div>
              </td>
              <td>
                <div class="name-cell">{{ pokemon.name }}</div>
              </td>
              <td>
                <div class="speed-cell">{{ pokemon.baseStats.spe }}</div>
              </td>
            </tr>
          }
        </table>
      </div>
    </div>
    <div class="team-container alternate">
      <div class="team-header">
        <div class="team-name-title">
          {{ teams[1].teamName }}
        </div>
        @if (teams[0].coach || teams[1].coach) {
          <div class="team-coach-title">{{ teams[1].coach }}</div>
        }
      </div>
      <div class="team-body">
        <table matSort (matSortChange)="sortData($event)">
          <tr>
            <th mat-sort-header="spe" start="desc" arrowPosition="before">
              SPE
            </th>
            <th mat-sort-header="name" arrowPosition="before">Name</th>
            <th></th>
          </tr>
          @for (pokemon of teams[1].team; track pokemon) {
            <tr>
              <td>
                <div class="speed-cell">{{ pokemon.baseStats.spe }}</div>
              </td>
              <td>
                <div class="name-cell text-end">{{ pokemon.name }}</div>
              </td>
              <td>
                <div class="sprite-wrapper">
                  <sprite [pokemon]="pokemon"></sprite>
                </div>
              </td>
            </tr>
          }
        </table>
      </div>
    </div>
  </div>
</div>
