.tier-row {
  display: flex;
  width: 100%;
  .sprite-wrapper {
    width: 2rem;
    flex-shrink: 0;
    height: 2rem;
    align-self: center;
  }
  .speed-label {
    line-height: 2rem;
    font-weight: 700;
    color: var(--pdz-color-secondary);
  }
  .modifier-container {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    gap: 0.125rem;
    padding: 0.125rem 0.25rem;
    .modifier {
      height: 1rem;
      overflow: hidden;
      padding: 0 0.25rem;
      font-weight: 700;
      font-size: 0.7em;
      border: 1px solid var(--pdz-color-secondary);
      color: var(--pdz-color-secondary);
      border-radius: 1rem;
      user-select: none;
    }
  }
}
