<mat-nav-list class="sidebar-nav-list">
  <div class="nav-group">
    <div class="nav-title">Drafts</div>
    <div class="nav-links">
      <a href="">My Drafts</a>
      <a href="">Planner</a>
      <a href="">Quick Matchup</a>
    </div>
  </div>
  <div class="nav-group">
    <div class="nav-title">Leagues</div>
    <div class="nav-links">
      <a href="">My Leagues</a>
      <div class="league-group">
        <div class="league-header">
          <img src="../../../assets/images/battle-zone/pdbls2.png" alt="" />
          <div>PDBL</div>
          <div class="league-spacer"></div>
          <mat-icon matListItemIcon class="expansion-indicator">{{
            "expand_less"
          }}</mat-icon>
        </div>

        <div class="league-links">
          <a href="">Rules</a>
          <a href="">Standings</a>
          <a href="">Schedule</a>
          <a href="">Coaches</a>
          <a href="">My Team</a>
          <a href="">Manage</a>
        </div>
      </div>
      <div class="league-group">
        <div class="league-header">
          <img src="../../../assets/images/battle-zone/pdbls2.png" alt="" />
          <div>SCDA</div>
          <div class="league-spacer"></div>
          <mat-icon matListItemIcon class="expansion-indicator">{{
            "expand_more"
          }}</mat-icon>
        </div>
      </div>
      <a href="">Join a League</a>
    </div>
  </div>
  <div class="nav-group">
    <div class="nav-title">Tools</div>
    <div class="nav-links">
      <a href="">Replay Analyzer</a>
      <a href="">Time Converter</a>
      <a href="">Random Draft</a>
      <a href="">Pokemon Search</a>
    </div>
  </div>
</mat-nav-list>
