<div class="chip-input">
  @if (label()) {
    <span class="chip-input__label">{{ label() }}</span>
  }
  <div class="chip-input__box" (click)="chipInput.focus()">
    @for (chip of control().value; track $index) {
      <pdz-chip
        removable
        size="sm"
        [removeLabel]="'Remove ' + chip"
        (removed)="remove($index)"
      >
        {{ chip }}
      </pdz-chip>
    }
    <input
      #chipInput
      class="chip-input__field"
      type="text"
      spellcheck="false"
      autocomplete="off"
      [placeholder]="control().value.length ? '' : placeholder()"
      (keydown)="handleKeydown($event, chipInput)"
      (blur)="add(chipInput)"
    />
  </div>
</div>
