@use "pdz-theming" as pdz;

:host {
  display: flex;
  align-items: center;
  gap: pdz.space(xs);
  width: 100%;
}

.speedtier {
  &__speed {
    @include pdz.numeric;
    font-size: pdz.font-size(md);
    font-weight: pdz.font-weight(bold);
    line-height: 2rem;
    color: var(--speedchart-ink, #{pdz.color(on-surface)});
  }

  &__sprite {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
  }

  &__modifiers {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    gap: pdz.space(2xs);
    padding: pdz.space(2xs) pdz.space(xs);
  }
}
