<div
  (click)="show = !show"
  class="sticky top-0 left-0 z-10 flex w-full text-lg font-bold border-t border-b min-w-96 bg-slate-300 border-slate-400"
>
  <div class="flex items-center justify-center flex-grow">
    {{ category.categoryName }}
  </div>
  <div
    class="items-center justify-end w-4 h-4 m-2 ml-auto border rounded cursor-pointer border-slate-500 bg-slate-400 hover:bg-slate-200"
  >
    <img
      *ngIf="show"
      class="h-full"
      src="../../../../../assets/icons/minus.svg"
      title="Hide"
    />
    <img
      *ngIf="!show"
      class="h-full"
      src="../../../../../assets/icons/plus.svg"
      title="Expand"
    />
  </div>
</div>

<div *ngIf="show">
  <div
    class="z-10 flex border-y border-slate-400 bg-slate-200"
    *ngFor="let move of category.moves"
  >
    <div class="flex items-center w-1/3 p-1 border-r border-slate-400">
      <div
        class="flex justify-center w-full py-1 font-semibold border-2 rounded"
        [ngClass]="typeBorder(move.type)"
      >
        {{ move.name }}
      </div>
    </div>
    <div class="flex flex-row flex-wrap w-2/3 px-1">
      <sprite
        class="h-8"
        *ngFor="let pokemon of move.pokemon"
        [pokemon]="pokemon"
      ></sprite>
    </div>
  </div>
</div>
