<div class="p-6 bg-page">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-2xl font-bold font-nasa">Open Leagues</h1>

    <div class="flex space-x-4 items-center">
      <!-- My Leagues Button -->
      <button
        class="px-4 py-2 bg-menu-500 text-symbolColor-inverted rounded-md shadow hover:bg-menu-600"
        routerLink="manage"
      >
        My Leagues
      </button>
    </div>
  </div>
  <div class="flex justify-between items-center text-sm font-semibold mb-2">
    <div>
      <ng-container *ngIf="filteredLeagues"
        >Results: {{ filteredLeagues.length }}</ng-container
      >
    </div>
    <div class="flex space-x-4 items-center">
      <!-- Filter Button -->

      <div class="relative h-6 aspect-square">
        <filter-svg (click)="toggleMenu('filter')"></filter-svg>
        <!-- Filter Box (initially hidden) -->
        <div
          *ngIf="menu === 'filter'"
          class="absolute top-7 border right-0 bg-page p-4 shadow-lg rounded-lg w-72"
        >
          <h3 class="text-lg font-semibold mb-4">Filter Options</h3>

          <div class="mb-4">
            <label class="block text-sm font-bold text-menu-600 mb-1"
              >Format</label
            >
            <select
              [(ngModel)]="filter.format"
              class="w-full bg-page p-2 border rounded-md"
            >
              <option value="">Any</option>
              <option *ngFor="let format of formats" [value]="format">
                {{ format }}
              </option>
            </select>
          </div>

          <div class="mb-4">
            <label class="block text-sm font-bold text-menu-600 mb-1"
              >Ruleset</label
            >
            <select
              [(ngModel)]="filter.ruleset"
              class="w-full bg-page p-2 border rounded-md"
            >
              <option value="">Any</option>
              <option *ngFor="let ruleset of rulesets" [value]="ruleset">
                {{ ruleset }}
              </option>
            </select>
          </div>

          <div class="mb-4">
            <label class="block text-sm font-bold text-menu-600 mb-1"
              >Platform</label
            >
            <select
              [(ngModel)]="filter.platform"
              class="w-full bg-page p-2 border rounded-md"
            >
              <option value="">Any</option>
              <option value="Pokémon Showdown">Pokémon Showdown</option>
              <option value="Scarlet/Violet">Scarlet/Violet</option>
            </select>
          </div>

          <div class="mb-4">
            <label class="block text-sm font-bold text-menu-600 mb-1"
              >Skill Level</label
            >
            <select
              [(ngModel)]="filter.skillLevel"
              class="w-full p-2 bg-page border rounded-md"
            >
              <option value="any">Any</option>
              <option value="0">Amateur</option>
              <option value="1">Intermediate</option>
              <option value="2">Advanced</option>
              <option value="3">Expert</option>
            </select>
          </div>

          <div class="flex justify-end space-x-2">
            <button
              (click)="applyFilters()"
              class="px-4 py-2 bg-green-500 text-white rounded-md shadow hover:bg-green-600"
            >
              Apply
            </button>
            <button
              (click)="clearFilters()"
              class="px-4 py-2 bg-red-500 text-white rounded-md shadow hover:bg-red-600"
            >
              Clear
            </button>
          </div>
        </div>
      </div>
      <!-- Sort Options -->

      <div class="relative h-6 aspect-square">
        <sort-down-svg (click)="toggleMenu('sort')"></sort-down-svg>
        <!-- Sort Box (initially hidden) -->
        <div
          *ngIf="menu === 'sort'"
          class="absolute top-7 border right-0 bg-page p-2 shadow-lg rounded-lg w-72"
        >
          <div class="">
            <label class="block text-sm font-bold mb-1">Sort</label>
            <select
              [(ngModel)]="sortOption"
              class="w-full bg-page p-2 border rounded-md"
            >
              <option value="createdAt">Created At</option>
              <option value="closesAt">Closes At</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- League Ads List -->
  <div class="flex flex-col px-2 space-y-6">
    <league-ad
      [league]="league"
      [index]="i"
      *ngFor="let league of filteredLeagues; let i = index"
    ></league-ad>
  </div>
</div>
