@use "tools/accent" as accent;
@use "tools/theme" as theme;

$theme-overrides: (
  light: accent.apply(
      (
        // Logo Colors
        logo-ring-1: "jade-175",
        logo-ring-2: "jade-250",
        logo-ring-3: "jade-300",
        logo-ring-4: "jade-350",
        logo-ring-5: "jade-400",
        logo-ring-6: "jade-450",
        logo-ring-7: "jade-500",
        logo-core-1: "blue-75",
        logo-core-2: "blue-450",
        logo-background: "white",
        logo-top: "jade-450",
        logo-bottom: "blue-450",

        // Loading Colors
        loading-primary-high: "jade-550",
        loading-primary-low: "jade-300",
        loading-secondary-high: "blue-550",
        loading-secondary-low: "blue-300",

        // Hero
        hero: linear-gradient(
            135deg,
            var(--pdz-color-jade-350),
            var(--pdz-color-blue-350)
          ),
      ),
      "jade",
      "blue",
      light
    ),
  dark: accent.apply(
      (
        // Logo Colors
        logo-ring-1: "jade-175",
        logo-ring-2: "jade-250",
        logo-ring-3: "jade-300",
        logo-ring-4: "jade-350",
        logo-ring-5: "jade-400",
        logo-ring-6: "jade-450",
        logo-ring-7: "jade-500",
        logo-core-1: "blue-75",
        logo-core-2: "blue-450",
        logo-background: "white",
        logo-top: "jade-400",
        logo-bottom: "blue-400",

        // Loading Colors
        loading-primary-high: "jade-350",
        loading-primary-low: "jade-550",
        loading-secondary-high: "blue-350",
        loading-secondary-low: "blue-550",

        // Hero
        hero: linear-gradient(
            135deg,
            var(--pdz-color-jade-400),
            var(--pdz-color-jade-250)
          ),
      ),
      "jade",
      "blue",
      dark
    ),
);

$theme: theme.build-pdz-theme($theme-overrides);
