@use "sass:map";
@use "typography" as *;

@mixin apply-theme($theme) {
  @each $key, $value in $theme {
    --pdz-#{$key}: #{$value};
  }
}

@mixin apply-typography($style-name) {
  $style: map.get($typography, $style-name);

  @if $style {
    font-family: map.get($style, font-family);
    font-size: map.get($style, font-size);
    font-weight: map.get($style, font-weight);
    line-height: map.get($style, line-height);
  } @else {
    @warn "Typography style `#{$style-name}` not found.";
  }
}

@mixin respond-above($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map.get($breakpoints, $breakpoint)}) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$breakpoint}` not found.";
  }
}
