@use "sass:map";
@use "sass:color";
@use "sass:meta";
@use "variables" as *;
@use "mixins" as *;
@use "shape" as *;
@use "layout" as *;
@use "shadows" as *;
@use "breakpoints" as *;
@use "typography" as *;
@use "base/tokens" as *;

@mixin apply-theme($theme) {
  @each $key, $value in $theme {
    @if map.has-key($core-tokens, $value) {
      $col: map.get($core-tokens, $value);
      --pdz-color-#{$key}: #{$col};
      --pdz-color-#{$key}-rgb:
        #{color.channel($col, "red", $space: rgb)},
        #{color.channel($col, "green", $space: rgb)},
        #{color.channel($col, "blue", $space: rgb)};
    } @else if meta.type-of($value) == "color" {
      --pdz-color-#{$key}: #{$value};
      --pdz-color-#{$key}-rgb:
        #{color.channel($value, "red", $space: rgb)},
        #{color.channel($value, "green", $space: rgb)},
        #{color.channel($value, "blue", $space: rgb)};
    } @else {
      --pdz-color-#{$key}: #{$value};
    }
  }
}

:root {
  --pdz-screen-size-medium: $screen-size-medium;
  --pdz-screen-size-large: $screen-size-large;

  @each $token-name, $token-value in $core-tokens {
    --pdz-color-#{$token-name}: #{$token-value};
    --pdz-color-#{$token-name}-rgb:
      #{color.channel($token-value, "red", $space: rgb)},
      #{color.channel($token-value, "green", $space: rgb)},
      #{color.channel($token-value, "blue", $space: rgb)};
  }

  @each $level, $shadows in $shadows {
    --pdz-level-#{$level}: #{$shadows};
  }
  @each $name, $value in $shape {
    --pdz-shape-#{$name}: #{$value};
  }
  @each $name, $value in $spacing {
    --pdz-space-#{$name}: #{$value};
  }
  @each $name, $value in $fonts {
    --pdz-font-#{$name}: #{$value};
  }
  @each $name, $value in $font-size {
    --pdz-font-size-#{$name}: #{$value};
  }
  @each $name, $value in $font-weight {
    --pdz-font-weight-#{$name}: #{$value};
  }
  @each $name, $value in $line-height {
    --pdz-line-height-#{$name}: #{$value};
  }
  @include apply-typography(body-md);
  @include apply-theme(map.get(map.get($themes, classic), light));
  @each $theme-name, $variations in $themes {
    @each $variation-name, $palette in $variations {
      &[pdz-theme="#{$theme-name}"][pdz-theme-mode="#{$variation-name}"] {
        @include apply-theme($palette);
      }
    }
  }
  @include apply-scheme("menu");
}
