$shape: (
  corner-none: 0,
  corner-xxxs: 0.0675rem,
  corner-xxs: 0.125rem,
  corner-xs: 0.25rem,
  corner-sm: 0.5rem,
  corner-md: 0.75rem,
  corner-lg: 1rem,
  corner-xl: 1.5rem,
  corner-xxl: 2rem,
  corner-xxxl: 5rem,
  corner-full: 100rem,
);
