$typography: (
  headline-xl: (
    font-family: var(--pdz-font-fancy),
    font-size: 2rem,
    font-weight: var(--pdz-font-weight-bold),
    line-height: 2.5rem,
  ),
  headline-lg: (
    font-family: var(--pdz-font-fancy),
    font-size: 1.75rem,
    font-weight: var(--pdz-font-weight-bold),
    line-height: 2rem,
  ),
  headline-md: (
    font-family: var(--pdz-font-fancy),
    font-size: 1.2rem,
    font-weight: var(--pdz-font-weight-bold),
    line-height: 1.5rem,
  ),
  headline-sm: (
    font-family: var(--pdz-font-fancy),
    font-size: 1rem,
    font-weight: var(--pdz-font-weight-bold),
    line-height: 1.2rem,
  ),
  headline-xs: (
    font-family: var(--pdz-font-fancy),
    font-size: 0.8rem,
    font-weight: var(--pdz-font-weight-bold),
    line-height: 1rem,
  ),
  title-xl: (
    font-family: var(--pdz-font-fancy),
    font-size: 2rem,
    line-height: 2.5rem,
  ),
  title-lg: (
    font-family: var(--pdz-font-fancy),
    font-size: 1.75rem,
    line-height: 2rem,
  ),
  title-md: (
    font-family: var(--pdz-font-fancy),
    font-size: 1.2rem,
    line-height: 1.5rem,
  ),
  title-sm: (
    font-family: var(--pdz-font-fancy),
    font-size: 1rem,
    line-height: 1.2rem,
  ),
  title-xs: (
    font-family: var(--pdz-font-fancy),
    font-size: 0.8rem,
    line-height: 1rem,
  ),
  body-lg: (
    font-family: var(--pdz-font-regular),
    font-size: 1.2rem,
    font-weight: 400,
    line-height: 1.5rem,
  ),
  body-md: (
    font-family: var(--pdz-font-regular),
    font-size: 1rem,
    font-weight: 400,
    line-height: 1.2rem,
  ),
  body-sm: (
    font-family: var(--pdz-font-regular),
    font-size: 0.9rem,
    font-weight: 400,
    line-height: 1.1rem,
  ),
  body-xs: (
    font-family: var(--pdz-font-regular),
    font-size: 0.8rem,
    font-weight: 400,
    line-height: 1rem,
  ),
  body-2xs: (
    font-family: var(--pdz-font-regular),
    font-size: 0.7rem,
    font-weight: 400,
    line-height: 0.9rem,
  ),
  label-xs: (
    font-family: var(--pdz-font-regular),
    font-size: 0.65rem,
    font-weight: 500,
    line-height: 0.75rem,
    text-transform: uppercase,
    opacity: 0.7,
  ),
  label-sm: (
    font-family: var(--pdz-font-regular),
    font-size: 0.75rem,
    font-weight: 500,
    line-height: 1rem,
    text-transform: uppercase,
    opacity: 0.7,
  ),
  label-md: (
    font-family: var(--pdz-font-regular),
    font-size: 0.9rem,
    font-weight: 500,
    line-height: 1.2rem,
    text-transform: uppercase,
    opacity: 0.7,
  ),
  label-lg: (
    font-family: var(--pdz-font-regular),
    font-size: 1rem,
    font-weight: 500,
    line-height: 1.25rem,
    text-transform: uppercase,
    opacity: 0.7,
  ),
);

$fonts: (
  fancy: "Nasalization RG",
  regular: "Nunito",
);

$font-size: (
  2xs: 0.5rem,
  xs: 0.75rem,
  sm: 0.9rem,
  md: 1rem,
  lg: 1.2rem,
  xl: 1.5rem,
  2xl: 2rem,
);

$font-weight: (
  bold: 700,
);

$line-height: (
  2xs: 0.5rem,
  xs: 0.75rem,
  sm: 0.9rem,
  md: 1rem,
  lg: 1.2rem,
  xl: 1.5rem,
  2xl: 2rem,
);
