@use "@angular/material" as mat;

html {
  color-scheme: light;
  @include mat.theme(
    (
      color: mat.$orange-palette,
    )
  );
}

.dark-mode {
  color-scheme: dark;
  @include mat.theme(
    (
      color: mat.$rose-palette,
    )
  );
}
