@use "tailwind-styles";
@use "pdz-theming";
@use "mat-styles";

@font-face {
  font-family: "Nasalization RG";
  src: url("../assets/fonts/nasalization-pd.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--mat-sys-surface);
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--mat-sys-surface-dim);
    border-radius: 100vh;
    border: 2px solid var(--mat-sys-surface);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--mat-sys-surface-container-high);
    border: 1px solid var(--mat-sys-surface);
  }

  .tooltip {
    position: relative;
    cursor: pointer;
  }

  .tooltip::after {
    content: attr(data-title);
    position: absolute;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition:
      opacity 0.2s,
      transform 0.2s;
  }

  .tooltip:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-0.5rem);
  }
}

$screen-size-large: 1024px;
$screen-size-medium: 768px;

@media (max-width: $screen-size-medium) {
  .full-screen-on-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10000;
    background-color: var(--mat-sys-surface-container);
    overflow-y: auto;
  }

  .panel-full-screen-on-mobile {
    .mat-mdc-autocomplete-panel,
    .mat-mdc-select-panel {
      max-height: calc(100vh - 12px - var(--overlay-top, 0px)) !important;
    }
  }
}

:root {
  --pdz-fancy: Nasalization RG, sans-serif;
  --pdz-font-fancy: Nasalization RG;
  --pdz-font-regular: Nunito;

  --pdz-screen-size-medium: $screen-size-medium;
  --pdz-screen-size-large: $screen-size-large;
}

$option-lineheight: 3rem;

.pokemon-viewport {
  height: 15rem;
  width: 100%;
  background-color: var(--mat-sys-surface-container-low);
  color: var(--mat-sys-on-surface-container-low);
  border-radius: 0 0 0.25rem 0.25rem;
  box-shadow: var(--mat-sys-level2);

  .cdk-virtual-scroll-content-wrapper {
    width: 100%;
    .pokemon-item {
      height: $option-lineheight;
      display: flex;
      width: 100%;
      max-width: 100%;

      align-items: center;

      &:hover,
      &.highlighted-option {
        background-color: var(--mat-sys-surface-container-highest);
        color: var(--mat-sys-on-surface-container-highest);
        cursor: pointer;
      }

      .sprite-wrapper {
        height: $option-lineheight;
        width: $option-lineheight;
        padding: 0.25rem;
        flex-shrink: 0;
      }

      .pokemon-text {
        padding-left: 0.125rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

.type-container {
  display: flex;
  justify-content: center;
  gap: 0.25rem;

  $bevel-padding: 3px;
  .type-label {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 2.5rem;
    border-radius: 0.25rem;
    box-shadow: var(--mat-sys-level1);
    height: 1rem;
    padding: $bevel-padding;

    .type-text {
      color: white;
      flex-shrink: 0;
      font-size: 0.6em;
      line-height: 1em;
      user-select: none;
      font-family: var(--pdz-font-regular);
    }
  }
}

.pdz-hidden-on-small {
  @media (max-width: 768px) {
    display: none;
  }
}

$lightcoral: #f08080;
$warm-orange: #feb47b;

.pdz-background-neg {
  background: linear-gradient(to bottom right, $warm-orange, $lightcoral);
}

$lightgreen: #90ee90;
$fresh-aqua: #76d7c4;

.pdz-background-pos {
  background: linear-gradient(to bottom right, $lightgreen, $fresh-aqua);
}

// .pdz-background-neg {
//   background-color: lightcoral;
// }

// .pdz-background-pos {
//   background-color: lightgreen;
// }

.pdz-background-neut {
  background: linear-gradient(to bottom right, lightgray, gray);
}
