/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.ring_1 {
  stop-color: hsl(
    var(--twc-logo-ring-1) /
      var(--twc--logo-ring-1-opacity, var(--tw-bg-opacity))
  );
}
.ring_2 {
  stop-color: hsl(
    var(--twc-logo-ring-2) /
      var(--twc--logo-ring-2-opacity, var(--tw-bg-opacity))
  );
}
.ring_3 {
  stop-color: hsl(
    var(--twc-logo-ring-3) /
      var(--twc--logo-ring-3-opacity, var(--tw-bg-opacity))
  );
}
.ring_4 {
  stop-color: hsl(
    var(--twc-logo-ring-4) /
      var(--twc--logo-ring-4-opacity, var(--tw-bg-opacity))
  );
}
.ring_5 {
  stop-color: hsl(
    var(--twc-logo-ring-5) /
      var(--twc--logo-ring-5-opacity, var(--tw-bg-opacity))
  );
}
.ring_6 {
  stop-color: hsl(
    var(--twc-logo-ring-6) /
      var(--twc--logo-ring-6-opacity, var(--tw-bg-opacity))
  );
}
.ring_7 {
  stop-color: hsl(
    var(--twc-logo-ring-7) /
      var(--twc--logo-ring-7-opacity, var(--tw-bg-opacity))
  );
}
.core_1 {
  stop-color: hsl(
    var(--twc-logo-core-1) /
      var(--twc--logo-core-1-opacity, var(--tw-bg-opacity))
  );
}
.core_2 {
  stop-color: hsl(
    var(--twc-logo-core-2) /
      var(--twc--logo-core-2-opacity, var(--tw-bg-opacity))
  );
}

@font-face {
  font-family: "Nasalization RG";
  src: url("../assets/fonts/nasalization-pd.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  /*tera scrollbar*/
  .scrollbar-tera::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  .scrollbar-tera::-webkit-scrollbar-track {
    display: none;
  }

  .scrollbar-tera::-webkit-scrollbar-thumb {
    background: hsl(
      var(--twc-menu-400) / var(--twc-menu-400-opacity, var(--tw-bg-opacity))
    );
    border-radius: 100vh;
    border: 2px solid
      hsl(
        var(--twc-menu-400) / var(--twc-menu-400-opacity, var(--tw-bg-opacity))
      );
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--mat-sys-surface);
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--mat-sys-surface-dim);
    border-radius: 100vh;
    border: 2px solid var(--mat-sys-surface);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--mat-sys-surface-container-high);
    border: 1px solid var(--mat-sys-surface);
  }

  .tooltip {
    position: relative;
    cursor: pointer;
  }

  .tooltip::after {
    content: attr(data-title);
    position: absolute;
    bottom: 125%; /* Adjust placement */
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition:
      opacity 0.2s,
      transform 0.2s;
  }

  .tooltip:hover::after {
    opacity: 1;
    transform: translateX(-50%) translateY(-0.5rem);
  }
}

$levels: 0, 1, 2, 3, 4, 5;

@each $level in $levels {
  .mat-level-#{$level} {
    box-shadow: var(--mat-sys-level#{$level});
  }
}

$screen-size-large: 1024px;
$screen-size-medium: 768px;

@media (max-width: $screen-size-medium) {
  .full-screen-on-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
    background-color: var(--mat-sys-surface-container);
    overflow-y: auto;
  }

  .panel-full-screen-on-mobile {
    .mat-mdc-autocomplete-panel,
    .mat-mdc-select-panel {
      max-height: calc(100vh - 12px - var(--overlay-top, 0px)) !important;
    }
  }
}
