@tailwind base;
@tailwind components;
@tailwind utilities;

.ring_1 {
  stop-color: hsl(
    var(--twc-logo-ring-1) /
      var(--twc--logo-ring-1-opacity, var(--tw-bg-opacity))
  );
}
.ring_2 {
  stop-color: hsl(
    var(--twc-logo-ring-2) /
      var(--twc--logo-ring-2-opacity, var(--tw-bg-opacity))
  );
}
.ring_3 {
  stop-color: hsl(
    var(--twc-logo-ring-3) /
      var(--twc--logo-ring-3-opacity, var(--tw-bg-opacity))
  );
}
.ring_4 {
  stop-color: hsl(
    var(--twc-logo-ring-4) /
      var(--twc--logo-ring-4-opacity, var(--tw-bg-opacity))
  );
}
.ring_5 {
  stop-color: hsl(
    var(--twc-logo-ring-5) /
      var(--twc--logo-ring-5-opacity, var(--tw-bg-opacity))
  );
}
.ring_6 {
  stop-color: hsl(
    var(--twc-logo-ring-6) /
      var(--twc--logo-ring-6-opacity, var(--tw-bg-opacity))
  );
}
.ring_7 {
  stop-color: hsl(
    var(--twc-logo-ring-7) /
      var(--twc--logo-ring-7-opacity, var(--tw-bg-opacity))
  );
}
.core_1 {
  stop-color: hsl(
    var(--twc-logo-core-1) /
      var(--twc--logo-core-1-opacity, var(--tw-bg-opacity))
  );
}
.core_2 {
  stop-color: hsl(
    var(--twc-logo-core-2) /
      var(--twc--logo-core-2-opacity, var(--tw-bg-opacity))
  );
}

//Fix between tailwind and angular materials
.mdc-notched-outline__notch {
  border-right: none;
}

.bg-aTeam-200 {
  background-color: var(--pdz-color-primary-container-high) !important;
}
.bg-bTeam-200 {
  background-color: var(--pdz-color-secondary-container-high) !important;
}

.bg-aTeam-300 {
  background-color: var(--pdz-color-primary-container) !important;
}

.bg-bTeam-300 {
  background-color: var(--pdz-color-secondary-container) !important;
}

.shadow-inner {
  box-shadow: var(--pdz-level-inset-2) !important;
}

.shadow-md {
  box-shadow: var(--pdz-level-2) !important;
}

.hover\:bg-aTeam-100:hover {
  background-color: var(--pdz-color-primary-container-low) !important;
}

.hover\:bg-bTeam-100:hover {
  background-color: var(--pdz-color-secondary-container-low) !important;
}

.border-aTeam-400,
.border-aTeam-300,
.border-aTeam-200 {
  border-color: var(--pdz-color-primary-border) !important;
}

.border-bTeam-400,
.border-bTeam-300,
.border-bTeam-200 {
  border-color: var(--pdz-color-secondary-border) !important;
}

.border-menu-500 {
  border-color: var(--pdz-color-outline) !important;
}

.bg-menu-100,
.bg-menu-200 {
  background-color: var(--pdz-color-surface-container) !important;
}

.bg-menu-500 {
  background-color: var(--pdz-color-menu) !important;
  color: var(--pdz-color-on-menu) !important;
}

.hover\:bg-menu-700:hover {
  background-color: var(--pdz-color-menu-hover) !important;
}
