$horizontal-padding: 0.25rem;
$vertical-padding: 0.25rem;
:host {
  display: flex;
  height: 100%;
  padding: $vertical-padding $horizontal-padding;
  column-gap: 0.25rem;
}

.draft-side-nav-bar {
  flex-shrink: 0;
  border-radius: 0.25rem;
  width: 16rem;
  padding: $vertical-padding $horizontal-padding;
  border: 1px solid var(--mat-sys-outline);
  display: flex;
  flex-direction: column;
  .nav-title {
    font-family: var(--pdz-fancy);
    font-size: small;
    font-weight: bold;
  }

  .nav-spacer {
    flex-grow: 1;
  }
}

.nav-items {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  overflow-y: auto;
}

.nav-item {
  border: 1px solid var(--mat-sys-outline-variant);
  padding: 0.25rem;

  &:hover {
  }

  .draft-info {
    display: flex;
    column-gap: 0.25rem;
    justify-content: space-between;
  }

  .draft-team {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  .draft-score {
    background-color: var(--mat-sys-primary-container);
    border-radius: 0.5rem;
    padding: 0 0.25rem;

    &.positive {
      background-color: lightgreen;
    }

    &.negative {
      background-color: lightcoral;
    }
  }
}
