<div class="draft-side-nav-bar">
  <div class="nav-header">
    <div class="nav-title">My Drafts</div>
    <div class="add-button"></div>
  </div>
  <div class="nav-items">
    @for (draft of drafts; track $index) {
      <div class="nav-item">
        <div class="draft-info">
          <span class="draft-name">
            {{ draft.leagueName }}
          </span>
          <span
            class="draft-score"
            [ngClass]="{
              positive: draft.score.wins > draft.score.loses,
              negative: draft.score.loses > draft.score.wins,
            }"
          >
            {{ draft.score.wins }}-{{ draft.score.loses }} ({{
              draft.score.diff
            }})
          </span>
        </div>

        <div class="draft-team">
          @for (pokemon of draft.team; track $index) {
            <div class="sprite-wrapper">
              <sprite flipped [pokemon]="pokemon"></sprite>
            </div>
          }
        </div>
      </div>
    }
  </div>
  <div class="nav-spacer"></div>
  <div class="nav-header">
    <div class="nav-title">Archived Drafts</div>
    <div class="add-button"></div>
  </div>
</div>
<router-outlet></router-outlet>
