.tera-option {
  display: flex;
  width: auto;
  align-items: center;
  gap: 0.5rem;
  img {
    height: 1rem;
  }
}

.teambuilder-wrapper {
  height: 100%;
  padding: var(--pdz-space-lg);
  border-radius: var(--pdz-shape-corner-sm);
}

.level-2 {
  box-shadow: var(--pdz-level-2);
}
