@if (quickForm(); as quickForm) {
  <mat-stepper
    #stepper
    class="pokemon-form-container"
    orientation="vertical"
    linear
  >
    <mat-step
      state="details"
      [stepControl]="quickForm.controls.details"
      errorMessage="Name is required."
    >
      <form [formGroup]="quickForm.controls.details">
        <ng-template matStepLabel>Details</ng-template>
        <ng-template matStepContent>
          <div class="details-form-container">
            <div class="league-container details-container">
              <pdz-format-select formControlName="format"></pdz-format-select>
              <pdz-ruleset-select
                formControlName="ruleset"
              ></pdz-ruleset-select>
            </div>
          </div>
          <div class="button-bar">
            <div class="button-spacer"></div>
            <button pdz-button type="button" matStepperNext>Next</button>
          </div>
        </ng-template>
      </form>
    </mat-step>
    <mat-step state="team">
      <ng-template matStepLabel>Team 1</ng-template>
      <ng-template matStepContent>
        <div class="team-container">
          <label pdz-field label="Team Name">
            <input
              pdz-input
              [formControl]="quickForm.controls.side1.controls.teamName"
              spellcheck="false"
            />
          </label>
          <pdz-team-form
            [pokemonList$]="pokemonList$"
            [ruleset]="quickForm.controls.details.controls.ruleset.value"
            [teamArray]="quickForm.controls.side1.controls.team"
          ></pdz-team-form>
        </div>

        <div class="button-bar">
          <button
            pdz-button
            variant="outlined"
            color="neutral"
            type="button"
            matStepperPrevious
          >
            Back
          </button>
          <div class="button-spacer"></div>
          <button pdz-button type="button" matStepperNext>Next</button>
        </div>
      </ng-template>
    </mat-step>
    <mat-step state="team">
      <ng-template matStepLabel>Team 2</ng-template>
      <ng-template matStepContent>
        <div class="team-container alternate">
          <label pdz-field label="Team Name">
            <input
              pdz-input
              [formControl]="quickForm.controls.side2.controls.teamName"
              spellcheck="false"
            />
          </label>
          <pdz-team-form
            [pokemonList$]="pokemonList$"
            [ruleset]="quickForm.controls.details.controls.ruleset.value"
            [teamArray]="quickForm.controls.side2.controls.team"
          ></pdz-team-form>
        </div>

        <div class="button-bar">
          <button
            pdz-button
            variant="outlined"
            color="neutral"
            type="button"
            matStepperPrevious
          >
            Back
          </button>
          <div class="button-spacer"></div>
          <button pdz-button type="submit" (click)="onSubmit()">Submit</button>
        </div>
      </ng-template>
    </mat-step>
    <ng-template matStepperIcon="details">
      <pdz-icon name="info" />
    </ng-template>
    <ng-template matStepperIcon="team">
      <pdz-icon name="workspaces" />
    </ng-template>
  </mat-stepper>
}
