@use "pdz-theming" as pdz;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.trades {
  display: flex;
  flex-direction: column;
  gap: pdz.space(md);
  height: 100%;
  overflow: auto;

  &__body {
    display: flex;
    flex-direction: column;
    gap: pdz.space(lg);
  }
}
