<div class="preview-main">
  <section class="matchups-section alternate">
    <div class="section-header">
      <h3>Matches</h3>
      <div class="button-container">
        @if (selectedMatchup) {
          <button
            class="matchup-btn"
            routerLink="matchup"
            [queryParams]="{ id: selectedMatchup._id }"
          >
            View Matchup
          </button>
          <button
            routerLink="score"
            [queryParams]="{ matchup: selectedMatchup._id }"
            class="option-btn"
          >
            <mat-icon>scoreboard</mat-icon>
          </button>
          <button
            class="option-btn"
            routerLink="form"
            [queryParams]="{ matchup: selectedMatchup._id }"
          >
            <mat-icon>edit</mat-icon>
          </button>
          <button
            (click)="deleteMatchup(selectedMatchup._id)"
            class="option-btn"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        }
        <button
          [routerLink]="['/', draftPath, this.teamId, 'form']"
          class="option-btn"
          [queryParams]="{ stage: `Week ${(this.matchups?.length ?? 0) + 1}` }"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    @if (!matchups) {
      <pdz-loading></pdz-loading>
    } @else {
      <div class="matchups-container">
        @for (matchup of matchups; track $index) {
          <div
            class="matchup-card"
            (click)="selectMatchup(matchup)"
            [ngClass]="{ selected: selectedMatchup === matchup }"
          >
            <div class="card-header">
              <div class="matchup-stage">{{ matchup.stage }}</div>
              <div class="matchup-team-info-container">
                @if (matchup.logo) {
                  <div class="matchup-logo">
                    <img [src]="matchup.logo" />
                  </div>
                }
                <div class="matchup-team-info">
                  <div class="team-name">{{ matchup.teamName }}</div>
                  @if (matchup.coach) {
                    <div class="coach-name">{{ matchup.coach }}</div>
                  }
                </div>
              </div>

              <div class="card-menu">
                <button
                  (click)="$event.stopPropagation(); selectMatchup(matchup)"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>
              </div>
            </div>

            <div class="card-body">
              <div class="sprites">
                @for (pokemon of matchup.team; track pokemon.name) {
                  <pdz-sprite [pokemon]="pokemon"></pdz-sprite>
                }
              </div>
            </div>

            <div class="card-footer">
              <!-- Score / actions go here -->
              <div class="options-container">
                @if (matchup.score) {
                  <div class="score-button" [ngClass]="matchup.scoreClass">
                    {{ matchup.scoreString }}
                  </div>
                } @else {
                  <div class="score-placeholder">View Matchup</div>
                }
              </div>
            </div>
          </div>
        } @empty {
          <div class="no-matchups">
            Click the [+] to add your first opponent!
          </div>
        }
      </div>
    }
  </section>
  <section class="stats-section">
    <div class="section-header">Stats</div>
    @if (!teamStats) {
      <pdz-loading></pdz-loading>
    } @else {
      @if (teamStats.value && teamStats.value.length > 0) {
        <div class="table-container">
          <div class="table-wrapper">
            <table cdk-table [dataSource]="teamStats.value!">
              <ng-container cdkColumnDef="sprite">
                <th cdk-header-cell *cdkHeaderCellDef></th>
                <td cdk-cell *cdkCellDef="let element">
                  <div class="sprite-wrapper">
                    <pdz-sprite
                      [flipped]="true"
                      [pokemon]="element.pokemon"
                    ></pdz-sprite>
                  </div>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="name">
                <th cdk-header-cell *cdkHeaderCellDef>Name</th>
                <td cdk-cell *cdkCellDef="let element">
                  {{ element.pokemon.name }}
                </td>
              </ng-container>

              <ng-container cdkColumnDef="gb">
                <th cdk-header-cell *cdkHeaderCellDef>Games Brought</th>
                <td cdk-cell *cdkCellDef="let element">
                  {{ element.brought }}
                </td>
              </ng-container>

              <ng-container cdkColumnDef="dk">
                <th cdk-header-cell *cdkHeaderCellDef>Direct Kills</th>
                <td cdk-cell *cdkCellDef="let element">
                  {{ element.kills }}
                </td>
              </ng-container>

              <ng-container cdkColumnDef="ik">
                <th cdk-header-cell *cdkHeaderCellDef>Indirect Kills</th>
                <td cdk-cell *cdkCellDef="let element">
                  {{ element.indirect }}
                </td>
              </ng-container>

              <ng-container cdkColumnDef="deaths">
                <th cdk-header-cell *cdkHeaderCellDef>Deaths</th>
                <td cdk-cell *cdkCellDef="let element">
                  {{ element.deaths }}
                </td>
              </ng-container>

              <ng-container cdkColumnDef="kdr">
                <th cdk-header-cell *cdkHeaderCellDef>Kills/Deaths</th>
                <td cdk-cell *cdkCellDef="let element">
                  {{ element.kdr | number: "1.0-2" }}
                </td>
              </ng-container>

              <ng-container cdkColumnDef="kpg">
                <th cdk-header-cell *cdkHeaderCellDef>Kills/Game</th>
                <td cdk-cell *cdkCellDef="let element">
                  {{ element.kpg | number: "1.0-2" }}
                </td>
              </ng-container>

              <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>
      } @else {
        <div class="score-placeholder">
          Score your first match to see your stats
        </div>
      }
    }
  </section>
</div>
