<div class="flex min-h-full gap-2">
  @if (draft) {
    <div class="draft-bar">
      @for (pokemon of draft.team; track $index) {
        <pdz-sprite [pokemon]="pokemon" [flipped]="true"> </pdz-sprite>
      }
    </div>
  }
  <div class="matchups-section alternate">
    <div class="section-header">
      <h3>Matches</h3>
      <!-- <button
        (click)="newOpponent()"
        class="p-2 m-3 rounded-lg shadow-md bg-bTeam-300 hover:shadow shadow-bTeam-600"
        title="Add Matchup"
      >
        <div class="w-6 h-6">
          <plus-svg class="stroke-symbolColor-main"></plus-svg>
        </div>
      </button> -->

      <button mat-mini-fab (click)="newOpponent()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    @if (matchups) {
      <div class="matchups-container">
        @for (matchup of matchups; track $index) {
          <div class="matchup">
            <div class="matchup-header">
              <div class="matchup-team-info">
                <div class="team-name">{{ matchup.teamName }}</div>
                @if (matchup.coach) {
                  <div class="coach-name">{{ matchup.coach }}</div>
                }
              </div>
              <button
                class="score-button"
                [style.background-color]="scoreColor(matchup)"
              >
                @if (matchup.score) {
                  {{ scoreString(matchup) }}
                } @else {
                  Add Score
                }
              </button>
            </div>

            <div class="pokemon-container">
              @for (pokemon of matchup.team; track $index) {
                <pdz-sprite [pokemon]="pokemon"></pdz-sprite>
              }
            </div>
            <div class="flex">
              <button>View Matchup</button>

              <button mat-icon-button><mat-icon>edit</mat-icon></button>
              <button mat-icon-button>
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </div>
        } @empty {
          <div class="flex w-full justify-center opacity-60 text-lg">
            Click the [+] to add your first opponent!
          </div>
        }
      </div>
    } @else {
      <loading></loading>
    }
  </div>
  <div class="stats-section">
    <div class="section-header">Stats</div>
  </div>
</div>
