<div class="preview-main">
  <section class="matchups-section alternate">
    <div class="section-header">
      <h3>Matches</h3>
      <div class="button-container">
        <button
          class="option-btn direction-btn"
          [class.up]="directionUp"
          (click)="toggleDirection()"
        >
          <mat-icon>arrow_downward</mat-icon>
        </button>
        <button
          [routerLink]="['/', draftPath, this.teamId, 'form']"
          class="option-btn"
          [queryParams]="{ stage: `Week ${(this.matchups?.length ?? 0) + 1}` }"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
    @if (!matchups) {
      <pdz-loading></pdz-loading>
    } @else {
      <div class="matchups-container">
        @for (matchup of matchups; track $index) {
          <div class="matchup-card">
            <div class="card-header">
              @if (matchup.score) {
                <div class="card-score" [ngClass]="matchup.scoreClass">
                  {{ matchup.scoreString }}
                </div>
              }
              <div class="card-title">
                @if (matchup.logo) {
                  <div class="matchup-logo">
                    <img [src]="matchup.logo" />
                  </div>
                }
                <div class="matchup-team-info">
                  <div class="team-name">{{ matchup.teamName }}</div>
                  @if (matchup.coach) {
                    <div class="coach-name">{{ matchup.coach }}</div>
                  }
                </div>
              </div>

              <div class="card-menu">
                <button
                  class="more-btn"
                  (click)="toggleMenu(matchup._id, $event)"
                >
                  <mat-icon>more_vert</mat-icon>
                </button>

                @if (openDropdown === matchup._id) {
                  <div class="menu-dropdown">
                    @if (matchup.score) {
                      <button
                        class="menu-item"
                        routerLink="matchup"
                        [queryParams]="{ id: matchup._id }"
                      >
                        <mat-icon> search_insights </mat-icon> View Matchup
                      </button>
                    }
                    <button
                      class="menu-item"
                      routerLink="form"
                      [queryParams]="{ matchup: matchup._id }"
                    >
                      <mat-icon>edit_document</mat-icon> Edit Match
                    </button>
                    <button
                      routerLink="score"
                      [queryParams]="{ matchup: matchup._id }"
                      class="menu-item"
                    >
                      <mat-icon>scoreboard</mat-icon>
                      @if (matchup.score) {
                        Edit
                      } @else {
                        Add
                      }
                      Score
                    </button>
                    <button
                      (click)="deleteMatchup(matchup._id)"
                      class="menu-item"
                    >
                      <mat-icon>delete_forever</mat-icon> Delete
                    </button>
                  </div>
                }
              </div>
            </div>

            <div class="card-body">
              <div class="body-header">
                {{ matchup.stage }}
              </div>
              <div class="sprites">
                @for (pokemon of matchup.team; track pokemon.name) {
                  <pdz-sprite [pokemon]="pokemon"></pdz-sprite>
                }
              </div>
            </div>

            <div class="card-footer">
              @if (matchup.score) {
                <a
                  (click)="openReplays(matchup)"
                  class="footer-link"
                  [class.disabled]="!matchup.matches.length"
                  >View Replay
                  @if (matchup.matches.length > 1) {
                    s
                  }
                </a>
              } @else {
                <a class="footer-link" [routerLink]="['matchup', matchup._id]"
                  >View Matchup</a
                >
              }
            </div>
          </div>
        } @empty {
          <div class="no-matchups">
            Click the [+] to add your first opponent!
          </div>
        }
      </div>
    }
  </section>
  <section class="stats-section">
    <div class="section-header">Stats</div>
    @if (!teamStats) {
      <pdz-loading></pdz-loading>
    } @else {
      @if (teamStats.value && teamStats.value.length > 0) {
        <div class="table-container">
          <div class="table-wrapper">
            <table
              cdk-table
              [dataSource]="teamStats.value!"
              matSort
              (matSortChange)="sort($event)"
              [matSortActive]="'kpg'"
              [matSortDirection]="'desc'"
              matSortDisableClear
            >
              <ng-container cdkColumnDef="sprite">
                <th cdk-header-cell *cdkHeaderCellDef></th>
                <td cdk-cell *cdkCellDef="let element">
                  <div class="sprite-wrapper">
                    <pdz-sprite
                      [flipped]="true"
                      [pokemon]="element.pokemon"
                    ></pdz-sprite>
                  </div>
                </td>
              </ng-container>
              <ng-container cdkColumnDef="name">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="name">
                  Name
                </th>
                <td cdk-cell *cdkCellDef="let element">
                  {{ element.pokemon.name }}
                </td>
              </ng-container>

              <ng-container cdkColumnDef="gb">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="gb">
                  Games Brought
                </th>
                <td cdk-cell *cdkCellDef="let element">
                  {{ element.brought }}
                </td>
              </ng-container>

              <ng-container cdkColumnDef="dk">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="dk">
                  Direct Kills
                </th>
                <td cdk-cell *cdkCellDef="let element">
                  {{ element.kills }}
                </td>
              </ng-container>

              <ng-container cdkColumnDef="ik">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="ik">
                  Indirect Kills
                </th>
                <td cdk-cell *cdkCellDef="let element">
                  {{ element.indirect }}
                </td>
              </ng-container>

              <ng-container cdkColumnDef="deaths">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="deaths">
                  Deaths
                </th>
                <td cdk-cell *cdkCellDef="let element">
                  {{ element.deaths }}
                </td>
              </ng-container>

              <ng-container cdkColumnDef="kdr">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="kdr">
                  Kills/Deaths
                </th>
                <td cdk-cell *cdkCellDef="let element">
                  {{ element.kdr | number: "1.0-2" }}
                </td>
              </ng-container>

              <ng-container cdkColumnDef="kpg">
                <th cdk-header-cell *cdkHeaderCellDef mat-sort-header="kpg">
                  Kills/Game
                </th>
                <td cdk-cell *cdkCellDef="let element">
                  {{ element.kpg | number: "1.0-2" }}
                </td>
              </ng-container>

              <tr cdk-header-row *cdkHeaderRowDef="displayedColumns"></tr>
              <tr cdk-row *cdkRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>
      } @else {
        <div class="score-placeholder">
          Score your first match to see your stats
        </div>
      }
    }
  </section>
</div>
