@use "@angular/material" as mat;
@use "../../../../styles/breakpoints" as *;
@use "../../../../styles/mixins" as *;
@use "../../../../styles/mixins/typography" as *;
@use "../../../../styles/mixins/buttons" as *;
@use "../../../../styles/global" as *;

:host {
  flex-grow: 1;
  display: flex;
}

.preview-main {
  display: flex;
  width: 100%;
  gap: 0.5rem;
  padding: 0 0.5rem 0.5rem;

  flex-direction: column;
  align-items: stretch;

  @include respond-above(medium) {
    flex-direction: row;
  }
}

section {
  border: 1px solid pdz-color(menu-border);
  border-radius: var(--pdz-shape-corner-lg);
  width: fit-content;
  min-width: 33%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.matchups-section {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include respond-above(medium) {
    width: auto;
    flex-grow: 1;
  }
}

.matchups-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: var(--pdz-space-lg);
  padding: 0 0.5rem 0.5rem;
  align-items: start;
}

.matchup-card {
  background-color: pdz-color(secondary-container);
  color: pdz-color(on-secondary-container);
  border-radius: var(--pdz-shape-corner-md);
  border: 1px solid pdz-color(secondary-border);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  @include shadow-hover-effect;

  &.selected {
    box-shadow: var(--pdz-level-2);
  }

  .card-header {
    background-color: pdz-color(secondary-container-high);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--pdz-space-sm) var(--pdz-space-md);
    border-bottom: 1px solid pdz-color(secondary-border);

    .matchup-stage {
      font-size: 0.8rem;
      margin-right: var(--pdz-space-md);
    }

    .matchup-team-info-container {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      flex-grow: 1;
    }

    button {
      @include icon-button(());
    }
  }
  .card-menu {
    position: relative;

    .menu-dropdown {
      position: absolute;
      top: 100%;
      right: 0;
      background-color: var(--pdz-color-secondary-subtle);
      border-radius: var(--pdz-shape-corner-sm);
      box-shadow: var(--pdz-level-2);
      z-index: 10;
      width: fit-content;
      padding: var(--pdz-space-sm) 0;
      display: flex;
      flex-direction: column;

      .menu-item {
        display: flex;
        align-items: center;
        gap: var(--pdz-space-md);
        padding: var(--pdz-space-md);
        background: none;
        border: none;
        width: 100%;
        cursor: pointer;
        font-size: 1rem;
        color: var(--pdz-color-on-secondary-container);
        text-wrap: nowrap;
        &:hover {
          background-color: var(--pdz-color-secondary-container-hover);
        }
      }
    }
  }

  .card-body {
    padding: var(--pdz-space-sm) var(--pdz-space-md);
    flex-grow: 1;

    .sprites {
      display: grid;
      grid-template-columns: repeat(6, minmax(36px, 1fr));
      gap: var(--pdz-space-sm);
    }
  }

  .card-footer {
    padding: var(--pdz-space-xs) var(--pdz-space-md);
    border-top: 1px solid pdz-color(secondary-border);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: var(--pdz-space-2xs);

    .score-placeholder {
      opacity: 0.7;
    }
    .footer-link {
      @include flat-button(
        (
          padding: var(--pdz-space-xs) var(--pdz-space-md),
          border-radius: var(--pdz-shape-corner-sm),
          background-hover: pdz-color(secondary-container-high),
          border: none,
        )
      );
    }
  }
}

.matchup-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-width: 180px;
}

.options-container {
  display: flex;
  align-items: center;
  gap: 0.125rem;
  flex-shrink: 0;
}

.pokemon-container {
  display: flex;
  overflow-x: auto;
  padding: 0 0.5rem;
  gap: 0.125rem;
  scrollbar-gutter: stable;
  justify-content: center;
  flex-basis: 100%;
  order: 3;

  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;

  @include respond-above(medium) {
    flex-basis: auto;
    flex-grow: 1;
    order: 0;
    justify-content: center;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.matchup-team-info-container {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  .matchup-team-info {
    justify-content: center;
    display: flex;
    flex-direction: column;
    min-width: 12rem;
    .team-name,
    .coach-name {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .coach-name {
      font-size: 0.8rem;
      line-height: 0.9rem;
    }
  }
  .matchup-logo {
    flex-shrink: 0;
    overflow: hidden;
    border-radius: var(--pdz-shape-corner-md);
    box-shadow: var(--pdz-level-1);
    height: 3rem;
    width: 3rem;
    img {
      aspect-ratio: 1/1;
      object-fit: contain;
    }
  }
}

.score-button {
  padding: var(--pdz-space-2xs) var(--pdz-space-sm);
  border-radius: 0.625rem;
  &.pdz-background-neg {
    background-color: pdz-color(negative);
    color: pdz-color(on-negative);
    box-shadow: var(--pdz-level-1);
  }

  &.pdz-background-pos {
    background-color: pdz-color(positive);
    color: pdz-color(on-positive);
    box-shadow: var(--pdz-level-1);
  }

  &.pdz-background-neut {
    background-color: pdz-color(secondary-container);
    color: pdz-color(on-secondary-container);
    box-shadow: var(--pdz-level-inset-1);
  }

  color: pdz-color(on-secondary-container);
  border-radius: var(--pdz-shape-corner-sm);

  justify-content: center;
  text-align: center;
  .score {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }
}

.section-header {
  display: flex;
  width: 100%;
  font-size: 1.25rem;
  align-items: center;
  justify-content: space-between;
  font-family: var(--pdz-font-fancy);
  padding: 0.5rem 1rem;
  flex-shrink: 0;
}

.score-placeholder {
  padding: var(--pdz-space-lg);
}

.stats-section {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;

  @include respond-above(desktop) {
    width: 380px;
    flex-shrink: 0;
  }

  .sprite-wrapper {
    width: 4rem;
    max-width: 4rem;
  }

  .table-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .table-wrapper {
    padding: 0 0.5rem;
    overflow: auto;
    height: 100%;
    width: 100%;
  }

  th,
  td {
    padding: 0 4px;
    text-align: center;
  }

  th.cdk-header-cell {
    border-bottom: 2px solid pdz-color(secondary-border);
    @include font-size(0.8rem);
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 4px;
    padding: 0 0.25rem;
  }

  .title-bar {
    position: relative;
    padding: var(--pdz-space-lg);
  }

  .back-button {
    @include respond-above(medium) {
      position: absolute;
      top: 0.5rem;
      left: 0.5rem;
    }
  }

  tr.cdk-row {
    &:hover {
      background-color: pdz-color(secondary-container);
    }
  }

  tr td:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  tr td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.button-container {
  display: flex;
  gap: 0.5rem;
  align-items: stretch;
  .option-btn {
    @include icon-button-secondary();
  }
  .matchup-btn {
    @include flat-button-secondary();
  }
}

.no-matchups {
  display: flex;
  width: 100%;
  justify-content: center;
  opacity: 60%;
  font: var(--pdz-font-size-lg);
}

.direction-btn {
  mat-icon {
    transition: transform 0.3s ease-in-out;
  }

  &.up mat-icon {
    transform: rotate(180deg);
  }
}
