<div class="p-2 flex w-full h-full space-x-2">
  <div
    class="sm:w-80 md:w-96 lg:w-128 xl:w-160 2xl:w-192 h-full border-2 p-2 rounded-lg"
  >
    <teambuilder-pokemon
      (builderSet)="pokemonSet = $event"
      [showBoosts]="true"
    ></teambuilder-pokemon>
  </div>
  <div class="overflow-y-auto h-full border-2 p-1 rounded-lg">
    <table
      class="table-fix"
      matSort
      matSort
      matSortActive="num"
      matSortDirection="desc"
      matSortDisableClear
      (matSortChange)="sortData($event)"
    >
      <tr>
        <th mat-sort-header="num">#</th>
        <th></th>
        <th mat-sort-header="name">Name</th>
        <th mat-sort-header="usage">Usage</th>
      </tr>
      @for (opp of patList; track $index) {
        <tr
          (click)="selectedOpponent = opp.pokemon"
          [ngClass]="{
            'border-2 px-1 border-menu-300 rounded':
              selectedOpponent?.name === opp.pokemon.name,
          }"
        >
          <td>{{ opp.rank }}</td>
          <td class="w-12 min-w-12">
            <sprite [pokemon]="opp.pokemon"></sprite>
          </td>
          <td>{{ opp.pokemon.name }}</td>
          <td>{{ opp.percent || "<1" }}%</td>
        </tr>
      }
    </table>
  </div>
  <div class="space-y-2">
    <div class="flex space-x-2">
      <button mat-raised-button class="rounded-full" (click)="calcMatchup()">
        Calculate
      </button>
      @if (link) {
        <a mat-raised-button class="rounded-full" [href]="link"> Pikalytics </a>
      }
    </div>

    @if (results) {
      <div class="space-y-4">
        @for (result of results; track result) {
          <div class="space-y-2 border-2 p-2 rounded-lg">
            <div class="flex items-center">
              <div class="w-12 min-w-12">
                <sprite [flipped]="true" [name]="result.attacker"></sprite>
              </div>
              <mat-icon svgIcon="right-arrow"></mat-icon>
              <div class="w-12 min-w-12">
                <sprite [name]="result.defender"></sprite>
              </div>
            </div>
            @for (calc of result.calcs; track calc) {
              <div>
                <div class="flex items-center space-x-2">
                  <div>{{ calc.move.name }}</div>
                  <div>
                    <img
                      [src]="
                        '../../../assets/icons/types/' + calc.move.type + '.png'
                      "
                    />
                  </div>
                </div>
                <div>
                  @if (calc.n) {
                    @if (calc.chance === "100.0") {
                      {{ calc.n === 1 ? "0" : calc.n }}HKO
                    } @else {
                      {{ calc.chance }}% chance to
                      {{ calc.n === 1 ? "0" : calc.n }}HKO
                    }
                  } @else {
                    Never kills
                  }
                </div>
              </div>
            }
          </div>
        }
      </div>
    }
  </div>
</div>
