@use "mixins/buttons" as *;
@use "pdz-theming" as pdz;

.user-info-container {
  display: flex;
  align-items: center;
  gap: pdz.space(sm);
  .user-icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: pdz.shape(corner-full);
  }
  .username-text {
    max-width: 4rem;
    text-overflow: clip;
    overflow: hidden;
  }
}
