@let user = auth.user$ | async;
@if (authenticated && user) {
  <pdz-menu aria-label="Open user menu">
    <button
      pdz-button
      color="neutral"
      variant="outlined"
      pdz-menu-trigger
      [attr.aria-expanded]="menuOpen"
    >
      <div class="user-info-container">
        <img class="user-icon" [src]="user.picture" alt="" />
        @if (user.username && user.username !== "") {
          <span class="username-text">{{ user.username }}</span>
        }
      </div>
    </button>

    <button pdz-menu-item icon="settings" (click)="openSettings()">
      Settings
    </button>

    <button pdz-menu-item icon="logout" (click)="menuOpen = false; logout()">
      Log Out
    </button>
  </pdz-menu>
} @else {
  <button pdz-button color="neutral" variant="outlined" (click)="login()">
    Log in
    <pdz-icon name="login" [height]="20"></pdz-icon>
  </button>
}
