@if (matchupData) {
  <div class="matchup-container">
    <overview [teams]="matchupData.summary" />
    <pdz-summary [summaries]="matchupData.summary" style="list-style: none" />
    <speedchart
      [speedchart]="matchupData.speedchart"
      [level]="matchupData.details.level"
    />
    <pdz-typechart [typecharts]="matchupData.typechart" />
    <movechart [teams]="matchupData.movechart" />
    <coveragechart
      [coverage]="matchupData.coveragechart"
      [typecharts]="matchupData.typechart"
    />
    @if (matchupId) {
      <pdz-matchup-notes [mode]="options.notes" [matchupId]="matchupId" />
    }
  </div>
}
<!-- {{ matchupData.overview | json }} -->
