.widget-wrapper {
  padding: 0.75rem;
  min-width: fit-content;
  width: fit-content;
  height: fit-content;
  border-radius: 1rem;
  background-color: var(--mat-sys-surface);
  box-shadow: var(--mat-sys-level3);

  .widget-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem 0.5rem;
    color: var(--mat-sys-primary);
    font-weight: 700;
    .widget-label {
      font-size: 1.2em;
      font-family: "Nasalization RG", sans-serif;
    }
  }
}
