<div class="flex min-h-full space-x-2">
  <div
    *ngIf="draft"
    class="hidden w-1/6 p-1 border-2 max-w-28 sm:block bg-cyan-100 border-cyan-200 rounded-xl"
  >
    <div
      class="h-auto p-1 m-1 shadow-md sm:p-2 sm:m-2 bg-cyan-300 rounded-xl shadow-cyan-600"
    >
      <sprite
        class="flex justify-center"
        *ngFor="let pokemon of draft.team"
        [pokemon]="pokemon"
        [flipped]="true"
      >
      </sprite>
    </div>
  </div>

  <div class="w-full p-1 bg-red-100 border-2 border-red-200 rounded-xl lg:p-2">
    <div>
      <button
        class="p-2 m-3 bg-red-300 rounded-lg shadow-md hover:shadow shadow-red-600"
      >
        <a [routerLink]="'new'"> Add Team </a>
      </button>
      <loading *ngIf="!matchups"></loading>
      <div
        *ngIf="matchups"
        id="teams"
        class="grid h-auto grid-flow-row grid-cols-1 overflow-auto md:grid-cols-2 lg:grid-cols-3"
      >
        <div *ngFor="let matchup of matchups; let i = index">
          <div class="m-2 bg-red-200 shadow-md shadow-red-600 rounded-xl">
            <div class="p-2 bg-red-300 shadow-md rounded-xl">
              <div class="flex w-full space-x-2 h-fit">
                <div
                  class="w-1/2 h-auto p-1 overflow-hidden font-semibold text-center whitespace-normal bg-red-200 rounded-full shadow-inner overflow-ellipsis text-medium shadow-red-600"
                >
                  {{ matchup.bTeam.teamName }}
                </div>
                <div
                  class="flex items-center justify-center w-1/6 h-auto p-1 overflow-hidden text-xs font-semibold whitespace-normal bg-red-200 rounded-full shadow-inner overflow-ellipsis shadow-red-600"
                >
                  {{ score(matchup) }}
                </div>
                <div
                  class="flex items-center justify-center w-1/3 h-auto p-1 overflow-hidden text-xs font-semibold whitespace-normal bg-red-200 rounded-full shadow-inner overflow-ellipsis shadow-red-600"
                >
                  {{ matchup.stage }}
                </div>
              </div>
              <div class="grid grid-cols-6 px-4 pt-2 sprites">
                <sprite
                  *ngFor="let pokemon of matchup.bTeam.team"
                  [pokemon]="pokemon"
                ></sprite>
              </div>
            </div>
            <div class="flex" *ngIf="!matchup.deleteConfirm">
              <a
                class="w-1/6 m-2 text-center bg-red-300 shadow hover:shadow shadow-red-600 rounded-xl"
                [routerLink]="'score'"
                [queryParams]="{ matchup: matchup._id | json }"
                >Score</a
              >
              <a
                class="w-1/2 m-2 text-center bg-red-300 shadow hover:shadow shadow-red-600 rounded-xl"
                [routerLink]="'matchup/'"
                [queryParams]="{ id: matchup._id }"
                >Prep</a
              >
              <a
                class="w-1/6 m-2 text-center bg-red-300 shadow hover:shadow shadow-red-600 rounded-xl"
                [routerLink]="'edit'"
                [queryParams]="{ matchup: matchup._id | json }"
                >Edit
              </a>
              <a
                class="w-1/6 m-2 text-center bg-red-300 shadow hover:shadow shadow-red-600 rounded-xl"
                (click)="matchup.deleteConfirm = true"
                >Delete
              </a>
            </div>
            <div class="flex" *ngIf="matchup.deleteConfirm">
              <div
                class="w-2/3 m-2 text-center bg-red-300 shadow shadow-red-600 rounded-xl"
              >
                Are you sure you want to delete?
              </div>
              <div
                class="flex items-center justify-center w-1/6 m-2 bg-red-300 shadow cursor-pointer hover:shadow shadow-red-600 rounded-xl"
                (click)="deleteMatchup(matchup._id)"
              >
                Yes
              </div>
              <div
                class="flex items-center justify-center w-1/6 m-2 bg-red-300 shadow cursor-pointer hover:shadow shadow-red-600 rounded-xl"
                (click)="matchup.deleteConfirm = false"
              >
                No
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
