<div
  class="matchup-card"
  [class.matchup-card--open]="isOpen()"
  [class.matchup-card--clickable]="matchup.matches.length > 0"
  (click)="toggleOpen()"
>
  @if (matchup.matches.length > 0) {
    <mat-icon class="matchup-card__toggle-icon">
      keyboard_arrow_{{ isOpen() ? "up" : "down" }}
    </mat-icon>
  }

  <div class="matchup-card__header">
    <div
      class="matchup-card__team-info-container"
      [routerLink]="'../teams/' + matchup.team1.id"
    >
      <div
        class="matchup-card__team-logo"
        [class.matchup-card__team-logo--winner]="
          isOpen() &&
          matchup.matches.length &&
          matchup.matches[selectedMatch].team1.winner
        "
        [class.matchup-card__team-logo--loser]="
          isOpen() &&
          matchup.matches.length &&
          matchup.matches[selectedMatch].team2.winner
        "
      >
        <img
          [src]="getLogo(matchup.team1.logo)"
          [alt]="matchup.team1.teamName + ' logo'"
        />
      </div>
      <div class="matchup-card__team-info">
        <div class="matchup-card__team-name">{{ matchup.team1.teamName }}</div>
        <div class="matchup-card__coach-name">{{ matchup.team1.coach }}</div>
      </div>
    </div>

    <div class="matchup-card__center">
      @if (matchup.matches.length > 0) {
        <button
          class="matchup-card__replay-button"
          [class.matchup-card__replay-button--active]="
            matchup.matches[selectedMatch]?.link
          "
          [disabled]="!matchup.matches[selectedMatch]?.link"
          (click)="onReplayClick($event)"
        >
          Replay
        </button>
      }
      <div class="matchup-card__versus">VS</div>
    </div>

    <div
      class="matchup-card__team-info-container matchup-card__team-info-container--right"
      [routerLink]="'../teams/' + matchup.team2.id"
    >
      <div
        class="matchup-card__team-logo"
        [class.matchup-card__team-logo--winner]="
          isOpen() &&
          matchup.matches.length &&
          matchup.matches[selectedMatch].team2.winner
        "
        [class.matchup-card__team-logo--loser]="
          isOpen() &&
          matchup.matches.length &&
          matchup.matches[selectedMatch].team1.winner
        "
      >
        <img
          [src]="getLogo(matchup.team2.logo)"
          [alt]="matchup.team2.teamName + ' logo'"
        />
      </div>
      <div class="matchup-card__team-info">
        <div class="matchup-card__team-name">{{ matchup.team2.teamName }}</div>
        <div class="matchup-card__coach-name">{{ matchup.team2.coach }}</div>
      </div>
    </div>
  </div>

  @if (isOpen() && matchup.matches.length > 0) {
    <div class="matchup-card__content">
      <div class="matchup-card__score-display">
        <div
          class="matchup-card__score-box"
          [class.matchup-card__score-box--winning]="
            matchup.team1.score > matchup.team2.score
          "
          [class.matchup-card__score-box--losing]="
            matchup.team2.score > matchup.team1.score
          "
        >
          {{ matchup.team1.score }}
        </div>
        <mat-icon class="matchup-card__score-separator">remove</mat-icon>
        <div
          class="matchup-card__score-box"
          [class.matchup-card__score-box--winning]="
            matchup.team2.score > matchup.team1.score
          "
          [class.matchup-card__score-box--losing]="
            matchup.team1.score > matchup.team2.score
          "
        >
          {{ matchup.team2.score }}
        </div>
      </div>

      <div class="matchup-card__match-details">
        <div class="matchup-card__pokemon-team">
          @for (
            pokemon of matchup.matches[selectedMatch].team1.team;
            track pokemon
          ) {
            <div
              class="matchup-card__pokemon-slot"
              [class.matchup-card__pokemon-slot--brought]="
                pokemon.status === 'brought'
              "
              [class.matchup-card__pokemon-slot--fainted]="
                pokemon.status === 'fainted'
              "
            >
              <pdz-sprite [pokemon]="pokemon" flipped></pdz-sprite>
            </div>
          }
        </div>

        <div class="matchup-card__match-selector">
          @for (match of matchup.matches; track $index) {
            <div class="matchup-card__match-option">
              <span
                class="matchup-card__match-score"
                [class.matchup-card__match-score--winning]="
                  match.team1.score > match.team2.score
                "
                [class.matchup-card__match-score--losing]="
                  match.team1.score < match.team2.score
                "
              >
                {{ match.team1.score }}
              </span>
              <button
                class="matchup-card__game-button"
                [class.matchup-card__game-button--selected]="
                  selectedMatch === $index
                "
                (click)="selectMatch($index, $event)"
              >
                Game {{ $index + 1 }}
              </button>
              <span
                class="matchup-card__match-score"
                [class.matchup-card__match-score--winning]="
                  match.team2.score > match.team1.score
                "
                [class.matchup-card__match-score--losing]="
                  match.team2.score < match.team1.score
                "
              >
                {{ match.team2.score }}
              </span>
            </div>
          }
        </div>

        <div class="matchup-card__pokemon-team">
          @for (
            pokemon of matchup.matches[selectedMatch].team2.team;
            track pokemon
          ) {
            <div
              class="matchup-card__pokemon-slot"
              [class.matchup-card__pokemon-slot--brought]="
                pokemon.status === 'brought'
              "
              [class.matchup-card__pokemon-slot--fainted]="
                pokemon.status === 'fainted'
              "
            >
              <pdz-sprite [pokemon]="pokemon"></pdz-sprite>
            </div>
          }
        </div>
      </div>
    </div>
  }

  <button
    class="matchup-card__view-button"
    [routerLink]="'/matchup/' + matchup.id"
  >
    View Matchup
  </button>
</div>
