.teams-container {
  display: grid;
  padding: var(--pdz-space-lg);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

pdz-league-team-card {
  box-shadow: var(--pdz-level-2);
  border-radius: var(--pdz-shape-corner-lg);
  padding: var(--pdz-space-sm);
}
