.teams-container {
  display: grid;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

pdz-league-team-card {
  box-shadow: var(--mat-sys-level2);
  border-radius: 1rem;
  padding: 0.5rem;
}
