.movechart-wrapper {
  max-width: 30rem;
  padding: var(--pdz-space-xs);
  display: flex;
  flex-direction: column;
  max-height: 48rem;
  min-height: 0;
  overflow: hidden;
}

.widget-container {
  --pdz-cmp-movechart-color: var(--pdz-color-primary);
  --pdz-cmp-movechart-on-container: var(--pdz-color-on-primary-container);
  --pdz-cmp-movechart-container: var(--pdz-color-primary-container);
  --pdz-cmp-movechart-hover: var(--pdz-color-primary-container-hover);
  --pdz-cmp-movechart-border: var(--pdz-color-primary-border);
  &.alternate {
    --pdz-cmp-movechart-color: var(--pdz-color-secondary);
    --pdz-cmp-movechart-on-container: var(--pdz-color-on-secondary-container);
    --pdz-cmp-movechart-container: var(--pdz-color-secondary-container);
    --pdz-cmp-movechart-hover: var(--pdz-color-secondary-container-hover);
    --pdz-cmp-movechart-border: var(--pdz-color-secondary-border);
  }
}
