.movechart-wrapper {
  max-width: 42rem;
  padding: var(--pdz-space-xs);
  max-height: 50rem;
  overflow-y: auto;
  scrollbar-gutter: stable;
  margin-right: -0.75rem;
}

.widget-container {
  --pdz-cmp-movechart-color: var(--pdz-color-primary);
  --pdz-cmp-movechart-on-container: var(--pdz-color-on-primary-container);
  --pdz-cmp-movechart-container: var(--pdz-color-primary-container);
  --pdz-cmp-movechart-hover: var(--pdz-color-primary-container-hover);
  --pdz-cmp-movechart-border: var(--pdz-color-primary-border);
  &.alternate {
    --pdz-cmp-movechart-color: var(--pdz-color-secondary);
    --pdz-cmp-movechart-on-container: var(--pdz-color-on-secondary-container);
    --pdz-cmp-movechart-container: var(--pdz-color-secondary-container);
    --pdz-cmp-movechart-hover: var(--pdz-color-secondary-container-hover);
    --pdz-cmp-movechart-border: var(--pdz-color-secondary-border);
  }
}
