.content-container {
  display: flex;
  width: 100%;
  min-width: fit-content;
  height: 100%;
  min-height: fit-content;
  justify-content: center;
}

.table-wrapper {
  padding: 1rem;
  min-width: fit-content;
  width: fit-content;
  height: fit-content;
  border-radius: 1rem;
  background-color: var(--pdz-surface);
  box-shadow: var(--pdz-level3);
}
