.content-container {
  display: flex;
  width: 100%;
  min-width: fit-content;
  height: 100%;
  min-height: fit-content;
  justify-content: center;
}

.table-wrapper {
  padding: var(--pdz-space-lg);
  min-width: fit-content;
  width: fit-content;
  height: fit-content;
  border-radius: var(--pdz-shape-corner-lg);
  background-color: var(--pdz-color-surface);
  box-shadow: var(--pdz-level-3);
}
