<div class="homepage-main">
  <div class="hero-section">
    <div class="title-container">
      <span class="title-text"> POKEMON </span>
      <pdz-icon name="logo-small" class="title-logo"></pdz-icon>
      <span class="title-text alternate"> DRAFTZONE </span>
    </div>
    <p class="subtitle">
      Your ultimate destination for Pokémon drafting and league management.
    </p>
    <div class="cta-buttons">
      <a class="cta-button btn btn-primary" routerLink="/">Button Style 1</a>
      <a class="cta-button btn btn-secondary" routerLink="/">Button Style 2 </a>
    </div>
  </div>

  <div class="info-container">
    <div class="news-container">
      <h2 class="news-title">News and Updates</h2>
      <div class="news-wrapper">
        <pdz-news-core></pdz-news-core>
      </div>
    </div>
    <div class="secondary-actions">
      <a
        class="secondary-action btn"
        href="https://discord.gg/sQUEBW4UVx"
        target="_blank"
      >
        Join Our Discord
      </a>
      <a
        class="secondary-action btn"
        href="https://github.com/LumarisX/pokemon-draftzone-client"
        target="_blank"
      >
        Contribute to the Project
      </a>
      <a class="secondary-action btn" routerLink="/supporters">
        Project Supporters
      </a>
      <a class="secondary-action btn" routerLink="/about">
        About Pokemon DraftZone
      </a>
    </div>
  </div>
</div>
