<div class="homepage">
  <div class="homepage__hero">
    <div class="homepage__title">
      <span class="homepage__title-text homepage__title-text--desktop">
        POKEMON
      </span>
      <pdz-icon
        name="logo-small"
        [height]="64"
        [width]="64"
        class="homepage__title-logo"
      ></pdz-icon>
      <span class="homepage__title-text homepage__title-text--mobile-stack">
        <span class="homepage__title-text homepage__title-text--mobile">
          POKEMON
        </span>

        <span class="homepage__title-text"> DRAFTZONE </span>
      </span>
    </div>
    <div class="homepage__secondary-actions">
      <div class="homepage__secondary-action-wrapper">
        <span class="homepage__secondary-action-title">
          Learn About Draft
        </span>
        <button
          type="button"
          class="homepage__secondary-action"
          routerLink="/about"
        >
          <pdz-icon [size]="iconSize" name="info"></pdz-icon>
        </button>
      </div>
      <div class="homepage__secondary-action-wrapper">
        <span class="homepage__secondary-action-title"> Shop For Merch </span>
        <a
          class="homepage__secondary-action homepage__secondary-action--github"
          href="https://shop.pokemondraftzone.com"
          target="_blank"
          rel="noopener noreferrer"
        >
          <pdz-icon [size]="iconSize" fill name="apparel"></pdz-icon>
        </a>
      </div>
      <div class="homepage__secondary-action-wrapper">
        <span class="homepage__secondary-action-title"> Join Our Discord </span>
        <a
          class="homepage__secondary-action homepage__secondary-action--discord"
          href="https://discord.gg/sQUEBW4UVx"
          target="_blank"
          rel="noopener noreferrer"
        >
          <pdz-icon [size]="iconSize" name="discord"></pdz-icon>
        </a>
      </div>
      <div class="homepage__secondary-action-wrapper">
        <span class="homepage__secondary-action-title">
          Support DraftZone
        </span>
        <a
          class="homepage__secondary-action"
          href="https://shop.pokemondraftzone.com/pages/join-support"
          target="_blank"
          rel="noopener noreferrer"
        >
          <pdz-icon [size]="iconSize" fill name="favorite"></pdz-icon>
        </a>
      </div>
      <div class="homepage__secondary-action-wrapper">
        <span class="homepage__secondary-action-title"> Github Repo </span>
        <a
          class="homepage__secondary-action"
          href="https://github.com/LumarisX/pokemon-draftzone-client"
          target="_blank"
          rel="noopener noreferrer"
        >
          <pdz-icon [size]="iconSize" name="github"></pdz-icon>
        </a>
      </div>
    </div>
  </div>

  <div class="homepage__info">
    <div class="homepage__panel">
      <h2 class="homepage__panel-title">News</h2>
      <pdz-news-core></pdz-news-core>
    </div>
    <div class="homepage__panel">
      <h2 class="homepage__panel-title">Changelog</h2>
      <pdz-changelog-core></pdz-changelog-core>
    </div>
  </div>
</div>
