@use "pdz-theming" as pdz;
@use "mixins/buttons" as *;

:host {
  display: block;
  max-width: 100%;
}

.planner-settings {
  display: flex;
  align-items: flex-end;
  column-gap: pdz.space(md);
  width: 100%;

  &__row {
    display: flex;
    align-items: flex-end;
    gap: pdz.space(sm);
    min-width: 0;
    flex-grow: 1;
    flex-wrap: wrap;
    pdz-format-select,
    pdz-ruleset-select {
      flex: 1 1 0;
    }
  }

  &__save {
    @include icon-button-primary(
      (
        width: 2.375rem,
        height: 2.375rem,
        padding: pdz.space(xs),
        border-width: 1px,
        border-color: pdz.color(primary-border),
        background: pdz.color(primary-container),
        color: pdz.color(on-primary-container),
      )
    );

    flex: 0 0 auto;
  }
}
