@use "@angular/material" as mat;

mat-toolbar {
  > :not(:first-child) {
    padding-left: 0.5rem;
  }

  @include mat.toolbar-overrides(
    (
      container-background-color: var(--mat-sys-surface-container-highest),
      container-text-color: var(--mat-sys-on-surface),
    )
  );
  @include mat.toolbar-density(-4);

  @include mat.button-density(-1);
  @include mat.button-overrides(
    (
      outlined-horizontal-padding: 0.75rem,
    )
  );
}
header {
  box-shadow: var(--mat-sys-level2);
  z-index: 5000;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.menu-tab {
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-family: "Nasalization RG", sans-serif;
  &:hover {
    background-color: var(--mat-sys-surface-container);
  }
}

.user-info-container {
  display: flex;
  align-items: center;
  .user-icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
  }
  .username-text {
    padding-left: 0.5rem;
    max-width: 4rem;
    text-overflow: clip;
    font-size: 0.9em;
    line-height: 0.9em;
    overflow: hidden;
  }
}

svg {
  .logo-top {
    fill: var(--mat-sys-primary);
  }
  .logo-bottom {
    fill: var(--mat-sys-tertiary);
  }
}
