:host > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100dvh;
  color: var(--pdz-color-on-surface);
  font-family: var(--pdz-font-regular);
  background-color: var(--pdz-color-background);
}

main {
  width: 100%;
  height: 100%;
  margin-bottom: auto;
  overflow-y: auto;
}
