<div class="p-2 flex gap-8 h-full items-center justify-center">
  <div class="time-container">
    <mat-form-field class="w-full">
      <mat-label>Local Time Zone</mat-label>
      <input
        type="text"
        [formControl]="opponentTZInput"
        matInput
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        (optionSelected)="updateTZ('opponent')"
        [displayWith]="shortFn"
        #auto="matAutocomplete"
      >
        @if (filteredTZShort.length > 0) {
          <mat-optgroup label="Abbreviated" class="mat-sticky">
            @for (tz of filteredTZShort; track $index) {
              <mat-option [value]="tz">{{
                tz.short + " (" + tz.utc + ")"
              }}</mat-option>
            }
          </mat-optgroup>
        }
        <mat-optgroup label="Locations">
          @for (tz of filteredTZ; track $index) {
            <mat-option [value]="tz">{{
              tz.name + " (" + tz.short + ")"
            }}</mat-option>
          }
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Local date</mat-label>
      <input
        matInput
        [matDatepicker]="localDatepicker"
        [value]="localDateTime"
        (dateInput)="updateTime('local', $event.value)"
      />
      <mat-datepicker #localDatepicker />
      <mat-datepicker-toggle [for]="localDatepicker" matSuffix />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Local time</mat-label>
      <input
        matInput
        [matTimepicker]="localTimepicker"
        [value]="localDateTime"
        (valueChange)="updateTime('local', $event)"
      />
      <mat-timepicker #localTimepicker />
      <mat-timepicker-toggle [for]="localTimepicker" matSuffix />
    </mat-form-field>
    <mat-slider
      min="0"
      max="1439"
      step="15"
      showTickMarks
      discrete
      [displayWith]="sliderFn"
    >
      <input matSliderThumb [(ngModel)]="localTime" />
    </mat-slider>
  </div>
  <div class="time-container">
    <mat-form-field class="w-full">
      <mat-label>Opponent Time Zone</mat-label>
      <input
        type="text"
        [formControl]="opponentTZInput"
        matInput
        [matAutocomplete]="auto"
      />
      <mat-autocomplete
        (optionSelected)="updateTZ('opponent')"
        [displayWith]="shortFn"
        #auto="matAutocomplete"
      >
        @if (filteredTZShort.length > 0) {
          <mat-optgroup label="Abbreviated" class="mat-sticky">
            @for (tz of filteredTZShort; track $index) {
              <mat-option [value]="tz">{{
                tz.short + " (" + tz.utc + ")"
              }}</mat-option>
            }
          </mat-optgroup>
        }
        <mat-optgroup label="Locations">
          @for (tz of filteredTZ; track $index) {
            <mat-option [value]="tz">{{
              tz.name + " (" + tz.short + ")"
            }}</mat-option>
          }
        </mat-optgroup>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Opponent date</mat-label>
      <input
        matInput
        [matDatepicker]="oppDatepicker"
        [value]="opponentDateTime"
        (dateInput)="updateTime('opponent', $event.value)"
      />
      <mat-datepicker #oppDatepicker />
      <mat-datepicker-toggle [for]="oppDatepicker" matSuffix />
    </mat-form-field>
    <mat-form-field class="w-full">
      <mat-label>Opponent time</mat-label>
      <input
        matInput
        [matTimepicker]="oppTimepicker"
        [value]="opponentDateTime"
        (valueChange)="updateTime('opponent', $event)"
      />
      <mat-timepicker #oppTimepicker />
      <mat-timepicker-toggle [for]="oppTimepicker" matSuffix />
    </mat-form-field>

    <mat-slider
      min="0"
      max="1439"
      step="15"
      showTickMarks
      discrete
      [displayWith]="sliderFn"
    >
      <mat-icon>sun</mat-icon>
      <input matSliderThumb [(ngModel)]="opponentTime" />
    </mat-slider>
  </div>
</div>
