@use "@angular/material" as mat;

$height: 32px;

.mat-mdc-option {
  height: $height !important;
  min-height: $height !important;
}

.time-container {
  padding: 1rem;
  max-width: 40rem;
  box-shadow: var(--pdz-level3);
  border-radius: 0.5rem;
}
mat-slider {
  width: 90%;
  @include mat.slider-overrides(
    (
      value-indicator-width: 0,
      value-indicator-height: 0,
    )
  );
}

.slider-icons-bar {
  width: 90%;

  margin-bottom: -1rem;
  display: flex;
  justify-content: space-between;
}

.slider-icon {
  font-size: large;
}

.mat-level-2 {
  box-shadow: var(--pdz-level2);
}
