@if (route.length || href) {
  <a
    class="flat-button"
    [routerLink]="disabled ? null : route"
    [href]="disabled ? null : href"
    [queryParams]="queryParams"
    [target]="newTab ? '_blank' : undefined"
    [class.disabled]="disabled"
    [ngClass]="theme ? 'flat-button--' + theme : undefined"
    [title]="tooltip"
    [attr.aria-disabled]="disabled"
    [attr.aria-label]="effectiveAriaLabel"
  >
    {{ text }}
  </a>
} @else {
  <button
    type="button"
    class="flat-button"
    [ngClass]="theme ? 'flat-button--' + theme : undefined"
    [disabled]="disabled"
    [title]="tooltip"
    [attr.aria-label]="effectiveAriaLabel"
    (click)="click.emit($event)"
  >
    {{ text }}
  </button>
}
