@use "pdz-theming" as pdz;
@use "mixins" as *;
@use "../league.mixins" as *;

:host {
  display: block;
}

.loading-state {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}

.empty-state {
  @include pdz-league-section-message();
}
