<div class="p-3 relative space-y-3">
  <button class="absolute" routerLink="/leagues/pdbls2/" mat-flat-button>
    Back
  </button>
  <form
    [formGroup]="signupForm"
    (ngSubmit)="onSubmit()"
    class="sign-up space-y-4"
  >
    <div class="flex justify-between h-16">
      <div class="text-xl font-nasa flex items-center">
        Pokemon DraftZone Battle League (PDBL)
      </div>
      <img src="../../../assets/images/battle-zone/pdbls2.png" />
    </div>

    <mat-expansion-panel class="mat-elevation-z0">
      <mat-expansion-panel-header>
        <mat-panel-title class="font-bold"> Details </mat-panel-title>
      </mat-expansion-panel-header>
      @if (details) {
        <table class="w-full">
          <tr>
            <th>Format:</th>
            <td>{{ details.format }}</td>
            <th>Draft Period:</th>
            <td>
              {{ details.draft[0] | date }} - {{ details.draft[1] | date }}
            </td>
          </tr>
          <tr>
            <th>Ruleset:</th>
            <td>{{ details.ruleset }}</td>
            <th>Season:</th>
            <td>
              {{ details.season[0] | date }} - {{ details.season[1] | date }}
            </td>
          </tr>
        </table>
      }
    </mat-expansion-panel>

    @if (added) {
      <section class="space-y-2">
        <mat-card appearance="outlined">
          <mat-card-content>
            <div class="space-y-4 px-2 py-6">
              <div class="text-xl font-bold w-full text-center">
                Thank you for signing up for the PDBL
              </div>
              <div class="text-center">
                Join the
                <a
                  target="_blank"
                  href="https://discord.gg/FsxXcWFaF6"
                  class="text-blue-600 font-bold hover:text-blue-700 hover:cursor-pointer"
                >
                  PDBL Discord Server
                </a>
                to complete your registration!
              </div>
              <div class="text-center font-medium">
                Consider
                <a
                  target="_blank"
                  href="https://pokemondraftzone.com/donate"
                  class="text-blue-600 hover:text-blue-700 hover:cursor-pointer"
                  >donating</a
                >
                to the winnings pot. (Leave a note that it's for the PBDL)
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
    } @else if (closed) {
      <section class="space-y-2">
        <mat-card appearance="outlined">
          <mat-card-content>
            <div class="space-y-4 px-2 py-6">
              <div class="text-xl font-bold w-full text-center">
                Sign ups for PDBL are now closed.
              </div>
              <div class="text-center">
                Join the
                <a
                  target="_blank"
                  href="https://discord.gg/FsxXcWFaF6"
                  class="text-blue-600 font-bold hover:text-blue-700 hover:cursor-pointer"
                >
                  PDBL Discord Server
                </a>
                to get notified for the next season!
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </section>
    } @else {
      <section>
        <mat-form-field class="w-full">
          <mat-label>Discord Username</mat-label>
          <input
            matInput
            placeholder="Enter Discord Name"
            formControlName="discordName"
          />
          @if (signupForm.get("discordName")?.hasError("required")) {
            <mat-error>Required</mat-error>
          }
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Time Zone</mat-label>
          <mat-select formControlName="timezone">
            @for (tz of timezones; track $index) {
              <mat-option [value]="tz">{{ tz }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Experience</mat-label>
          <textarea
            matInput
            formControlName="experience"
            maxlength="500"
            placeholder="How much experience do you have in draft?"
          >
          </textarea>
        </mat-form-field>

        <div>
          <div>Have you dropped from a league before?</div>
          <mat-radio-group formControlName="droppedBefore">
            <mat-radio-button [value]="true"> Yes </mat-radio-button>
            <mat-radio-button [value]="false"> No </mat-radio-button>
          </mat-radio-group>
        </div>
        @if (signupForm.get("droppedBefore")?.value) {
          <mat-form-field class="w-full">
            <mat-label>Why?</mat-label>
            <textarea matInput formControlName="droppedWhy" maxlength="500">
            </textarea>
            @if (signupForm.get("droppedWhy")?.hasError("required")) {
              <mat-error>Required</mat-error>
            }
          </mat-form-field>
        }

        <div class="text-sm font-medium py-2">
          <div>
            Do you accept the
            <a
              target="_blank"
              href="https://pokemondraftzone.com/leagues/pdbls2/rules"
              class="text-blue-600 hover:text-blue-700 hover:cursor-pointer"
              >league rules</a
            >
            and agree to commit to playing for 8-11 weeks?
          </div>
          <mat-checkbox formControlName="confirm"> Accept </mat-checkbox>
        </div>

        <button mat-raised-button type="submit" [disabled]="!signupForm.valid">
          Submit
        </button>
      </section>
    }
  </form>
</div>
<!-- {{ signupForm.value | json }} -->
