@if (editing) {
  <div class="quick-form-row">
    <div class="quick-form-row__inner">
      <pdz-quick-matchup-form
        [quickForm]="formData"
        (formSubmitted)="getMatchupData($event)"
      ></pdz-quick-matchup-form>
    </div>
  </div>
} @else {
  <div class="quick-result">
    <div class="quick-header quick-header--result">
      <div class="quick-header__side">
        <button
          type="button"
          class="quick-header__edit"
          (click)="editing = true"
        >
          Edit
        </button>
      </div>

      <div class="quick-header__title">Quick Matchup</div>

      <div class="quick-header__side"></div>
    </div>
    @if (matchupData) {
      <div class="quick-details">
        <div class="quick-details__item">
          <p class="quick-details__label">Ruleset</p>
          <p class="quick-details__value">{{ matchupData.details.ruleset }}</p>
        </div>
        <div class="quick-details__item">
          <p class="quick-details__label">Format</p>
          <p class="quick-details__value">{{ matchupData.details.format }}</p>
        </div>
      </div>
      <pdz-matchup [matchupData]="matchupData"></pdz-matchup>
    } @else {
      <pdz-loading />
    }
  </div>
}
