<div class="m-2">
  <div class="w-full p-2">
    <div class="flex">
      <a
        routerLink="/draft"
        class="flex justify-center px-2 text-center rounded-full shadow bg-cyan-300 hover:shadow shadow-cyan-600"
        >Back</a
      >
      <h1 class="m-2 text-3xl bold">{{ draft.leagueName }}</h1>
      <h2 class="m-2 text-2xl bold">
        {{ draft.score.wins }} - {{ draft.score.loses }} ｜
        {{ draft.score.diff }}
      </h2>
    </div>
  </div>
  <hr class="w-full h-1 my-2 bg-gray-100 border-0 rounded dark:bg-gray-600" />
  <router-outlet></router-outlet>
</div>
