<div class="flex m-2 space-x-2">
  <div class="w-[7.5%] bg-cyan-100 p-1 border-2 border-cyan-200 rounded-xl">
    <a routerLink="/draft" class="bg-cyan-300 rounded-full px-2 shadow hover:shadow shadow-cyan-600">Back</a>
    <div class="h-auto bg-cyan-300 p-2 m-2 rounded-xl shadow-md shadow-cyan-600">
      <sprite class="flex justify-center" *ngFor="let pokemon of draft.team" [pokemonId]="pokemon.pid" [flipped]="true">
      </sprite>
    </div>
  </div>
  <div class="bg-red-100 w-[92.5%] rounded-xl p-2 border-2 border-red-200">
    <div>
      <p class="bold text-3xl m-2">{{draft.leagueName}}</p>
      <div *ngIf="!formVisible">
        <button (click)="formVisible=true"
          class="bg-red-300 rounded-full p-2 m-3 shadow-md hover:shadow shadow-red-600">Add
          Team</button>
        <div id="teams" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 grid-flow-row overflow-auto h-auto">
          <opponent-team-preview *ngFor="let matchup of matchups.reverse(); let i = index" [matchup]="matchup"
            [index]="matchups.length-i-1" (reload)="reload()"></opponent-team-preview>
        </div>
      </div>
      <div *ngIf="formVisible">
        <button (click)="formVisible=false"
          class="bg-red-300 rounded-full p-2 m-3 shadow-md hover:shadow shadow-red-600">Cancel</button>
        <opponent-form [teamId]="teamId" (reload)="reload()"></opponent-form>
      </div>
    </div>
  </div>

</div>