@use "pdz-theming" as pdz;
@use "mixins" as *;
@use "../league.mixins" as *;

.schedule {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  &__body {
    padding: pdz.space(lg);
    display: flex;
    flex-direction: column;
    gap: pdz.space(md);
  }

  &__title {
    @include pdz-league-page-title();
  }
  &__header {
    @include pdz-league-page-header();
  }
}
