@use "@angular/material" as mat;

.tier-group-label {
  height: 24px;
  min-width: 4rem;
  flex-shrink: 0;
}

.tier-label {
  position: sticky;
  top: 0px;
  z-index: 2000;
  border-width: 0px 0px 2px 0px;
  border-color: var(--mat-sys-outline);
}

.tier-entry {
  display: flex;
  align-items: center;
  width: 10rem;
  flex-grow: 1;
  padding: 0.25rem;
  border-width: 0px 0px 1px 0px;
  border-color: var(--mat-sys-outline-variant);
  font-size: 0.875rem;
  line-height: 1.25rem;
  column-gap: 0.25rem;
  cursor: default;

  .entry-sprite {
    height: 2rem;
    width: 2rem;
  }

  .entry-name {
    flex-grow: 1;
    max-height: 2rem;
    line-height: 1rem;
  }
  .button-container {
    display: flex;
  }

  &.selected {
    background-color: var(--mat-sys-secondary-container);
  }

  &.dragStarted {
    cursor: grabbing !important;
  }
}

.restricted-icon {
  right: 0px;
  bottom: 0px;
  color: var(--mat-sys-error);
  transform: scale(0.75);
  position: absolute;
}

.tier-main {
  border-width: 2px;
  border-color: var(--mat-sys-outline);
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  overflow: hidden;
  border-radius: 0.5rem;
  width: fit-content;

  .untiered-container {
    display: flex;
    flex-shrink: 0;
    width: fit-content;
    overflow-y: auto;
    flex-direction: column;
    box-shadow: var(--mat-sys-level3);

    .header-label {
      text-align: center;
      font-weight: bold;
      font-family:
        Nasalization RG,
        sans-serif;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0.25rem;
    }
  }

  .tier-wrapper {
    overflow-y: auto;
  }

  .tier-container {
    width: 100%;
    display: flex;
    height: fit-content;
    align-items: stretch;

    .header-label {
      background-color: var(--mat-sys-primary);
      color: var(--mat-sys-on-primary);
      text-align: center;
      font-weight: bold;
      font-family:
        Nasalization RG,
        sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;
      position: relative;
      column-gap: 0.25rem;
      mat-icon.drag-icon {
        position: absolute;
        left: 0;
        width: fit-content;
        height: fit-content;
        font-size: 1.2em;
        cursor: move;
      }

      mat-icon.edit-icon {
        width: fit-content;
        height: fit-content;
        font-size: 1em;
        line-height: 1em;
        cursor: pointer;
      }
    }
    .tier-group {
      &:not(:first-child) {
        border-width: 0px 0px 0px 3px;
        border-color: var(--mat-sys-outline);
      }
      display: flex;
      flex-direction: column;

      .tier-entry-container {
        display: flex;
        flex-grow: 1;
        .tier {
          display: flex;
          flex-direction: column;
          width: fit-content;
          &:not(:first-child) {
            border-width: 0px 0px 0px 2px;
            border-color: var(--mat-sys-outline);
          }
        }
      }
    }
  }
}

.drafted {
  .entry-sprite {
    filter: grayscale(100%);
    opacity: 70%;
  }
  text-decoration: line-through;
}

.entry-container {
  flex-grow: 1;
  width: 8rem;
  flex-shrink: 1;
  display: flex;
  column-gap: 0.25rem;
  align-items: center;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
  background-color: var(--mat-sys-outline-variant);
}

.drag-placeholder {
  border: dotted 2px var(--mat-sys-primary);
  height: 2.5rem;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.tier-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
}

.new-tier {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  text-align: center;
  height: 100%;

  width: 2rem;
  border-left: 2px solid var(--mat-sys-outline);
  .add-icon {
    top: 0px;
    position: sticky;
    mat-icon {
      color: var(--mat-sys-on-primary);
    }
  }
}

.new-tier-group {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
  text-align: center;
  flex-shrink: 0;
  width: 4rem;
  border-left: 2px solid var(--mat-sys-outline);
  .add-icon {
    top: 0px;
    position: sticky;
    mat-icon {
      font-size: 2.5rem;
      width: fit-content;
      height: fit-content;
      color: var(--mat-sys-on-primary);
    }
  }
}

.icon-button {
  border-radius: 100rem;
  display: inline-flex;
  padding: 0.125rem;
  mat-icon {
    font-size: 1.2em;
    color: var(--mat-sys-secondary);
    height: fit-content;
    width: fit-content;
  }
  &:hover {
    background-color: var(--mat-sys-primary-container);
  }
}
