<div class="main-league-container">
  <div class="main-draft">
    <div class="draft-bar draft-section">
      <div class="draft-section-title">Draft Order</div>
      <div class="draft-rounds draft-section-body">
        @for (round of draftOrder; track $index) {
          <div class="draft-round-container">
            <div class="round-label">
              <span>Round {{ $index + 1 }}</span>
              <mat-icon>trending_flat</mat-icon>
            </div>
            <div class="card-container">
              @for (pick of round; track $index) {
                <div
                  class="team-card"
                  [ngClass]="{
                    alternate: !pick.pokemon,
                  }"
                >
                  <!-- && pick.skipTime !== 'Skipped', -->
                  <div class="team-card-header">
                    <span
                      [ngClass]="{
                        selectedTeam: pick.teamName === myTeam.name,
                      }"
                    >
                      {{ pick.teamName }}
                    </span>
                  </div>
                  <div
                    class="team-card-body"
                    [ngClass]="{
                      picking: pick.skipTime,
                    }"
                  >
                    <div class="team-card-icon">
                      @if (pick.pokemon) {
                        <pdz-sprite [pokemon]="pick.pokemon"></pdz-sprite>
                      } @else if (pick.skipTime) {
                        {{ timeUntil(pick.skipTime) }}
                      } @else {
                        <mat-icon svgIcon="pokeball"></mat-icon>
                      }
                    </div>
                    <div class="team-card-name">
                      @if (pick.pokemon?.name) {
                        {{ pick.pokemon!.name }}
                      } @else if (pick.skipTime) {
                        Picking
                      } @else {
                        Upcoming
                      }
                    </div>
                  </div>
                </div>
              }
            </div>
          </div>
        }
      </div>
    </div>
    <div class="tier-wrapper">
      <pdz-league-tier-list
        (draftPokemon)="draftPokemon($event)"
      ></pdz-league-tier-list>
    </div>
  </div>
  <div class="draft-panel">
    <button class="planner-link fancy-font">
      Planner <mat-icon>open_in_new</mat-icon>
    </button>
    <div class="my-draft-main draft-section">
      <button class="my-draft-title draft-section-title">
        <span>Deimos Deoxys </span><mat-icon>arrow_drop_down</mat-icon>
      </button>
      <ol class="my-draft-pokemons draft-section-body">
        @for (pick of myTeam.draft; track $index) {
          <li class="my-draft-pokemon">
            <div class="my-pokemon-index">{{ $index + 1 }}</div>
            <div class="my-pokemon-sprite">
              <pdz-sprite [pokemon]="pick" flipped></pdz-sprite>
            </div>
            <div class="my-pokemon-name fancy-font">
              {{ pick.name }}
            </div>
            <div class="my-pokemon-tier fancy-font">{{ pick.tier }}</div>
          </li>
        }
        @for (picks of myTeam.picks; track $index) {
          <li class="my-draft-pokemon">
            <div class="my-pokemon-index">
              {{ $index + myTeam.draft.length + 1 }}
            </div>
            <div class="my-draft-picks">
              @for (pick of picks; track pick.id) {
                <div
                  class="my-draft-pick-container"
                  [ngClass]="{ backup: $index > 0 }"
                >
                  @if ($index) {
                    <button (click)="moveUp(picks, $index)">
                      <mat-icon>arrow_upward_alt</mat-icon>
                    </button>
                  }
                  <button
                    class="my-draft-pick"
                    [ngClass]="{ backup: $index > 0 }"
                  >
                    <div class="my-pokemon-sprite">
                      <pdz-sprite [pokemon]="pick" flipped></pdz-sprite>
                    </div>
                    <div class="pick-header">
                      <div class="pick-text">
                        {{ $index + 1 | numbersuffix }} Choice
                      </div>
                      <div class="my-pokemon-name fancy-font">
                        {{ pick.name }}
                      </div>
                    </div>

                    <div class="my-pokemon-tier fancy-font">
                      {{ pick.tier }}
                    </div>
                  </button>
                </div>
              } @empty {
                <button class="no-pick">Select Pick</button>
              }
            </div>
          </li>
        }
      </ol>
    </div>
  </div>
</div>
