@use "../../../styles/global.scss" as *;
@use "../../../styles/mixins" as *;

.main-league-container {
  display: flex;
  width: fit-content;
  height: 100%;
  width: 100%;
  max-height: 100%;
  column-gap: 0.5rem;
  padding: var(--pdz-space-sm);
}
.tier-wrapper {
  flex: 1 1 auto;
  min-height: 0;
  overflow-y: auto;
}
.main-draft {
  display: flex;

  flex-direction: column;
  row-gap: 0.5rem;
  flex-grow: 1;
  min-height: 0;
  overflow: hidden;
  .draft-bar {
    flex-shrink: 0;

    .draft-rounds {
      padding: var(--pdz-space-xs);
      overflow: auto;
      max-height: 10rem;
      scroll-snap-type: y mandatory;

      display: flex;
      row-gap: 0.5rem;
      align-items: stretch;
      flex-direction: column;
      width: 100%;
      scrollbar-width: thin;
      .draft-round-container {
        scroll-snap-align: start;
        width: fit-content;
        display: flex;
        flex-direction: column;
        .round-label {
          color: var(--pdz-color-primary);
          display: flex;
          height: fit-content;
          width: fit-content;
          align-items: center;
          column-gap: 0.25rem;
          background-color: inherit;
          padding: 0 0.125rem;
          position: sticky;
          left: 0;
          font-size: 0.8rem;
          font-family: var(--pdz-font-fancy);

          mat-icon {
            color: var(--pdz-color-primary-border-variant);
            font-size: 1.5rem;
            height: fit-content;
          }
        }

        .card-container {
          display: flex;
          flex-grow: 1;
          height: 100%;

          column-gap: 0.25rem;
          align-items: stretch;
        }
      }
    }
  }
}

.team-card {
  height: 100%;
  flex-shrink: 0;
  width: 6rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;

  .team-card-header {
    padding: var(--pdz-space-2xs);
    display: flex;
    align-items: end;
    font-size: 0.75rem;
    font-weight: 650;
    line-height: 0.75rem;
    overflow: hidden;
    height: 1.625rem;
    color: var(--pdz-color-secondary);
    span {
      padding: 0 0.25rem;
    }
    .selectedTeam {
      width: 100%;
      background-color: var(--pdz-color-secondary-container);
      border-radius: var(--pdz-shape-corner-xs);
    }
  }
  .team-card-body {
    border: 2px solid var(--pdz-color-primary-border-variant);
    border-radius: var(--pdz-shape-corner-sm);
    box-shadow: var(--pdz-level-2);
    padding: var(--pdz-space-xs);
    line-height: 1.2rem;
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 0.25rem;
    align-items: center;
    &.picking {
      background-color: var(--pdz-color-primary-container);
      color: var(--pdz-color-on-primary-container);
    }
    .team-card-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 4rem;
      width: 4rem;
      mat-icon {
        color: var(--pdz-color-primary);
        height: 1.5rem;
        width: 1.5rem;
      }
    }
    .team-card-name {
      font-size: 0.8rem;
      font-weight: 600;
      line-height: 0.8rem;
      max-width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.draft-panel {
  min-width: 24rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  > a,
  > div {
    width: 100%;
    border-radius: var(--pdz-shape-corner-sm);
  }

  .planner-link {
    flex-shrink: 0;
    background-color: var(--pdz-color-primary);
    color: var(--pdz-color-on-primary);
    box-shadow: var(--pdz-level-2);
    cursor: pointer;
    &:active {
      box-shadow: var(--pdz-level-0);
      margin-top: 1px;
      margin-bottom: -1px;
    }
    font-weight: var(--pdz-font-weight-bold);
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    justify-content: center;
  }
  .draft-picks-main {
    flex-shrink: 0;

    .draft-picks-container {
      height: fit-content;
      padding: var(--pdz-space-xs);
      display: flex;
      flex-direction: column;
      row-gap: 0.25rem;

      .draft-pick {
        border-radius: var(--pdz-shape-corner-xs);
        padding: var(--pdz-space-2xs);
      }

      .pick-label {
        color: var(--pdz-color-primary);
        line-height: 0.8rem;
        font-size: 0.8rem;
        font-weight: 600;
      }
      .choice-container {
        display: flex;
        column-gap: 0.5rem;
        border-left: 2px solid var(--pdz-color-primary-border);
        margin-left: 0.5rem;
        padding: 0.125rem 0 0.125rem 0.5rem;
        .choice-label {
          color: var(--pdz-color-on-primary-container);
          font-weight: var(--pdz-font-weight-bold);
        }

        .choice-pokemon {
          background-color: var(--pdz-color-secondary);
          color: var(--pdz-color-on-secondary);
          display: flex;
          align-items: center;
          column-gap: 0.125rem;
          padding: 0 0.25rem;
          font-weight: 500;
          font-size: 0.8rem;
          border-radius: var(--pdz-shape-corner-sm);
          box-shadow: var(--pdz-level-1);
          mat-icon {
            font-size: 0.8rem;
            width: fit-content;
            height: fit-content;
          }
          .choice-pokemon-sprite {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
        .choice-select {
          background-color: var(--pdz-color-secondary);
          color: var(--pdz-color-on-secondary);
          display: flex;
          align-items: center;
          column-gap: 0.125rem;
          padding: 0 0.25rem;
          font-weight: 500;
          font-size: 0.8rem;
          border-radius: var(--pdz-shape-corner-sm);
          box-shadow: var(--pdz-level-1);
          mat-icon {
            font-size: 0.8rem;
            width: fit-content;
            height: fit-content;
          }
        }
      }
    }
  }
  .my-draft-main {
    flex-grow: 1;

    .my-draft-title {
      display: flex;
      justify-content: space-between;
      width: 100%;
      span {
        flex-grow: 1;
      }
    }

    .my-draft-content {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;
      font-family: var(--pdz-font-fancy);
      min-height: 0;
    }

    .my-draft-pokemons {
      flex-grow: 1;
      padding: 0.5rem 0.5rem;
      height: calc(100% - 2rem);
      overflow-y: scroll;
      list-style: none;
      .my-draft-pokemon {
        counter-increment: item;
        display: flex;
        align-items: stretch;
        padding: 0.125rem 0;
        column-gap: 0.25rem;
        &:not(:last-child) {
          border-bottom: 1px solid var(--pdz-color-primary-border-variant);
        }
        .my-pokemon-sprite {
          border-radius: 2rem;
          width: 2.5rem;
          height: 2.5rem;
        }
        .my-pokemon-index {
          color: var(--pdz-color-primary);
          width: 1.5rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: var(--pdz-shape-corner-lg);
          text-align: center;
          &.selected-pick {
            background-color: var(--pdz-color-primary);
            color: var(--pdz-color-on-primary);
          }
        }
        .my-pokemon-name,
        .my-pokemon-tier {
          font-weight: 500;
          font-family: var(--pdz-font-fancy);
        }
        .my-pokemon-name {
          flex-grow: 1;
        }
      }

      .my-draft-picks {
        width: 100%;
        display: flex;
        flex-direction: column;

        .pick-header {
          width: 100%;
          justify-content: space-between;
          align-items: center;

          mat-icon {
            font-size: 1.25rem;
            height: fit-content;
            width: fit;
          }
        }

        .pick-text {
          font-size: 0.75rem;
          font-weight: var(--pdz-font-weight-bold);
          line-height: 0.75rem;
        }

        .my-draft-pick-container {
          display: flex;
          width: 100%;
          align-items: center;
          color: var(--pdz-color-primary);
        }

        .my-draft-pick {
          display: flex;
          flex-grow: 1;
          align-items: center;
          text-align: start;
          padding: 0 0.5rem;
          margin: 0.125rem 0;
          column-gap: 0.25rem;
          border-radius: var(--pdz-shape-corner-sm);
          box-shadow: var(--pdz-level-1);
          border: 2px solid var(--pdz-color-primary);
          color: var(--pdz-color-on-primary);

          &:not(.backup) {
            background-color: var(--pdz-color-primary);
            .my-pokemon-sprite {
              background-color: white;
            }
          }

          &.backup {
            color: var(--pdz-color-primary);
          }
          .my-pokemon-sprite {
            width: 2.5rem;
            height: 2.5rem;
          }
          .my-pokemon-index {
            color: var(--pdz-color-primary);
            width: 1.25rem;
            text-align: center;
            margin-left: -0.75rem;
          }
          .my-pokemon-name,
          .my-pokemon-tier {
            font-weight: 500;
            font-family: var(--pdz-font-fancy);
          }
          .my-pokemon-name {
            flex-grow: 1;
          }

          &:hover {
            box-shadow: var(--pdz-level-2);
          }
          &:active {
            box-shadow: var(--pdz-level-0);
          }
        }

        .no-pick {
          color: var(--pdz-color-primary);
          padding: 0.125rem 0;
          text-align: center;
          align-self: center;
          font-weight: bold;
          &:hover {
            color: var(--pdz-color-secondary);
          }
        }
      }
    }

    .points-container {
      border: 2px solid var(--pdz-color-primary-border-variant);
      border-radius: var(--pdz-shape-corner-sm);
      padding: var(--pdz-space-xs);
      text-align: right;
      margin-top: 0.5rem;
      font-weight: 600;
      color: var(--pdz-color-on-surface);
    }
  }
}

.my-pick {
  cursor: pointer;
}

.skip-time {
  font-size: 1.5rem;
  font-family: var(--pdz-font-fancy);
  font-weight: bold;
}

.pause-time {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  mat-icon.mat-icon {
    font-size: 3rem !important;
    height: 3rem !important;
    width: 3rem !important;
    line-height: 1 !important;
  }
}

.league-name {
  font-size: 1.1rem;
  font-family: var(--pdz-font-fancy);
  font-weight: bold;
  overflow: hidden;
}
.division-name {
  font-size: 0.85rem;
  font-family: var(--pdz-font-fancy);
  overflow: hidden;
}

.custom-dropdown-container {
  position: relative;
  display: flex;
  width: 100%;
  border-radius: var(--pdz-shape-corner-lg);
  margin-bottom: 2px;
  &:hover {
    background-color: var(--pdz-color-surface);
    box-shadow: var(--pdz-level-1);
  }
}

.custom-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  background-color: var(--pdz-color-surface);
  border: 1px solid var(--pdz-color-primary-border);
  border-radius: var(--pdz-shape-corner-sm);
  box-shadow: var(--pdz-level-2);
  z-index: 1000;
}

.custom-dropdown-item {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--pdz-color-on-surface);

  &:hover {
    background-color: var(--pdz-color-surface-container-highest);
  }
}

.info-container {
  display: flex;
  flex-direction: column;
}

.info-details-container {
  display: flex;
  align-self: stretch;
  column-gap: 0.5rem;
  justify-content: space-between;
}

.draft-status {
  font-size: 0.85rem;
  font-family: var(--pdz-font-fancy);
  overflow: hidden;
  padding: 0.125rem 0.5rem;
  border-radius: var(--pdz-shape-corner-sm);
  font-weight: bold;
}

@media (max-width: 992px) {
  .main-league-container {
    height: 100vh;
    flex-direction: column;
    row-gap: 0.5rem;
    column-gap: 0;
    overflow-y: auto;
  }

  .draft-panel {
    /* Remove the minimum width requirement on mobile */
    min-width: unset;
  }

  .my-draft-main {
    .my-draft-pokemons {
      /*
      In a vertical layout, the parent's height is not fixed.
      We give the scrollable list a max-height relative to the
      viewport to prevent it from pushing other content off-screen.
    */
      height: auto;
      max-height: 20vh; /* Adjust this value as needed */
    }
  }
  .main-draft {
    flex: 1 1 auto;
    min-height: 0;
    min-height: 50rem;
  }
  .tier-wrapper {
    min-height: 50rem;
    pdz-league-tier-list {
      padding: 0;
    }
  }
}
