$theme: (
  light: (
    primary: #2e8b57,
    on-primary: #ffffff,
    secondary: #81c784,
    on-secondary: #003913,

    background: #f0f4f0,
    surface: #f0f4f0,
    surface-container: #e6eae6,

    on-surface: #1d351d,
    on-surface-variant: #4a5d4a,

    outline: #a3b8a3,
  ),
  dark: (
    primary: #50c878,
    on-primary: #1d351d,
    secondary: #9ccc65,
    on-secondary: #1b5e20,

    background: #1a2b1a,
    surface: #1a2b1a,
    surface-container: #253c25,

    on-surface: #e4f0e4,
    on-surface-variant: #a3b8a3,

    outline: #4a5d4a,
  ),
);
