@use "../../league.mixins" as *;
@use "../../../../styles/global" as *;
@use "../../../../styles/mixins" as *;

.standing-container {
  border: 1px solid var(--pdz-color-primary-border);
  border-radius: var(--pdz-shape-corner-sm);
  overflow: hidden;
  width: fit-content;
  .standing-header {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    .standing-header-title {
      font-family: var(--pdz-font-fancy);
      padding: 0.25rem 0.5rem;
      background-color: var(--pdz-color-primary);
      color: var(--pdz-color-on-primary);
    }
  }

  table {
    border-collapse: separate;
    border-spacing: 2px 0;
    td {
      padding: 0.125rem 0.5rem;
    }
    tr.cutoff-border {
      td {
        border-bottom: 2px dotted var(--pdz-color-primary-border);
      }
    }
    thead {
      th {
        border-bottom: 2px solid var(--pdz-color-primary-border);
      }
    }
  }

  .rank-cell {
    display: flex;
    align-items: center;
    span {
      width: 100%;
      font-weight: 600;
      font-size: 1.1rem;
      text-align: center;
    }
    mat-icon {
      height: fit-content;
      overflow: hidden;
      object-fit: contain;
      font-size: 1.2rem;
      font-weight: var(--pdz-font-weight-bold);
      color: var(--pdz-color-primary);
      &.positive {
        color: pdz-color(positive);
      }
      &.negative {
        color: pdz-color(negative);
      }
    }
  }

  .logo-cell {
    @include pdz-league-logo(3rem);
    padding: 0.25rem;
  }

  .team-cell {
    display: flex;
    flex-direction: column;
    align-items: center;

    .team-name {
      line-height: 1rem;
    }
    .coach-names {
      color: var(--pdz-color-secondary);
      font-size: 0.8rem;
      line-height: 1rem;
    }
  }

  .results-container {
    display: flex;
    column-gap: 0.5rem;
    user-select: none;

    .result-box {
      @include pdz-league-record-box();
      color: pdz-color(surface-container);

      .hovered-content {
        display: none;
      }

      &:hover {
        .default-content {
          display: none;
        }

        .hovered-content {
          display: inline;
        }
      }
    }

    .result-header {
      width: 1.5rem;
      height: 0.75rem;
      text-align: center;
      font-weight: var(--pdz-font-weight-bold);
      font-size: 0.7rem;
    }

    .streak {
      width: 3rem;
      display: flex;
      justify-content: center;
    }
  }

  .records-container {
    display: flex;
    column-gap: 0.25rem;
    user-select: none;
    width: 100%;
    justify-content: center;

    .record-header {
      width: 1.5rem;
      height: 0.75rem;
      text-align: center;
      font-weight: var(--pdz-font-weight-bold);
      font-size: 0.7rem;
      &--big {
        width: 2.5rem;
      }
    }
  }

  .record-cell {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    flex-wrap: wrap;
    width: 100%;

    .record-box {
      // display: inline-flex;
      // align-items: center;
      // justify-content: center;
      // text-align: center;
      // @include apply-typography(body-xs);
      // line-height: 1.5rem;
      // font-weight: var(--pdz-font-weight-bold);
      // border-radius: var(--pdz-shape-corner-xs);
      // background-color: pdz-color(surface-container);
      // color: pdz-color(on-surface);
      // padding: var(--pdz-space-2xs);
      // height: 1.5rem;
      // min-width: 1.5rem;

      // &--record {
      //   @include apply-typography(body-sm);
      //   line-height: 1.5rem;
      //   font-weight: var(--pdz-font-weight-bold);
      // }

      // &--positive {
      //   background-color: pdz-color(positive);
      //   box-shadow: var(--pdz-level-1);
      //   color: pdz-color(on-menu);
      // }

      // &--negative {
      //   background-color: pdz-color(negative);
      //   box-shadow: var(--pdz-level-1);
      //   color: pdz-color(on-menu);
      // }

      @include pdz-league-record-box();

      &--big {
        width: 2.5rem;
      }
    }
  }
}
