<div class="m-1">
    <button (click)="swapTeams()" class="border-t-4 border-x-4 border-slate-400 rounded-t-xl px-2 border-b"
        [ngClass]="teamColor(true)">⇄</button>
    <table id="myOverview" class="table-auto w-full border-4 border-slate-400 rounded-md">
        <tr class="bg-slate-400">
            <th></th>
            <th></th>
            <th (click)='sortByName()'>
                <div *ngIf='sortBy!="name"'>Name</div>
                <div *ngIf='sortBy=="name" && !reversed'>Name ↥</div>
                <div *ngIf='sortBy=="name" && reversed'>Name ↧</div>
            </th>
            <th>Abilities</th>
            <th (click)='sortByStat("hp")'>
                <div *ngIf='sortBy!="hp"'>HP</div>
                <div *ngIf='sortBy=="hp" && !reversed'>HP ↥</div>
                <div *ngIf='sortBy=="hp" && reversed'>HP ↧</div>
            </th>
            <th (click)='sortByStat("atk")'>
                <div *ngIf='sortBy!="atk"'>ATK</div>
                <div *ngIf='sortBy=="atk" && !reversed'>ATK ↥</div>
                <div *ngIf='sortBy=="atk" && reversed'>ATK ↧</div>
            </th>
            <th (click)='sortByStat("def")'>
                <div *ngIf='sortBy!="def"'>DEF</div>
                <div *ngIf='sortBy=="def" && !reversed'>DEF ↥</div>
                <div *ngIf='sortBy=="def" && reversed'>DEF ↧</div>
            </th>
            <th (click)='sortByStat("spa")'>
                <div *ngIf='sortBy!="spa"'>SPA</div>
                <div *ngIf='sortBy=="spa" && !reversed'>SPA ↥</div>
                <div *ngIf='sortBy=="spa" && reversed'>SPA ↧</div>
            </th>
            <th (click)='sortByStat("spd")'>
                <div *ngIf='sortBy!="spd"'>SPD</div>
                <div *ngIf='sortBy=="spd" && !reversed'>SPD ↥</div>
                <div *ngIf='sortBy=="spd" && reversed'>SPD ↧</div>
            </th>
            <th (click)='sortByStat("spe")'>
                <div *ngIf='sortBy!="spe"'>SPE</div>
                <div *ngIf='sortBy=="spe" && !reversed'>SPE ↥</div>
                <div *ngIf='sortBy=="spe" && reversed'>SPE ↧</div>
            </th>
        </tr>
        <tr *ngFor="let pokemon of teams[selectedTeam]" class="h-12 border-b border-slate-400" [ngClass]="teamColor()">
            <td class="w-8">
                <div class="-mr-2"></div>
            </td>
            <td class="w-12">
                <sprite [pokemonId]="pokemon.pid"></sprite>
            </td>
            <td class="w-32">{{pokemon.name}}</td>
            <td class="w-24">
                <div *ngFor="let ability of pokemon.abilities" class="text-center">{{ability}}</div>
            </td>
            <td class="w-12 text-center" [ngClass]="statColor(pokemon.baseStats.hp)">{{pokemon.baseStats.hp}}</td>
            <td class="w-12 text-center" [ngClass]="statColor(pokemon.baseStats.atk)">{{pokemon.baseStats.atk}}</td>
            <td class="w-12 text-center" [ngClass]="statColor(pokemon.baseStats.def)">{{pokemon.baseStats.def}}</td>
            <td class="w-12 text-center" [ngClass]="statColor(pokemon.baseStats.spa)">{{pokemon.baseStats.spa}}</td>
            <td class="w-12 text-center" [ngClass]="statColor(pokemon.baseStats.spd)">{{pokemon.baseStats.spd}}</td>
            <td class="w-12 text-center" [ngClass]="statColor(pokemon.baseStats.spe)">{{pokemon.baseStats.spe}}</td>
        </tr>
        <tr>
            <td class="w-8">
            </td>
            <td class="w-12">
            </td>
            <td class="w-32">
                Average
            </td>
            <td class="w-24">
            </td>
            <td class="w-12 text-center" [ngClass]=""></td>
            <td class="w-12 text-center" [ngClass]=""></td>
            <td class="w-12 text-center" [ngClass]=""></td>
            <td class="w-12 text-center" [ngClass]=""></td>
            <td class="w-12 text-center" [ngClass]=""></td>
            <td class="w-12 text-center" [ngClass]=""></td>
        </tr>
        <tr>
            <td class="w-8">
            </td>
            <td class="w-12">
            </td>
            <td class="w-32">
                Median
            </td>
            <td class="w-24">
            </td>
            <td class="w-12 text-center" [ngClass]=""></td>
            <td class="w-12 text-center" [ngClass]=""></td>
            <td class="w-12 text-center" [ngClass]=""></td>
            <td class="w-12 text-center" [ngClass]=""></td>
            <td class="w-12 text-center" [ngClass]=""></td>
            <td class="w-12 text-center" [ngClass]=""></td>
        </tr>
        <tr>
            <td class="w-8">
            </td>
            <td class="w-12">
            </td>
            <td class="w-32">
                Max
            </td>
            <td class="w-24">
            </td>
            <td class="w-12 text-center" [ngClass]=""></td>
            <td class="w-12 text-center" [ngClass]=""></td>
            <td class="w-12 text-center" [ngClass]=""></td>
            <td class="w-12 text-center" [ngClass]=""></td>
            <td class="w-12 text-center" [ngClass]=""></td>
            <td class="w-12 text-center" [ngClass]=""></td>
        </tr>
    </table>
    <input type="range" min="20" max="140" [(ngModel)]="baseValue">
    <input type="number" [(ngModel)]="baseValue" value="{{baseValue}}" class="w-8">
</div>