@use "pdz-theming" as pdz;

:host {
  display: block;
  max-width: 100%;

  --pdz-cmp-typechart-stat-hover: #{pdz.color(primary-container)};
  --pdz-cmp-typechart-border-hover: #{pdz.color(primary-border)};
}
