<pdz-league-single-elim-bracket></pdz-league-single-elim-bracket>
<div class="bracket-rounds">
  @for (round of rounds; track round) {
    <div class="round-container">
      <div class="round-header">{{ round.title }}</div>
      <div class="round-matches">
        @for (match of round.matches; track match) {
          <div class="match-node">
            <div class="match-team">
              <div class="team-logo"><img [src]="match.team1.logo" /></div>
              <div class="team-info">
                <div class="team-name">{{ match.team1.teamName }}</div>
                <div class="coach-info">
                  <span class="coach-name">{{ match.team1.coachName }}</span>
                  <span class="team-seed">{{ match.team1.seed }}</span>
                </div>
              </div>
              <div class="team-score">{{ match.team1.score }}</div>
            </div>
            <div class="match-team">
              <div class="team-logo"><img [src]="match.team2.logo" /></div>
              <div class="team-info">
                <div class="team-name">{{ match.team2.teamName }}</div>
                <div class="coach-info">
                  <span class="coach-name">{{ match.team2.coachName }}</span>
                  <span class="team-seed">{{ match.team2.seed }}</span>
                </div>
              </div>
              <div class="team-score">{{ match.team2.score }}</div>
            </div>
          </div>
        }
      </div>
    </div>
  }
</div>
