@if (teamArray) {
  <div class="flex flex-col h-full">
    <div class="flex-grow overflow-y-auto">
      <div
        class="flex top-0 bg-menu-150 z-1100 category-bar sticky items-center w-full font-semibold border-b-2 border-menu-300"
      >
        <div class="w-1/6"></div>
        <div class="w-5/12">Name</div>
        <div class="w-1/6 text-center">Value</div>
        <div class="text-xs text-center w-1/8">Captain</div>
        <div class="text-xs text-center w-1/8">Drafted</div>
      </div>
      <div class="grid w-full grid-cols-1">
        @for (teamCtrl of teamArray.controls; track $index) {
          <div class="flex items-center space-y-1">
            <div class="w-1/6 max-w-24 h-fit">
              <sprite
                [pokemon]="{
                  id: teamCtrl.controls.id.value,
                  name: teamCtrl.controls.name.value,
                }"
              ></sprite>
            </div>
            <div class="flex flex-col justify-center w-5/12 h-full p-2">
              <div
                class="w-full text-sm border rounded-lg text-ellipsis bg-menu-100"
                [ngClass]="minMaxStyle($index)"
              >
                <select-search
                  (itemSelected)="resultSelected(teamCtrl, $event)"
                  [items]="names"
                  [startItem]="{
                    id: teamCtrl.controls.id.value,
                    name: teamCtrl.controls.name.value,
                  }"
                  placeholder="Select Pokemon"
                ></select-search>
              </div>
            </div>
            @if (isPoints) {
              <div class="flex flex-col justify-center w-1/6 h-full p-1">
                <input
                  type="number"
                  placeholder="0"
                  class="w-full px-1 py-1 text-center border rounded-lg bg-menu-100"
                  [ngClass]="minMaxStyle($index)"
                  [formControl]="teamCtrl.controls.value"
                />
              </div>
            } @else {
              <div class="flex flex-col justify-center w-1/6 h-full p-1">
                <input
                  type="text"
                  spellcheck="false"
                  [ngClass]="minMaxStyle($index)"
                  class="w-full px-1 py-1 font-semibold text-center border rounded-lg bg-menu-100"
                  [formControl]="teamCtrl.controls.tier"
                />
              </div>
            }

            <div class="w-1/8">
              <input
                type="checkbox"
                class="w-full"
                [formControl]="teamCtrl.controls.capt"
              />
            </div>
            <div class="w-1/8">
              <input
                type="checkbox"
                class="w-full"
                [formControl]="teamCtrl.controls.drafted"
              />
            </div>
          </div>
        }
      </div>
    </div>
    @if (isPoints) {
      <div class="points-container">
        <div class="points-box">
          <div>
            <strong>Points Remaining:</strong>
            {{ remainingPoints }}
          </div>
          <div>
            <strong>Average:</strong>
            {{ remainingPoints / remainingPokemon | number: "1.0-2" }} ×
            {{ remainingPokemon }} Pokémon
          </div>
        </div>
      </div>
      <!-- <div class="points-container">
        <table class="points-box table">
          <tr>
            <th>Points Remaining</th>
            <td>{{ remainingPoints }}</td>
          </tr>
          <tr>
            <th>Average</th>
            <td>{{ remainingPoints / remainingPokemon | number: "1.0-2" }}</td>
          </tr>
        </table>
      </div> -->
    }
  </div>
}
