@if (draftFormGroup && draftFormGroup.controls.team) {
  <div class="flex flex-col max-w-full h-full">
    <div class="table-container">
      <table class="table-fixed">
        <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Value</th>
            <th class="text-xs">Captain</th>
            <th class="text-xs">Drafted</th>
          </tr>
        </thead>
        <tbody
          cdkDropList
          (cdkDropListDropped)="drop($event)"
          class="team-list"
        >
          @for (
            teamCtrl of draftFormGroup.controls.team.controls;
            track $index
          ) {
            <tr
              cdkDrag
              class="team-item"
              [ngClass]="{
                alternate: $index > min - 1,
              }"
            >
              <div *cdkDragPreview>
                @if (teamCtrl.controls.pokemon.value) {
                  <sprite
                    [flipped]="true"
                    [pokemon]="teamCtrl.controls.pokemon.value"
                  >
                  </sprite>
                }
              </div>
              <td>
                <mat-icon class="drag-icon" cdkDragHandle
                  >drag_indicator</mat-icon
                >
              </td>
              <td class="pokemon-input">
                <pokemon-select
                  (pokemonSelected)="onSelect($index)"
                  [ruleset]="draftFormGroup.controls.ruleset.value"
                  [formControl]="teamCtrl.controls.pokemon"
                ></pokemon-select>
                <!-- {{ teamCtrl.controls.pokemon.value | json }} -->
              </td>
              @if (isPoints) {
                <td>
                  <mat-form-field class="value-input">
                    <mat-label>Points</mat-label>
                    <input
                      matInput
                      type="number"
                      placeholder="0"
                      [formControl]="teamCtrl.controls.value"
                    />
                  </mat-form-field>
                </td>
              } @else {
                <td>
                  <mat-form-field class="value-input">
                    <mat-label>Tier</mat-label>

                    <input
                      matInput
                      type="text"
                      spellcheck="false"
                      [formControl]="teamCtrl.controls.tier"
                    />
                  </mat-form-field>
                </td>
              }
              <td class="w-1/8">
                <mat-checkbox
                  [formControl]="teamCtrl.controls.capt"
                ></mat-checkbox>
              </td>
              <td class="w-1/8">
                <mat-checkbox
                  [formControl]="teamCtrl.controls.drafted"
                ></mat-checkbox>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
    @if (isPoints) {
      <div class="points-container">
        <div class="points-box">
          <div>
            <strong>Points Remaining:</strong>
            {{ remainingPoints }}
          </div>
          <div>
            <strong>Average:</strong>
            {{ remainingPoints / remainingPokemon | number: "1.0-2" }} ×
            {{ remainingPokemon }} Pokémon
          </div>
        </div>
      </div>
      <!-- <div class="points-container">
        <table class="points-box table">
          <tr>
            <th>Points Remaining</th>
            <td>{{ remainingPoints }}</td>
          </tr>
          <tr>
            <th>Average</th>
            <td>{{ remainingPoints / remainingPokemon | number: "1.0-2" }}</td>
          </tr>
        </table>
      </div> -->
    }
  </div>
}
