.news-header {
  font-family: var(--pdz-font-fancy);
  font-size: 1.2em;
  color: var(--pdz-secondary);

  .news-date {
    color: var(--pdz-primary);
  }
  .news-title {
    color: var(--pdz-on-surface);
  }
}

.indent {
  padding-left: 0.5rem;
}

.news-item:not(:last-child) {
  padding-bottom: 0.25rem;
  border-bottom: 1px solid var(--pdz-primary-border-variant);
}

:host {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
}

.news-body {
  display: flex;
  flex-direction: column;
}

.section {
  &:not(:last-child) {
    padding-bottom: 0.125rem;
  }
}

.section-images {
  display: flex;
  overflow-x: scroll;
  column-gap: 0.5rem;
  max-width: 100%;
  align-self: center;
  .image-title {
    padding-left: 0.25rem;
    font-size: 0.8em;
    font-weight: 500;
    font-family: var(--pdz-font-fancy);
    color: var(--pdz-secondary);
  }

  .image-container {
    flex-shrink: 0;
    .size-large {
      width: 24rem;
      max-height: 24rem;
    }
    .size-medium {
      width: 16rem;
      max-height: 16rem;
    }
    .size-small {
      width: 8rem;
      max-height: 8rem;
    }
  }
}

.section-heading {
  font-size: 1.1em;
  font-family: var(--pdz-font-fancy);
  padding-bottom: 0rem !important;
}

.section-list {
  font-size: 0.9em;
  ul {
    padding-left: 1rem;
    list-style-type: disc;
  }
}

.section-buttons {
  display: flex;
  column-gap: 0.5rem;
  justify-content: center;
}
