@use "pdz-theming" as pdz;
@use "mixins" as *;
@use "../league.mixins" as *;

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.teams {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;

  &__header {
    @include pdz-league-page-header();
  }

  &__back {
    @include pdz-league-page-back-button();
  }

  &__title {
    @include pdz-league-page-title();
  }

  &__body {
    display: grid;
    padding: pdz.space(lg);
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
  }

  &__empty {
    @include apply-typography(body-lg);
    color: pdz.color(on-surface-variant);
  }
}

pdz-league-team-card {
  box-shadow: var(--pdz-level-2);
  border-radius: pdz.shape(corner-lg);
  padding: pdz.space(sm);
}
