<div class="teams">
  <div class="teams__header">
    <a
      pdz-button
      variant="ghost"
      color="neutral"
      size="sm"
      pdz-button
      size="sm"
      color="neutral"
      variant="ghost"
      [routerLink]="['../']"
    >
      <pdz-icon name="arrow_back" size="sm" aria-hidden="true"></pdz-icon>
      Back
    </a>
    <h1 class="teams__title">League Teams</h1>
  </div>
  <div class="teams__body">
    @if (drafts) {
      @for (group of drafts; track groupKey(group)) {
        <section class="draft">
          <pdz-disclosure
            [heading]="group.name"
            [open]="isOpen(group)"
            (openChange)="toggle(group)"
          >
            <span pdz-disclosure-trailing class="draft__count">
              {{ group.teams.length }}
            </span>
            <div class="draft__teams">
              @for (team of group.teams; track team.id) {
                <pdz-league-team-card [teamDetails]="team"></pdz-league-team-card>
              } @empty {
                <div class="teams__empty">No teams added to this division</div>
              }
            </div>
          </pdz-disclosure>
        </section>
      } @empty {
        <div class="teams__empty">No teams have been added yet</div>
      }
    } @else {
      <pdz-loading></pdz-loading>
    }
  </div>
</div>
