<div class="p-2">
  <div>Advanced Mode <input type="checkbox" [(ngModel)]="advancedMode" /></div>

  <div *ngIf="!advancedMode">
    <div *ngFor="let group of queryGroups" class="border-2">
      <select [(ngModel)]="group.conjunction">
        <option value=" && ">All</option>
        <option value=" || ">Any</option>
      </select>
      <div
        *ngFor="let query of group.queries; let i = index"
        class="flex items-center space-x-2 mb-2"
      >
        <find-option
          [condition]="query"
          (queryChange)="onQueryChange(query, $event)"
        ></find-option>
        <button (click)="removeQueryBuilder(group, i)" class="border px-2 py-1">
          -
        </button>
      </div>
      <button (click)="addQueryBuilder(group)" class="border px-4 py-2">
        +
      </button>
    </div>
    <button (click)="addQueryGroup()" class="border px-4 py-2">+</button>
  </div>
  <div *ngIf="advancedMode">
    <input type="text" class="border w-96" [(ngModel)]="finalQuery" />
  </div>

  <div class="p-2">
    <button class="p-1 border rounded border-slate-400" (click)="find()">
      Find
    </button>
  </div>
</div>
<div class="flex flex-wrap">
  <div *ngFor="let pokemon of results" class="w-12">
    <sprite [pokemon]="{ id: pokemon.id, name: pokemon.name }"></sprite>
  </div>
</div>
