<div class="flex flex-col w-full h-full">
  <div class="flex w-full px-1 bg-slate-400 rounded-t-xl">
    <div class="flex w-full pb-1 border-b border-slate-300">
      <h1 class="w-full text-xl font-bold text-center">Learned Moves</h1>
      <button
        (click)="swapTeams()"
        class="px-3 mx-1 mt-2 ml-auto text-sm rounded-md shadow-md"
        [ngClass]="clickColor(true)"
      >
        ⇄
      </button>
    </div>
  </div>
  <div class="w-full overflow-y-auto border-4 border-slate-400 bg-slate-400">
    <move-category
      *ngFor="let category of this.teams[selectedTeam]"
      [category]="category"
    >
    </move-category>
  </div>
  <div class="w-full h-3 rounded-b-full bg-slate-400"></div>
</div>
<div class="border-bug" style="display: none"></div>
<div class="border-dark" style="display: none"></div>
<div class="border-dragon" style="display: none"></div>
<div class="border-electric" style="display: none"></div>
<div class="border-fairy" style="display: none"></div>
<div class="border-fighting" style="display: none"></div>
<div class="border-fire" style="display: none"></div>
<div class="border-flying" style="display: none"></div>
<div class="border-ghost" style="display: none"></div>
<div class="border-grass" style="display: none"></div>
<div class="border-ground" style="display: none"></div>
<div class="border-ice" style="display: none"></div>
<div class="border-normal" style="display: none"></div>
<div class="border-poison" style="display: none"></div>
<div class="border-psychic" style="display: none"></div>
<div class="border-rock" style="display: none"></div>
<div class="border-steel" style="display: none"></div>
<div class="border-water" style="display: none"></div>
