@use "pdz-theming" as pdz;

.sprite-wrapper {
  width: 4rem;
  max-width: 4rem;
}

.table-container {
  max-width: min(100rem, 100%);
  padding: 0 0.5rem 0.5rem;
}

.content-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.table-wrapper {
  --pdz-table-max-height: calc(100vh - 16rem);
  box-shadow: var(--pdz-level-3);
}

.title-bar {
  position: relative;
  padding: pdz.space(lg);
}

.back-button {
  @media (min-width: 768px) {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
  }
}

.stats-title-wrapper {
  display: flex;
  justify-content: center;
}

.stats-title {
  font-family: var(--pdz-font-display);
  font-size: pdz.font-size(2xl);
  font-weight: 700;
  text-align: center;
}
