.trades-container {
  padding: var(--pdz-space-lg);
}

.stage {
  .stage-header {
    font-family: var(--pdz-font-fancy);
  }

  .stage-body {
    border-left: 2px solid var(--pdz-color-primary);
    padding: 1rem 0 1rem 1rem;
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 1rem;
  }
}
