@use "../../../styles/global.scss" as *;
@use "../../../styles/mixins" as *;
@use "../league.mixins" as *;

.trades {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;

  &__body {
    padding: var(--pdz-space-lg);
    display: flex;
    flex-direction: column;
    gap: var(--pdz-space-md);
  }

  &__back {
    @include pdz-league-page-back-button();
  }

  &__title {
    @include pdz-league-page-title();
  }
  &__header {
    @include pdz-league-page-header();
  }
}
