.draft-container {
  display: flex;
  width: 100%;
  justify-content: center;

  .form-content {
    width: 100%;
    padding: var(--pdz-space-sm);
    max-width: 70rem;
    display: flex;
    flex-direction: column;

    .page-title {
      display: flex;
      align-items: center;
    }
  }
}
