<label
  class="pdz-slide-toggle__root"
  [class.pdz-slide-toggle__root--reverse]="labelBefore()"
>
  <span class="pdz-slide-toggle__control">
    <input
      class="pdz-slide-toggle__input"
      type="checkbox"
      role="switch"
      [checked]="checked()"
      [disabled]="isDisabled()"
      (change)="toggle($event)"
      (blur)="onTouched()"
    />
    <span class="pdz-slide-toggle__track" aria-hidden="true">
      <span class="pdz-slide-toggle__thumb">
        @if (icon(); as name) {
          <pdz-icon [name]="name" [size]="iconSize()" />
        }
      </span>
    </span>
  </span>

  <span class="pdz-slide-toggle__label">{{ label() }}<ng-content /></span>
</label>
