<pdz-page>
  <div class="random-page">
    <label class="count-box">
      <span>Count:</span>
      <input
        class="count-box__input"
        [(ngModel)]="count"
        type="number"
        min="1"
        max="20"
      />
    </label>
    <button pdz-button variant="tonal" color="neutral" pill type="button" class="random-btn" (click)="getRandom()">
      <h2 class="random-btn__label">Random Draft</h2>
    </button>

    @if (team.length > 0) {
      <div class="random-team">
        @for (pokemon of team; track $index) {
          <pdz-sprite [pokemon]="pokemon"></pdz-sprite>
        }
      </div>

      <div class="random-actions">
        <button
          pdz-button
          size="sm"
          color="neutral"
          variant="outlined"
          [routerLink]="['/', draftPath, 'new']"
          [queryParams]="{
            team: teamIds(),
            format: format,
            ruleset: ruleset,
          }"
        >
          Save to New League
        </button>
        <button
          pdz-button
          size="sm"
          color="neutral"
          variant="outlined"
          [routerLink]="['/', 'tools', 'quick-matchup']"
          [queryParams]="{
            team: teamIds(),
            format: format,
            ruleset: ruleset,
          }"
        >
          Save to Quick Match
        </button>
      </div>
    }
  </div>
</pdz-page>
