<div class="p-2">
  <div class="draft-header">
    <button mat-flat-button [routerLink]="['/', draftPath]">Back</button>
    @if (draft) {
      <div class="flex gap-2 items-center">
        <div class="draft-info-container">
          <h2 class="">
            {{ draft.leagueName }}
          </h2>
          <h3 class="text-2xl font-bold text-symbolColor-sub">
            {{ draft.score.wins }} - {{ draft.score.loses }} |
            {{ draft.score.diff }}
          </h3>
        </div>
        <div>
          <button mat-mini-fab><mat-icon>edit</mat-icon></button>
        </div>
      </div>
    }
  </div>
  <router-outlet></router-outlet>
</div>
