.draft-header {
  display: flex;
  align-items: center;
  z-index: 0;
  padding: 0 0.5rem;

  border-bottom: 1px solid var(--mat-sys-outline);
  border-top: 1px solid var(--mat-sys-outline);

  margin-bottom: 0.5rem;
  background-color: var(--mat-sys-surface);
  box-shadow: var(--mat-sys-level2);
}

.draft-info-container {
  padding: 0 0.5rem;
  @media (max-width: 768px) {
    font-size: smaller;
  }
  flex-shrink: 0;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h2,
h3 {
  font-family: var(--pdz-font-fancy);
}

.opponent-main {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

$draft-sprite-size: 4rem;

.draft-bar {
  display: flex;
  flex-grow: 1;
  width: fit-content;
  overflow-x: auto;

  @media (max-width: 768px) {
    flex-basis: auto;
    flex-grow: 1;
    order: 0;
    justify-content: center;
  }

  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    border: 3px solid transparent;
    background-clip: content-box;
    background-color: rgba(0, 0, 0, 0.5);
  }
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  pdz-sprite {
    @media (max-width: 768px) {
      display: none;
    }
    min-height: $draft-sprite-size;
    min-width: $draft-sprite-size;
    height: $draft-sprite-size;
    width: $draft-sprite-size;
    max-height: $draft-sprite-size;
    max-width: $draft-sprite-size;
  }
}
