<div class="opponent-main">
  <div class="draft-header">
    <button class="back-btn" [routerLink]="['/', draftPath]">Back</button>
    @if (draft | async; as draft) {
      <div class="draft-flex">
        <div class="draft-info-container">
          <h2>
            {{ draft.leagueName }}
          </h2>
          <div class="details-container">
            <h4 class="stat">
              {{ draft.format }}
            </h4>
            <h4 class="stat">
              {{ draft.ruleset }}
            </h4>
          </div>
        </div>
        <div class="team-info-container">
          <h3>
            {{ draft.teamName }}
          </h3>
          <h4 class="stat">
            {{ draft.score.wins }} - {{ draft.score.loses }} |
            {{ draft.score.diff }}
          </h4>
        </div>
        <div class="draft-bar">
          @for (pokemon of draft.team; track $index) {
            <pdz-sprite [pokemon]="pokemon"> </pdz-sprite>
          }
        </div>
      </div>
      <div class="draft-buttons">
        <button
          routerLink="../edit"
          [queryParams]="{ draft: draft.tournamentId | json }"
        >
          <mat-icon>edit</mat-icon>
        </button>
        <a [href]="draft.doc" target="_blank" [class.disabled]="!draft.doc"
          ><mat-icon>dataset_linked</mat-icon></a
        >
      </div>
    }
  </div>
  <router-outlet></router-outlet>
</div>
