@if (matchupId && matchupData) {
  <div class="matchup-main">
    <div class="matchup-header">
      <button routerLink="../../">Back</button>
      <div class="details-spacer">
        <div class="details-container">
          @if (matchupData) {
            <div class="detail-container">
              <p class="detail-title">League Name</p>
              <p class="detail-text">{{ matchupData.details.leagueName }}</p>
            </div>
            <div class="detail-container">
              <p class="detail-title">Stage</p>
              <p class="detail-text">{{ matchupData.details.stage }}</p>
            </div>
            <div class="detail-container">
              <p class="detail-title">Ruleset</p>
              <p class="detail-text">{{ matchupData.details.ruleset }}</p>
            </div>
            <div class="detail-container">
              <p class="detail-title">Format</p>
              <p class="detail-text">{{ matchupData.details.format }}</p>
            </div>
            @if (timeString) {
              <div class="detail-container">
                <p class="detail-title">Game Time</p>
                <p class="detail-text">{{ timeString }}</p>
              </div>
            }
          }
        </div>
      </div>
      @if (matchupData) {
        <button (click)="openShareDialog()">Share</button>
      }
    </div>

    <div class="matchup-body">
      <pdz-matchup
        [matchupId]="matchupId"
        [matchupData]="matchupData"
      ></pdz-matchup>
    </div>
  </div>

  <div
    class="matchup-teambuilder-panel"
    [class.is-open]="teambuilderPanelOpen"
    [class.is-resizing]="isResizing"
    [style.width.%]="
      teambuilderPanelOpen ? (isMobile ? 100 : panelWidthPercent) : 0
    "
  >
    <div class="resize-handle" (mousedown)="startResize($event)"></div>
    <pdz-matchup-teambuilder
      [matchupData]="matchupData"
      [matchupId]="matchupId"
      (closePanel)="teambuilderPanelOpen = false"
    />
  </div>

  <button
    class="teambuilder-button matchup-teambuilder-container"
    [class.is-hidden]="teambuilderPanelOpen"
    (click)="teambuilderPanelOpen = !teambuilderPanelOpen"
  >
    <pdz-icon name="build" size="lg" />
  </button>
} @else {
  <pdz-loading></pdz-loading>
}
