@forward "mixins/widgets";
@use "mixins/buttons" as *;
@use "mixins/widgets" as *;
@use "pdz-theming" as pdz;

.widget-container {
  @include widget-card();
}

.matchup-main {
  background: linear-gradient(
    to right,
    pdz.color(primary-subtle),
    pdz.color(background),
    pdz.color(secondary-subtle)
  );
  height: 100%;
  overflow-y: auto;

  .matchup-header {
    display: flex;
    align-items: center;
    padding: pdz.space(sm);
    column-gap: 1rem;
    z-index: 5001;
    pointer-events: none;

    button {
      pointer-events: auto;
      @include flat-button-menu(
        (
          max-width: 4rem,
        )
      );
    }

    .details-spacer {
      flex-grow: 1;
      display: flex;
      justify-content: center;

      .details-container {
        pointer-events: auto;
        display: flex;
        flex-wrap: wrap;
        z-index: 5001;
        margin-top: -0.75rem;
        padding: 0.25rem 1rem;
        border-radius: 0 0 pdz.shape(corner-sm) pdz.shape(corner-sm);
        width: fit-content;
        justify-content: space-evenly;
        column-gap: 2rem;
        row-gap: pdz.space(xs);
        background-color: pdz.color(surface);
        box-shadow: var(--pdz-level-2);
      }
    }

    @media (min-width: 768px) {
      top: 0;
      position: sticky;

      button {
        pointer-events: auto;
        @include flat-button-menu(
          (
            max-width: 5rem,
          )
        );
      }
    }
  }

  .matchup-body {
    padding: pdz.space(lg);
    @media (max-width: 768px) {
      padding: pdz.space(sm);
    }
  }
}

.detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: pdz.space(2xs);
  text-align: center;
  .detail-title {
    font-weight: var(--pdz-font-weight-bold);
    font-size: 0.8rem;
    line-height: 0.8rem;
    color: pdz.color(primary-accent);
  }
  .detail-text {
    font-weight: var(--pdz-font-weight-bold);
    font-size: 1rem;
    line-height: 1rem;
    color: pdz.color(on-surface);
  }
}
