@if (plannerForm) {
  <form
    [formGroup]="plannerForm"
    class="planner-form"
    (keydown.enter)="$event.preventDefault()"
  >
    <div formArrayName="drafts" class="planner-container">
      <div class="tab-bar">
        <div class="tab-wrapper scrollbar-hidden">
          @for (
            draftCtrl of draftArray.controls;
            track draftCtrl.controls.draftName
          ) {
            <div
              [class.selected]="$index === selectedDraft.value"
              class="draft-tab tab"
              [formGroupName]="$index"
              (click)="selectedDraft.next($index)"
            >
              <input formControlName="draftName" />

              <mat-icon (click)="copyToNew($index)">content_copy</mat-icon>
              @if (draftArray.controls.length > 1) {
                <mat-icon (click)="deletePlan($index)">delete_forever</mat-icon>
              }
            </div>
          }
        </div>
        <button
          (click)="addDraft(this.createDraftFormGroup({}))"
          class="add-tab tab"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div [formGroup]="draftFormGroup" class="widget-container">
        @if (isLargeScreen) {
          <mat-tab-group mat-stretch-tabs="false" class="tab-group-compact">
            <mat-tab label="Team">
              <planner-team [draftFormGroup]="draftFormGroup"></planner-team>
            </mat-tab>
            <mat-tab label="Settings">
              <planner-settings
                [draftFormGroup]="draftFormGroup"
              ></planner-settings>
            </mat-tab>
          </mat-tab-group>
        }
        <mat-tab-group
          mat-stretch-tabs="false"
          [(selectedIndex)]="tabIndex"
          class="tab-group-grow"
          mat-align-tabs="start"
        >
          @if (!isLargeScreen) {
            <mat-tab label="Team">
              <ng-template matTabContent>
                <planner-team [draftFormGroup]="draftFormGroup"></planner-team>
              </ng-template>
            </mat-tab>
            <mat-tab label="Settings">
              <ng-template matTabContent>
                <planner-settings
                  [draftFormGroup]="draftFormGroup"
                ></planner-settings>
              </ng-template>
            </mat-tab>
          }
          @if (summary) {
            <mat-tab label="Summary" [tabIndex]="0">
              <ng-template matTabContent>
                <div class="tab-container">
                  <planner-summary [summary]="summary"></planner-summary>
                </div>
              </ng-template>
            </mat-tab>
          }
          @if (typechart) {
            <mat-tab label="Typechart">
              <ng-template matTabContent>
                <div class="tab-container">
                  <pdz-planner-typechart
                    [typechart]="typechart"
                  ></pdz-planner-typechart>
                </div>
              </ng-template>
            </mat-tab>
          }
          @if (movechart.length) {
            <mat-tab label="Moves">
              <ng-template matTabContent>
                <div class="movechart-container">
                  <planner-moves [movechart]="movechart"></planner-moves>
                </div>
              </ng-template>
            </mat-tab>
          }
          @if (coverage) {
            <mat-tab label="Coverage">
              <ng-template matTabContent>
                <div class="coverage-container">
                  <planner-coverage
                    class="coverage"
                    [coverage]="coverage"
                  ></planner-coverage>
                </div>
              </ng-template>
            </mat-tab>
          }
          <mat-tab label="Find">
            <ng-template matTabContent>
              <finder-core
                class="finder"
                [rulesetId]="
                  draftFormGroup.controls.ruleset.value || 'Gen9 NatDex'
                "
                [formatId]="draftFormGroup.controls.format.value || 'Singles'"
              ></finder-core>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </form>
} @else {
  <pdz-loading></pdz-loading>
}

<!-- {{ plannerForm.value | json }} {{ tabSelected | json }} -->
