/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-cols-19 {
  display: grid;
  grid-template-columns: repeat(19, minmax(0, 1fr));
}

.sprite-border {
  -webkit-filter: drop-shadow(1px 0px 0 theme("colors.spriteBorder"))
    drop-shadow(-1px 0px 0 theme("colors.spriteBorder"))
    drop-shadow(0px -1px 0 theme("colors.spriteBorder"))
    drop-shadow(0px 1px 0 theme("colors.spriteBorder"));
  filter: drop-shadow(1px 0px 0 theme("colors.spriteBorder"))
    drop-shadow(-1px 0px 0 theme("colors.spriteBorder"))
    drop-shadow(0px -1px 0 theme("colors.spriteBorder"))
    drop-shadow(0px 1px 0 theme("colors.spriteBorder"));
  z-index: 0;
}

@font-face {
  font-family: "Nasalization RG";
  src: url("./assets/fonts/nasalization-rg.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  /*tera scrollbar*/
  .scrollbar-tera::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  .scrollbar-tera::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f1f5f9;
  }

  .scrollbar-tera::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 100vh;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: hsl(var(--twc-menu-100) / var(--twc-menu-100-opacity, var(--tw-bg-opacity)));
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb {
    background: hsl(var(--twc-menu-300) / var(--twc-menu-300-opacity, var(--tw-bg-opacity)));
    border-radius: 100vh;
    border: 2px solid hsl(var(--twc-menu-100) / var(--twc-menu-100-opacity, var(--tw-bg-opacity)));
  }

  ::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--twc-menu-400) / var(--twc-menu-400-opacity, var(--tw-bg-opacity)));
    border: 1px solid hsl(var(--twc-menu-100) / var(--twc-menu-100-opacity, var(--tw-bg-opacity)));
  }
}
