/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-cols-19 {
  display: grid;
  grid-template-columns: repeat(19, minmax(0, 1fr));
}

.sprite-border {
  -webkit-filter: drop-shadow(1px 0px 0 theme("colors.slate.500"))
    drop-shadow(-1px 0px 0 theme("colors.slate.500"))
    drop-shadow(0px -1px 0 theme("colors.slate.500"))
    drop-shadow(0px 1px 0 theme("colors.slate.500"));
  filter: drop-shadow(1px 0px 0 theme("colors.slate.500"))
    drop-shadow(-1px 0px 0 theme("colors.slate.500"))
    drop-shadow(0px -1px 0 theme("colors.slate.500"))
    drop-shadow(0px 1px 0 theme("colors.slate.500"));
  z-index: 0;
}

@layer utilities {
  /*tera scrollbar*/
  .scrollbar-tera::-webkit-scrollbar {
    width: 2px;
    height: 2px;
  }

  .scrollbar-tera::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f1f5f9;
  }

  .scrollbar-tera::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 100vh;
  }

  /*scrollbar*/
  ::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  ::-webkit-scrollbar-track {
    background: theme("colors.slate.100");
    border-radius: 100vh;
  }

  ::-webkit-scrollbar-thumb {
    background: theme("colors.slate.300");
    border-radius: 100vh;
    border: 2px solid theme("colors.slate.100");
  }

  ::-webkit-scrollbar-thumb:hover {
    background: theme("colors.slate.350");
    border: 1px solid theme("colors.slate.100");
    
  }
}
