@use "../_typechart-core.shared" as *;
@use "pdz-theming" as pdz;

.stat-label {
  &.count {
    background-color: pdz.color(neutral);
  }

  &.weaks {
    background-color: pdz.color(scale-negative-4);
  }

  &.resists {
    background-color: pdz.color(scale-positive-4);
  }

  &.delta {
    background-image: linear-gradient(
      to right,
      pdz.color(scale-negative-4) 50%,
      pdz.color(scale-positive-4) 50%
    );
  }
  &.log-delta {
    background-image: linear-gradient(
      to right,
      pdz.color(scale-negative-4) 10%,
      pdz.color(neutral),
      pdz.color(scale-positive-4) 90%
    );
  }
}
