<div
  class="w-full h-full grid grid-cols-1 md:grid-cols-2 items-center md:flex-row"
>
  <div class="h-full flex justify-center items-center">
    <img
      class="p-4 object-contain w-full max-w-96 md:max-w-160"
      src="../../assets/images/battle-zone/pdbls2.png"
    />
  </div>
  <div
    class="h-full font-nasa grid grid-cols-2 justify-items-center items-center"
  >
    <button routerLink="/leagues/pdbls2/sign-up" matRipple class="mainbutton">
      Sign Up
    </button>
    <button routerLink="/leagues/pdbls2/tier-list" matRipple class="mainbutton">
      Tier List
    </button>
    <button routerLink="/leagues/pdbls2/rules" matRipple class="mainbutton">
      Rules
    </button>
    <a
      href="https://discord.gg/FsxXcWFaF6"
      target="_blank"
      matRipple
      class="mainbutton"
      >Discord</a
    >
  </div>
</div>
