@use "@angular/material" as mat;

.mainbutton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--pdz-color-primary-container);
  color: var(--pdz-color-on-primary-container);
  padding: var(--pdz-space-xs);
  font-size: x-large;
  width: 12rem;
  color: var(--pdz-color-primary);
  height: 8rem;
  border-radius: 2rem;
  box-shadow: var(--pdz-level-2);
  &:hover {
    background-color: var(--pdz-color-primary);
    color: var(--pdz-color-on-primary);
  }
  &:active {
    box-shadow: var(--pdz-level-0);
  }

  @media (max-width: 768px) {
    width: 8rem;
  }
}
