.widget {
  display: flex;
  flex-direction: column;
  box-shadow: var(--pdz-level2);
  border-radius: var(--pdz-shape-corner-lg);
  overflow: hidden;
  .widget-title {
    padding: var(--pdz-space-xs);
    font-family: var(--pdz-font-fancy);
    background-color: var(--pdz-color-primary);
    color: var(--pdz-color-on-primary);
    text-align: center;
  }

  .widget-body {
    overflow: auto;
    padding: var(--pdz-space-sm);
  }
}

.widget-container {
  padding: var(--pdz-space-lg);
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.league-image {
  width: 20rem;
  height: 10rem;
  overflow: hidden;
  object-fit: cover;
  img {
  }
}

.league-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 1rem;
}
