@use "pdz-theming" as pdz;
@use "mixins" as *;

@mixin menu-section-label {
  padding: pdz.space(xs) pdz.space(sm) pdz.space(2xs);
  margin-top: pdz.space(2xs);
  border-top: 1px solid pdz.color(outline-variant);
  color: pdz.color(on-surface-variant);
  @include text(label);
}

@mixin menu-divider {
  height: 1px;
  margin: pdz.space(2xs) 0;
  background-color: pdz.color(outline-variant);
}
