$positive-scale: (
  1: var(--pdz-color-scale-positive-1),
  2: var(--pdz-color-scale-positive-2),
  3: var(--pdz-color-scale-positive-3),
  4: var(--pdz-color-scale-positive-4),
  5: var(--pdz-color-scale-positive-5),
  6: var(--pdz-color-scale-positive-6),
  7: var(--pdz-color-scale-positive-7),
);

$negative-scale: (
  1: var(--pdz-color-scale-negative-1),
  2: var(--pdz-color-scale-negative-2),
  3: var(--pdz-color-scale-negative-3),
  4: var(--pdz-color-scale-negative-4),
  5: var(--pdz-color-scale-negative-5),
  6: var(--pdz-color-scale-negative-6),
  7: var(--pdz-color-scale-negative-7),
);

@mixin generate-bg-scale($class-prefix: "pdz-scale") {
  @each $level, $color in $positive-scale {
    .#{$class-prefix}-positive-#{$level} {
      background-color: $color;
    }
  }

  @each $level, $color in $negative-scale {
    .#{$class-prefix}-negative-#{$level} {
      background-color: $color;
    }
  }

  .#{$class-prefix}-neutral {
    background-color: var(--pdz-color-scale-neutral);
  }
}
