<div class="w-full">
  <div class="flex w-full px-1 bg-menu-400 rounded-t-xl">
    <div class="flex w-full pb-1 border-b border-menu-300">
      <div class="w-full text-xl font-bold text-center">Team Overview</div>
      <button
        (click)="swapTeams()"
        class="px-3 mx-1 mt-2 ml-auto text-sm rounded-md shadow-md"
        [ngClass]="clickColor(true)"
      >
        ⇄
      </button>
    </div>
  </div>

  <div class="w-full overflow-x-auto border-4 border-menu-400">
    <table
      id="myOverview"
      class="rounded-md table-fixed w-min"
      [ngClass]="teamColor()"
    >
      <tr class="bg-menu-400">
        <th class="w-6"></th>
        <th class="w-12 min-w-8"></th>
        <th
          (click)="sortByName()"
          class="w-24 cursor-pointer hover:text-menu-200"
        >
          @if (sortBy == "name") {
            @if (reversed) {
              <div>Name ↧</div>
            } @else {
              <div>Name ↥</div>
            }
          } @else {
            <div>Name</div>
          }
        </th>
        <th class="w-16 text-left">Types</th>
        <th class="w-20">Abilities</th>
        <th
          (click)="sortByStat('hp')"
          class="w-12 cursor-pointer hover:text-menu-200"
        >
          @if (sortBy == "hp") {
            @if (reversed) {
              <div>HP ↧</div>
            } @else {
              <div>HP ↥</div>
            }
          } @else {
            <div>HP</div>
          }
        </th>
        <th
          (click)="sortByStat('atk')"
          class="w-12 cursor-pointer hover:text-menu-200"
        >
          @if (sortBy == "atk") {
            @if (reversed) {
              <div>ATK ↧</div>
            } @else {
              <div>ATK ↥</div>
            }
          } @else {
            <div>ATK</div>
          }
        </th>
        <th
          (click)="sortByStat('def')"
          class="w-12 cursor-pointer hover:text-menu-200"
        >
          @if (sortBy == "def") {
            @if (reversed) {
              <div>DEF ↧</div>
            } @else {
              <div>DEF ↥</div>
            }
          } @else {
            <div>DEF</div>
          }
        </th>
        <th
          (click)="sortByStat('spa')"
          class="w-12 cursor-pointer hover:text-menu-200"
        >
          @if (sortBy == "spa") {
            @if (reversed) {
              <div>SPA ↧</div>
            } @else {
              <div>SPA ↥</div>
            }
          } @else {
            <div>SPA</div>
          }
        </th>
        <th
          (click)="sortByStat('spd')"
          class="w-12 cursor-pointer hover:text-menu-200"
        >
          @if (sortBy == "spd") {
            @if (reversed) {
              <div>SPD ↧</div>
            } @else {
              <div>SPD ↥</div>
            }
          } @else {
            <div>SPD</div>
          }
        </th>
        <th
          (click)="sortByStat('spe')"
          class="w-12 cursor-pointer hover:text-menu-200"
        >
          @if (sortBy == "spe") {
            @if (reversed) {
              <div>SPE ↧</div>
            } @else {
              <div>SPE ↥</div>
            }
          } @else {
            <div>SPE</div>
          }
        </th>
      </tr>
      @for (pokemon of teams[selectedTeam].team; track $index) {
        <tr class="h-12 border-b border-menu-400">
          <td>
            @if (pokemon.capt) {
              <div class="w-6">
                @if (pokemon.capt.tera) {
                  <tera [pokemon]="pokemon"></tera>
                }
                @if (pokemon.capt.z) {
                  <z-svg></z-svg>
                }
              </div>
            }
          </td>
          <td>
            <sprite [pokemon]="pokemon"></sprite>
          </td>
          <td class="text-sm">{{ pokemon.name }}</td>
          <td>
            @for (type of pokemon.types; track $index) {
              <img
                src="../../../assets/icons/types/{{ type }}.png"
                onerror="this.src='../../../assets/icons/types/Unknown.png'"
                alt="{{ type }}"
              />
            }
          </td>

          <td>
            @for (ability of pokemon.abilities; track $index) {
              <div class="text-center">
                {{ ability }}
              </div>
            }
          </td>
          <td
            class="text-center border-l-2 border-menu-400"
            [ngClass]="statColor(pokemon.baseStats.hp)"
          >
            {{ pokemon.baseStats.hp }}
          </td>
          <td class="text-center" [ngClass]="statColor(pokemon.baseStats.atk)">
            {{ pokemon.baseStats.atk }}
          </td>
          <td class="text-center" [ngClass]="statColor(pokemon.baseStats.def)">
            {{ pokemon.baseStats.def }}
          </td>
          <td class="text-center" [ngClass]="statColor(pokemon.baseStats.spa)">
            {{ pokemon.baseStats.spa }}
          </td>
          <td class="text-center" [ngClass]="statColor(pokemon.baseStats.spd)">
            {{ pokemon.baseStats.spd }}
          </td>
          <td class="text-center" [ngClass]="statColor(pokemon.baseStats.spe)">
            {{ pokemon.baseStats.spe }}
          </td>
        </tr>
      }
      <tr class="border-t-2 bg-menu-300 border-menu-400">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-center">Average</td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.mean.hp)"
        >
          {{ teams[selectedTeam].stats.mean.hp }}
        </td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.mean.atk)"
        >
          {{ teams[selectedTeam].stats.mean.atk }}
        </td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.mean.def)"
        >
          {{ teams[selectedTeam].stats.mean.def }}
        </td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.mean.spa)"
        >
          {{ teams[selectedTeam].stats.mean.spa }}
        </td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.mean.spd)"
        >
          {{ teams[selectedTeam].stats.mean.spd }}
        </td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.mean.spe)"
        >
          {{ teams[selectedTeam].stats.mean.spe }}
        </td>
      </tr>
      <tr class="bg-menu-300">
        <td></td>
        <td></td>
        <td class="flex">
          <input type="range" min="20" max="140" [(ngModel)]="baseValue" />
          <input
            type="number"
            [(ngModel)]="baseValue"
            min="20"
            max="140"
            value="{{ baseValue }}"
            class="w-8 bg-transparent"
          />
        </td>
        <td></td>
        <td class="text-center">Median</td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.median.hp)"
        >
          {{ teams[selectedTeam].stats.median.hp }}
        </td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.median.atk)"
        >
          {{ teams[selectedTeam].stats.median.atk }}
        </td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.median.def)"
        >
          {{ teams[selectedTeam].stats.median.def }}
        </td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.median.spa)"
        >
          {{ teams[selectedTeam].stats.median.spa }}
        </td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.median.spd)"
        >
          {{ teams[selectedTeam].stats.median.spd }}
        </td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.median.spe)"
        >
          {{ teams[selectedTeam].stats.median.spe }}
        </td>
      </tr>
      <tr class="bg-menu-300">
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="text-center">Max</td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.max.hp)"
        >
          {{ teams[selectedTeam].stats.max.hp }}
        </td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.max.atk)"
        >
          {{ teams[selectedTeam].stats.max.atk }}
        </td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.max.def)"
        >
          {{ teams[selectedTeam].stats.max.def }}
        </td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.max.spa)"
        >
          {{ teams[selectedTeam].stats.max.spa }}
        </td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.max.spd)"
        >
          {{ teams[selectedTeam].stats.max.spd }}
        </td>
        <td
          class="text-center"
          [ngClass]="statColor(teams[selectedTeam].stats.max.spe)"
        >
          {{ teams[selectedTeam].stats.max.spe }}
        </td>
      </tr>
    </table>
  </div>
  <div class="w-full h-3 rounded-b-full bg-menu-400"></div>
</div>
