@use "@angular/material" as mat;

.speed-main {
  display: flex;
  column-gap: 0.5rem;
  width: 100%;
  max-width: 100%;

  .base-tiers-container {
    display: flex;
    row-gap: 1px;
    flex-direction: column;
    align-items: center;
    .speed-container {
      .speed-row {
        display: flex;
        background-color: var(--pdz-color-primary-container);
        border-radius: var(--pdz-shape-corner-sm);
        border-bottom: 1px solid var(--pdz-color-primary-border);
        column-gap: 0.25rem;
        margin-bottom: 1px;
        cursor: pointer;
        &:hover {
          background-color: var(--pdz-color-primary);
          color: var(--pdz-color-on-primary);
        }
        &.alternate,
        :host-context(.alternate) & {
          background-color: var(--pdz-color-secondary-container);
          border-bottom: 1px solid var(--pdz-color-secondary-border);
          .speed-icon {
            color: var(--pdz-color-on-secondary-container);
          }
          .base-speed-label {
            color: var(--pdz-color-on-secondary-container);
          }

          &:hover {
            background-color: var(--pdz-color-secondary);
            color: var(--pdz-color-on-secondary);
          }
        }
        &.alternate {
          flex-direction: row-reverse;
        }
        &.selected {
          border-bottom: 1px solid var(--pdz-color-surface);
          margin-bottom: 0px;
          margin-top: 2px;
        }

        .speed-icon {
          justify-content: center;
          align-items: center;
          display: flex;
          color: var(--pdz-color-on-primary-container);
        }

        div {
          width: 2rem;
          height: 2rem;
        }

        .base-speed-label {
          text-align: center;
          line-height: 2rem;
          font-weight: 700;
          color: var(--pdz-color-on-primary-container);
        }
      }
    }
  }
  .tiers-main {
    flex-grow: 1;
    max-width: 20rem;
    overflow: hidden;
    margin-right: -0.75rem;

    .tiers-titles {
      margin-right: 0.75rem;
      display: flex;
      justify-content: space-between;
      column-gap: 1rem;
    }
    .tiers-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--pdz-space-3xs);
      overflow: auto;
      scrollbar-gutter: stable;
      .tier-group {
        background-color: var(--pdz-color-primary-container);
        border-color: var(--pdz-color-primary-border);
        border-width: 1px;
        border-radius: var(--pdz-shape-corner-sm);
        padding: 0 var(--pdz-space-xs);
        width: 40rem;
        max-width: 100%;

        &.alternate,
        :host-context(.alternate) & {
          background-color: var(--pdz-color-secondary-container);
          border-color: var(--pdz-color-secondary-border);
          .speed-spacer {
            border-right: 2px solid var(--pdz-color-secondary-border) !important;
          }
          > :not(:first-child) {
            border-top: 1px solid var(--pdz-color-secondary-border);
          }
        }

        &.grouped {
          cursor: pointer;
          &:hover {
            background-color: var(--pdz-color-primary);
            color: var(--pdz-color-on-primary);
            &.alternate,
            :host-context(.alternate) & {
              background-color: var(--pdz-color-secondary);
              color: var(--pdz-color-on-secondary);
            }
          }
        }

        > :not(:first-child) {
          border-top: 1px solid var(--pdz-color-primary-border);
        }

        .speedtier-wrapper {
          padding: 0.125rem 0;
        }
        .collapsed-group {
          display: flex;
          align-items: center;
          height: fit-content;
          .pokemon-row {
            display: flex;
            flex-grow: 1;
            flex-wrap: wrap;
          }
          .sprite-wrapper {
            width: 2rem;
            height: 2rem;
          }
          .group-speeds {
            color: var(--pdz-color-on-primary-container);
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            padding: 0.25rem 0;
            .speed-spacer {
              min-height: 0.5rem;
              width: 0;
              display: flex;
              flex-grow: 1;
              border-radius: var(--pdz-shape-corner-lg);
              border-right: 2px solid var(--pdz-color-primary-border);
            }
            .top-speed,
            .bot-speed {
              line-height: 1em;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
  .section-title {
    font-size: 0.9em;
    font-family: var(--pdz-font-fancy);
  }
}

.filter-main {
  box-shadow: var(--pdz-level-2);
  border-radius: 5px;
  background-color: var(--pdz-color-surface);
  padding: 10px;
  margin: 0;
  color: var(--pdz-color-on-surface);
  @include mat.checkbox-density(-3);

  .reset-button {
    text-align: center;
    font-weight: 600;
    border-bottom: 1px solid var(--pdz-color-primary-border);
    height: 1.5rem;
    cursor: pointer;
    &:hover {
      font-size: 1.05em;
    }
  }
  .filter-label {
    font-weight: 500;
  }
  .option-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
