@use "@angular/material" as mat;
@use "../../../styles/breakpoints" as *;
@use "../../../styles/mixins" as *;

mat-toolbar {
  @include mat.toolbar-overrides(
    (
      container-background-color: var(--pdz-color-surface),
      container-text-color: var(--pdz-color-on-surface),
    )
  );
  @include mat.toolbar-density(-4);

  @include mat.button-density(-1);
  @include mat.button-overrides(
    (
      outlined-horizontal-padding: 0.75rem,
    )
  );
}
:host {
  box-shadow: var(--pdz-level-2);
  z-index: 5000;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.menu-tab {
  padding: var(--pdz-space-sm);
  border-radius: var(--pdz-shape-corner-sm);
  font-family: var(--pdz-font-fancy);
  &:hover {
    background-color: var(--pdz-color-primary-container);
    color: var(--pdz-color-on-primary-container);
  }
}

.user-info-container {
  display: flex;
  align-items: center;
  .user-icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: var(--pdz-shape-corner-lg);
  }
  .username-text {
    padding-left: 0.5rem;
    max-width: 4rem;
    text-overflow: clip;
    font-size: 0.9em;
    line-height: 0.9em;
    overflow: hidden;
  }
}

.home-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--pdz-shape-corner-sm);
  padding: 0 0.5rem;

  &:hover {
    background-color: var(--pdz-color-primary-container);
    color: var(--pdz-color-on-primary-container);
  }
}
pdz-icon {
  height: 100%;
  width: fit-content;
}

.mobile-menu {
  display: block;
}

.desktop-tabs {
  display: none;
}

@include respond-above(medium) {
  .mobile-menu {
    display: none;
  }

  .desktop-tabs {
    display: flex;
  }
}
