<header>
  <mat-toolbar>
    <div class="mobile-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon
          matBadge="1"
          matBadgeSize="small"
          matBadgeOverlap="false"
          [matBadgeHidden]="!(anyBadge$ | async)"
          >menu</mat-icon
        >
      </button>
    </div>

    <mat-menu #menu="matMenu">
      @for (tab of TABS; track $index) {
        <button
          mat-menu-item
          [routerLink]="tab.route"
          [matBadge]="tab.badge | async"
          [matBadgeHidden]="!tab.badge || (tab.badge | async) === ''"
        >
          <span>{{ tab.title }}</span>
        </button>
      }
      <button mat-menu-item [matMenuTriggerFor]="toolsMenu">
        <span>Other Tools</span>
      </button>
    </mat-menu>
    <mat-menu #toolsMenu="matMenu">
      <button mat-menu-item routerLink="/tools/quick-matchup">
        <mat-icon>bolt</mat-icon>
        <span> Quick Matchup </span>
      </button>
      <button mat-menu-item routerLink="/tools/time-converter">
        <mat-icon>calendar_clock</mat-icon>
        <span> Time Converter </span>
      </button>
      <button mat-menu-item routerLink="/tools/pokemon-search">
        <mat-icon>search</mat-icon>
        <span> Pokemon Search </span>
      </button>
    </mat-menu>
    <button
      class="home-btn"
      routerLink="/"
      matBadge="1"
      matBadgeSize="small"
      matBadgeOverlap="false"
      [matBadgeHidden]="!(newsBadge | async)"
    >
      <pdz-icon name="logo"></pdz-icon>
    </button>
    <div class="tab-container desktop-tabs">
      @for (tab of TABS; track $index) {
        <button
          class="menu-tab"
          [routerLink]="tab.route"
          [matBadge]="tab.badge | async"
          [matBadgeHidden]="!tab.badge || (tab.badge | async) === ''"
        >
          <span>{{ tab.title }}</span>
        </button>
      }
      <button class="menu-tab" [matMenuTriggerFor]="toolsMenu">
        <span>Other Tools</span>
      </button>
    </div>

    <span class="toolbar-spacer"></span>
    <!-- {{ auth.state$ | async | json }} -->
    <!-- <a
      href="https://shop.pokemondraftzone.com"
      target="_blank"
      class="store-button"
      >Shop<mat-icon
        matBadge="1"
        matBadgeSize="small"
        matBadgeOverlap="false"
        [matBadgeHidden]="false"
        >apparel</mat-icon
      ></a
    > -->

    <pdz-login-button></pdz-login-button>
  </mat-toolbar>
</header>
