@use "@angular/material" as mat;

$horizontal-padding: 0.5rem;
$vertical-padding: 0.5rem;

header {
  display: flex;
  padding: $vertical-padding $horizontal-padding;
  justify-content: space-between;
  column-gap: $horizontal-padding;
}

.user-info-container {
  display: flex;
  align-items: center;
  .user-icon {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
  }
  .username-text {
    padding-left: 0.5rem;
    max-width: 4rem;
    text-overflow: clip;
    font-size: 0.9em;
    line-height: 0.9em;
    overflow: hidden;
  }
}

svg {
  .logo-top {
    fill: var(--mat-sys-primary);
  }
  .logo-bottom {
    fill: var(--mat-sys-tertiary);
  }
}
