<div class="flex flex-col max-w-full h-full items-center">
  <div class="h-full flex max-w-full flex-col p-2 space-y-2">
    <div class="flex-grow-0 max-w-full flex justify-between">
      <div class="flex items-center space-x-2">
        <button class="backbutton" routerLink="/leagues/pdbls2" mat-flat-button>
          Back
        </button>
        <div class="md:text-2xl text-xl font-nasa">Tier List</div>
        @if (tierGroups) {
          <div>
            <div class="relative inline-block">
              <button
                mat-icon-button
                (click)="menu = menu === 'sort' ? null : 'sort'"
              >
                <mat-icon>sort</mat-icon>
              </button>
              @if (menu === "sort") {
                <div
                  class="absolute left-full top-0 ml-2 bg-page border rounded menu z-50"
                >
                  <mat-radio-group
                    [(ngModel)]="sortBy"
                    class="flex flex-col p-1 pr-2"
                  >
                    @for (option of SortOptions; track $index) {
                      <mat-radio-button [value]="option">
                        {{ option }}
                      </mat-radio-button>
                    }
                  </mat-radio-group>
                </div>
              }
            </div>
            <div class="relative inline-block">
              <button
                mat-icon-button
                (click)="menu = menu === 'filter' ? null : 'filter'"
              >
                <mat-icon>filter_list</mat-icon>
              </button>
              @if (menu === "filter") {
                <div
                  class="absolute left-full top-0 ml-2 bg-page border rounded-lg menu z-50"
                >
                  <div class="apply-wrapper">
                    <button class="applybutton" (click)="applyFilter()">
                      Apply
                    </button>
                  </div>
                  <div class="max-h-96 overflow-y-auto">
                    <mat-checkbox
                      [checked]="selectedTypes.length === types.length"
                      [indeterminate]="
                        selectedTypes.length > 0 &&
                        selectedTypes.length < types.length
                      "
                      (change)="updateFilter($event.checked)"
                    >
                      All
                    </mat-checkbox>
                    <ul>
                      @for (type of types; track $index; let i = $index) {
                        <li>
                          <mat-checkbox
                            [checked]="selectedTypes.includes(type)"
                            (change)="updateFilter($event.checked, i)"
                          >
                            {{ type }}
                          </mat-checkbox>
                        </li>
                      }
                    </ul>
                  </div>
                </div>
              }
            </div>
            <div class="relative inline-block">
              <button
                mat-stroked-button
                (click)="menu = menu === 'division' ? null : 'division'"
              >
                Division
              </button>
              @if (menu === "division") {
                <div
                  class="absolute left-full top-0 ml-2 bg-page border rounded menu z-50"
                >
                  <mat-radio-group
                    [formControl]="selectedDivision"
                    class="flex flex-col p-1 pr-2"
                  >
                    @for (option of Divisions; track $index) {
                      <mat-radio-button [value]="option">
                        {{ option }}
                      </mat-radio-button>
                    }
                  </mat-radio-group>
                </div>
              }
            </div>
          </div>
        }
      </div>
      <div class="flex items-center space-x-2">
        <div class="hidden sm:block md:text-base text-xs">
          Updated at {{ updatedTime }}
        </div>
        <button mat-icon-button (click)="refreshTiers()">
          <mat-icon>refresh</mat-icon>
        </button>
      </div>
    </div>
    @if (tierGroups) {
      <div
        class="tier-container max-w-full max-h-full flex-grow overflow-y-auto rounded-lg w-fit"
      >
        <div class="h-fit w-full flex">
          @for (group of tierGroups; track $index) {
            <div class="tier-group">
              @if (group.label !== undefined) {
                <div class="tier-group-label">{{ group.label }}</div>
              }
              <div class="tier-entry-container">
                @for (tier of group.tiers; track $index) {
                  <div class="tier">
                    <div class="tier-label">
                      {{ tier.name }}
                    </div>
                    @for (pokemon of tier.pokemon; track $index) {
                      @if (typeInFilter(pokemon)) {
                        <div
                          class="tier-entry"
                          [ngClass]="{
                            drafted:
                              selectedDivision.value &&
                              pokemon.drafted?.includes(selectedDivision.value),
                          }"
                        >
                          <div class="tier-sprite">
                            <pdz-sprite [pid]="pokemon.id"></pdz-sprite>
                          </div>
                          <div>
                            {{ pokemon.name }}
                          </div>
                          @if (pokemon.banned) {
                            <mat-icon
                              class="restricted-icon"
                              mat-raised-button
                              #tooltip="matTooltip"
                              [matTooltip]="makeBanString(pokemon.banned)"
                            >
                              warning
                            </mat-icon>
                          }
                        </div>
                      }
                    }
                  </div>
                }
              </div>
            </div>
          }
        </div>
      </div>
    } @else {
      <loading></loading>
    }
  </div>
</div>
