<div class="flex flex-wrap items-center overflow-y-auto">
  <div class="flex flex-row w-256 md:w-128">
    <div class="w-1/2 m-1">
      <div class="px-1 bg-menu-400 rounded-t-xl">
        <div class="text-xl font-bold text-center border-b border-menu-300">
          {{ teams[0].teamName }}
        </div>
      </div>
      <table
        id="myOverview"
        class="w-full border-4 rounded-md table-auto border-menu-400"
      >
        <tr class="bg-menu-400">
          <th></th>
          <th></th>
          <th class="text-left">Name</th>
          <th>SPE</th>
        </tr>
        <tr
          *ngFor="let pokemon of teams[0].team"
          class="h-12 border-b bg-aTeam-300 border-menu-400"
        >
          <td class="w-fit">
            <div *ngIf="pokemon.capt" class="w-6 -mr-2">
              <tera *ngIf="pokemon.capt.tera" [pokemon]="pokemon"></tera>
              <z-svg *ngIf="pokemon.capt.z"></z-svg>
            </div>
          </td>
          <td class="w-20">
            <sprite [pokemon]="pokemon" [flipped]="true"></sprite>
          </td>
          <td class="w-32 text">{{ pokemon.name }}</td>
          <td class="w-12 text-center">{{ pokemon.baseStats.spe }}</td>
        </tr>
      </table>
      <div class="w-full h-3 rounded-b-full bg-menu-400"></div>
    </div>
    <div class="w-1/2 m-1">
      <div class="px-1 bg-menu-400 rounded-t-xl">
        <div class="text-xl font-bold text-center border-b border-menu-300">
          {{ teams[1].teamName }}
        </div>
      </div>
      <table
        id="oppOverview"
        class="w-full border-4 table-auto border-menu-400"
      >
        <tr class="bg-menu-400">
          <th>SPE</th>
          <th class="text-right">Name</th>
          <th></th>
          <th></th>
        </tr>
        <tr
          *ngFor="let pokemon of teams[1].team"
          class="h-12 border-b bg-bTeam-300 border-menu-400"
        >
          <td class="w-12 text-center">{{ pokemon.baseStats.spe }}</td>
          <td class="w-32 text-xs text-end">
            {{ pokemon.name }}
          </td>
          <td class="w-20">
            <sprite [pokemon]="pokemon"></sprite>
          </td>
          <td class="w-fit">
            <div *ngIf="pokemon.capt" class="w-6 -ml-2">
              <tera *ngIf="pokemon.capt.tera" [pokemon]="pokemon"></tera>
              <z-svg *ngIf="pokemon.capt.z"></z-svg>
            </div>
          </td>
        </tr>
      </table>
      <div class="w-full h-3 rounded-b-full bg-menu-400"></div>
    </div>
  </div>
</div>
