@if (draftFormGroup) {
  <div class="p-4 flex flex-col justify-between items-center">
    <div class="settings-container">
      <format-select
        [formControl]="draftFormGroup.controls.format"
      ></format-select>
      <ruleset-select
        [formControl]="draftFormGroup.controls.ruleset"
      ></ruleset-select>
    </div>
    <div class="settings-container">
      <mat-form-field>
        <mat-label>Minimum</mat-label>
        <input
          matInput
          type="number"
          [formControl]="draftFormGroup.controls.min"
          min="0"
          max="18"
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Maximum</mat-label>
        <input
          matInput
          type="number"
          [formControl]="draftFormGroup.controls.max"
          min="0"
          max="18"
        />
      </mat-form-field>
    </div>
    <div class="settings-container">
      <mat-form-field>
        <mat-label>Value Type</mat-label>
        <mat-select [formControl]="draftFormGroup.controls.system">
          <mat-option value="points">Points</mat-option>
          <mat-option value="tiers">Tiers</mat-option>
        </mat-select>
      </mat-form-field>
      @if (isPoints) {
        <mat-form-field>
          <mat-label>Total Points</mat-label>
          <input
            matInput
            type="number"
            [formControl]="draftFormGroup.controls.totalPoints"
          />
        </mat-form-field>
      }
    </div>

    <button
      mat-stroked-button
      [routerLink]="['/', draftPath, 'new']"
      [queryParams]="{
        team: teamIds,
        format: draftFormGroup.controls.format.value,
        ruleset: draftFormGroup.controls.ruleset.value,
      }"
    >
      Save to New League
    </button>
  </div>
}
