<pdz-widget label="Coverage" padding="none">
  <ng-container widget-options>
    <pdz-slide-toggle labelBefore size="sm" [(ngModel)]="abilities">
      Abilities
    </pdz-slide-toggle>
    <pdz-swap-opponent [(ngModel)]="opponent"></pdz-swap-opponent>
  </ng-container>

  <div class="coverage-list">
    @for (pokemon of coverage()[selectedTeam]; track pokemon) {
      <pdz-coverage
        [pokemon]="pokemon"
        [typechart]="typecharts()[(selectedTeam + 1) % typecharts().length]"
        [abilities]="abilities"
      ></pdz-coverage>
    }
  </div>
</pdz-widget>
