.widget-body {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scrollbar-gutter: stable;
  max-height: 50rem;
  max-width: 40rem;
  row-gap: 0.5rem;
}

coverage {
  border: 1px solid var(--pdz-cmp-coverage-border, var(--pdz-color-menu-border));
  border-radius: var(--pdz-shape-corner-lg);
}

.widget-container {
  --pdz-cmp-coverage-border: var(--pdz-color-primary-border);
  --pdz-cmp-coverage-hover: var(--pdz-color-primary-hover);
  --pdz-cmp-coverage-color: var(--pdz-color-primary);
  --pdz-cmp-coverage-on-color: var(--pdz-color-on-primary);
  &.alternate {
    --pdz-cmp-coverage-border: var(--pdz-color-secondary-border);
    --pdz-cmp-coverage-hover: var(--pdz-color-secondary-hover);
    --pdz-cmp-coverage-color: var(--pdz-color-secondary);
    --pdz-cmp-coverage-on-color: var(--pdz-color-on-secondary);
  }
}
