<div class="widget-wrapper" [ngClass]="{ alternate: opponent }">
  <div class="widget-container">
    <div class="widget-label">Defensive Type Chart</div>
    <div class="widget-options">
      <mat-slide-toggle [(ngModel)]="abilities" labelPosition="before"
        >Abilities</mat-slide-toggle
      >
      <swap-opponent [(ngModel)]="opponent"></swap-opponent>
    </div>
  </div>
  <typechart-core
    [typechart]="opponent ? typecharts[1] : typecharts[0]"
    [abilities]="abilities"
  ></typechart-core>

  <typestats-core
    [typechart]="opponent ? typecharts[1] : typecharts[0]"
  ></typestats-core>
</div>
