<form
  [formGroup]="draftForm"
  (ngSubmit)="onSubmit()"
  (keydown.enter)="$event.preventDefault()"
  class="p-2 m-2 shadow-md team bg-menu-300 shadow-menu-600 rounded-xl"
>
  <div class="w-full">
    <div class="grid grid-cols-2 gap-x-4">
      <format-select formControlName="format"></format-select>
      <ruleset-select formControlName="ruleset"></ruleset-select>
    </div>
  </div>

  <div class="grid w-full grid-cols-1 gap-4 px-2 pb-2 lg:grid-cols-2">
    <div>
      <label for="team1form" class="font-nasa">Team 1</label>
      <team-form
        id="team1form"
        extraClass="border-2 rounded-xl border-aTeam-300"
        formControlName="team1"
        color="aTeam"
      ></team-form>
    </div>
    <div>
      <label for="team2form" class="font-nasa">Team 2</label>
      <team-form
        id="team2form"
        extraClass="border-2 rounded-xl border-bTeam-300"
        formControlName="team2"
        color="bTeam"
      ></team-form>
    </div>
  </div>
  <div class="flex justify-end w-full">
    <button
      type="submit"
      class="px-3 py-1 mx-4 text-xl font-bold rounded-full shadow w-fit bg-menu-200 hover:bg-menu-100 shadow-menu-600"
    >
      View Matchup
    </button>
  </div>
</form>

<!-- {{ draftForm.value | json }} -->
