@if (draftForm) {
  <mat-stepper #stepper class="pokemon-form-container" orientation="vertical">
    <mat-step
      state="details"
      [stepControl]="draftForm.controls.details"
      errorMessage="Name is required."
    >
      <form [formGroup]="draftForm.controls.details">
        <ng-template matStepLabel>Details</ng-template>
        <ng-template matStepContent>
          <div class="details-form-container">
            <div class="league-container details-container">
              <format-select formControlName="format"></format-select>
              <ruleset-select formControlName="ruleset"></ruleset-select>
            </div>
          </div>
          <div class="button-bar">
            <div class="button-spacer"></div>
            <button type="button" mat-flat-button matStepperNext>Next</button>
          </div>
        </ng-template>
      </form>
    </mat-step>
    <mat-step state="team">
      <ng-template matStepLabel>Team 1</ng-template>
      <ng-template matStepContent>
        <div class="team-container">
          <mat-form-field>
            <mat-label>Team Name</mat-label>
            <input matInput formControlName="teamName" spellcheck="false" />
          </mat-form-field>
          <team-form
            [pokemonList$]="pokemonList$"
            [ruleset]="draftForm.controls.details.controls.ruleset.value"
            [teamArray]="draftForm.controls.team"
          ></team-form>
        </div>

        <div class="button-bar">
          <button type="button" mat-flat-button matStepperPrevious>Back</button>
          <div class="button-spacer"></div>
          <button type="button" mat-flat-button matStepperNext>Next</button>
        </div>
      </ng-template>
    </mat-step>
    <mat-step state="team">
      <ng-template matStepLabel>Team 2</ng-template>
      <ng-template matStepContent>
        <div class="team-container">
          <mat-form-field>
            <mat-label>Team Name</mat-label>
            <input matInput formControlName="teamName" spellcheck="false" />
          </mat-form-field>
          <team-form
            [pokemonList$]="pokemonList$"
            [ruleset]="draftForm.controls.details.controls.ruleset.value"
            [teamArray]="draftForm.controls.team"
          ></team-form>
        </div>

        <div class="button-bar">
          <button type="button" mat-flat-button matStepperPrevious>Back</button>
          <div class="button-spacer"></div>
          <button type="submit" mat-flat-button (click)="onSubmit()">
            Submit
          </button>
        </div>
      </ng-template>
    </mat-step>
    <ng-template matStepperIcon="details">
      <mat-icon>info</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="team">
      <mat-icon>workspaces</mat-icon>
    </ng-template>
  </mat-stepper>
}
