<form [formGroup]="pokemonForm" autocomplete="off">
  <div class="grid items-center w-full grid-cols-8">
    <sprite
      class="col-span-2 sm:col-span-1"
      [pokemon]="{
        id: pokemonForm.value.id,
        name: pokemonForm.value.name,
        shiny: pokemonForm.value.shiny
      }"
    ></sprite>
    <div class="col-span-6 sm:col-span-4">
      <label class="p-1 font-semibold">Name</label>
      <div class="w-full rounded-lg bg-aTeam-100 text-medium">
        <select-search
          [placeholder]="'Select a Pokemon'"
          [items]="names"
          [startItem]="{ id: pokemonForm.value.id }"
          (itemSelected)="resultSelected($event)"
        ></select-search>
      </div>
      @if (pokemonForm.get('name')?.touched &&
      pokemonForm.get('name')?.invalid){ Invalid name }
    </div>
    <div class="col-span-3 sm:col-span-1">
      <label class="flex items-center justify-center p-1 font-semibold"
        >Shiny
        <input
          type="checkbox"
          formControlName="shiny"
          class="p-1 mx-1 text-center rounded-full text-medium"
        />
      </label>
    </div>
    <div class="col-span-3 sm:col-span-1">
      <label class="flex items-center justify-center p-1 font-semibold"
        >Captain
        <input
          type="checkbox"
          formControlName="captCheck"
          class="mx-1 text-medium"
      /></label>
      <div
        *ngIf="pokemonForm.get('captCheck')?.value"
        formGroupName="capt"
        class="flex items-center justify-center"
      >
        <label class="p-1">
          Z:
          <input
            type="checkbox"
            formControlName="z"
            class="p-1 mx-1 text-center rounded-full text-medium"
          />
        </label>
        <label class="p-1"
          >Tera
          <input
            type="checkbox"
            formControlName="teraCheck"
            class="mx-1 text-medium"
          />
        </label>
      </div>
    </div>
    <div class="flex items-center justify-center col-span-2 sm:col-span-1">
      <div
        class="w-1/2 p-1 border-2 rounded-full bg-menu-100 border-menu-400 hover:bg-menu-300"
        (click)="deletePokemonEvent.emit(formIndex)"
      >
        <trash-svg title="Delete"></trash-svg>
      </div>
    </div>
  </div>
  <div formGroupName="capt" class="w-full px-8 col-span-full">
    <div
      *ngIf="
        pokemonForm.get('capt.teraCheck')?.value &&
        pokemonForm.get('captCheck')?.value
      "
      formGroupName="tera"
      class="flex justify-between"
    >
      <div class="flex justify-center p-1">
        <button
          class="bg-menu-100 text-sm px-2 w-fit border-2 rounded-lg border-menu-300 text-center hover:bg-menu-200"
          (click)="allTera()"
        >
          All
        </button>
      </div>
      <div
        *ngFor="let type of teraTypes"
        class="flex justify-center items-center space-x-1"
      >
        <div
          class="relative flex items-center justify-center cursor-pointer"
          (click)="toggleTeraType(type)"
          [ngClass]="{
            'opacity-40': !pokemonForm.get('capt.tera.' + type)?.value,
          }"
        >
          <img
            class="h-6 aspect-square sprite-border p-0.5 rounded-full"
            src="../../../assets/icons/tera_types/Tera{{ type }}.png"
            onerror="this.src='../../../assets/icons/types/Unknown.png'"
            alt="{{ type }}"
          />
        </div>
      </div>
    </div>
  </div>
  <!-- {{ pokemonForm.value | json }} -->
</form>
