<form [formGroup]="pokemonForm" autocomplete="off">
  <div class="flex items-center w-full">
    <sprite
      class="w-1/8"
      [pokemon]="{
        pid: pokemonForm.value.pid,
        name: pokemonForm.value.name,
        shiny: pokemonForm.value.shiny
      }"
    ></sprite>
    <div class="relative w-1/2">
      <label class="p-1 font-semibold">Name</label>
      <input
        formControlName="name"
        class="w-full px-4 py-1 mx-1 rounded-full bg-slate-100text-medium"
        (keyup.enter)="this.addPokemonEvent.emit()"
      />
      <filter
        [query]="pokemonForm.value.name"
        (querySelected)="resultSelected($event)"
      ></filter>
      <div
        *ngIf="
          pokemonForm.get('name')?.touched && pokemonForm.get('name')?.invalid
        "
      >
        Invalid name
      </div>
    </div>
    <div class="w-1/8">
      <label class="flex items-center justify-center p-1 font-semibold"
        >Shiny
        <input
          type="checkbox"
          formControlName="shiny"
          class="p-1 mx-1 text-center rounded-full text-medium"
        />
      </label>
    </div>
    <div class="w-1/6">
      <label class="flex items-center justify-center p-1 font-semibold"
        >Captain
        <input
          type="checkbox"
          formControlName="captCheck"
          class="mx-1 text-medium"
      /></label>
      <div
        *ngIf="pokemonForm.get('captCheck')?.value"
        formGroupName="capt"
        class="flex items-center justify-center"
      >
        <label class="p-1">
          Z:
          <input
            type="checkbox"
            formControlName="z"
            class="p-1 mx-1 text-center rounded-full text-medium"
          />
        </label>
        <label class="p-1"
          >Tera
          <input
            type="checkbox"
            formControlName="teraCheck"
            class="mx-1 text-medium"
          />
        </label>
      </div>
    </div>
    <div class="flex items-center justify-center w-1/12">
      <div
        class="w-1/2 p-1 border-2 rounded-full bg-slate-100 border-slate-400 hover:bg-slate-300"
        (click)="deletePokemonEvent.emit(formIndex)"
      >
        <img src="../../../assets/icons/trash.svg" title="Delete" />
      </div>
    </div>
  </div>
  <div formGroupName="capt" class="w-full px-8">
    <div
      *ngIf="pokemonForm.get('capt.teraCheck')?.value"
      formGroupName="tera"
      class="grid grid-cols-19"
    >
      <div
        *ngFor="let type of teraTypes"
        class="flex flex-col items-center space-y-1"
      >
        <img
          class=""
          src="https://play.pokemonshowdown.com/sprites/types/{{ type }}.png"
          alt="{{ type }}"
        />
        <input
          type="checkbox"
          formControlName="{{ type }}"
          class="mx-auto rounded-full text-medium"
        />
      </div>
    </div>
  </div>
</form>
