:host {
  .bracket-container {
    width: 100%;
    overflow-x: auto;
    background-color: white;
  }

  ::ng-deep .node {
    .node-placeholder {
      font-style: italic;
      font-size: 0.7em;
      font-family: var(--pdz-fancy);
      line-height: 1em;
      fill: #bbb;
      text-anchor: middle;
      dominant-baseline: central;
      user-select: none;
    }

    rect {
      stroke-width: 2px;
      stroke: #ccc;

      &.undecided {
        stroke: steelblue;
      }
      &.winner {
        stroke: lightgreen;
      }
      &.loser {
        stroke: lightcoral;
      }
    }

    .seed {
      font: 12px var(--pdz-fancy);
      fill: var(--mat-sys-secondary);
      text-anchor: middle;
      dominant-baseline: central;
    }

    .matchup-text {
      fill: #777;
      font: 12px var(--pdz-fancy);
      font-style: italic;
      text-anchor: middle;
      dominant-baseline: central;
      font-size: 0.8em;
      line-height: 1em;
    }

    .matchup-link {
      font-family: "Material Symbols Outlined";
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      dominant-baseline: central;
      direction: ltr;
      -webkit-font-feature-settings: "liga";
      font-feature-settings: "liga";
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      fill: var(--mat-sys-secondary);
      cursor: pointer;
      &:hover {
        fill: var(--mat-sys-primary);
      }
    }
  }

  ::ng-deep svg {
    display: block;
    margin: auto;
  }

  ::ng-deep .node-team {
    padding: 0 0.25rem;
    height: 100%;
    box-sizing: border-box;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    column-gap: 0.25rem;
    border-radius: 0.5rem;
    .team-logo {
      flex-shrink: 0;
      height: 32px;
      overflow: hidden;
      display: flex;
      align-items: center;
      aspect-ratio: 1 / 1;
    }

    .team-info {
      flex-grow: 1;
      overflow: hidden;
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: space-evenly;
      .coach-info {
        justify-content: space-between;
        display: flex;
        font-size: 0.7em;
        color: var(--mat-sys-primary);
        line-height: 0.9em;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
      }
      .team-name {
        white-space: nowrap;
        overflow: hidden;
        font-size: 0.8em;
        line-height: 1em;
        text-overflow: ellipsis;
      }
    }
    .team-score {
      padding: 0 0.25rem;
      flex-shrink: 0;
      font-size: 1em;
    }
  }
}
